# Phase 5 Capstone

# Predicting Obesity/ Obesity Prediction

- Student name: Lucas Wilkerson
- Student pace: Flex/part time
- Scheduled project review date/time:
- Instructor name: Morgan Jones

## Business Understanding

## Data Understanding

## Data Preparation

## Modeling

## Evaluation

## Deployment

In [1]:
# Importing standard Packages 
import pandas as pd
import numpy as np
import math 
import zipfile

# Importing packages for visualization 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Importing packages for statistics
import statsmodels.api as sm
from scipy import stats
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import sklearn.metrics as metrics
from scipy.stats import kstest

import os

In [2]:
# Function to load dataset 

def load_csv_from_zip(zip_file_path, csv_file_name):
    
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        # Check if the CSV file exists in the zip file
        if csv_file_name in zip_ref.namelist():
            # Read the CSV file directly into a DataFrame
            with zip_ref.open(csv_file_name) as csv_file:
                df = pd.read_csv(csv_file)
                return df
        else:
            print(f"CSV file '{csv_file_name}' not found in the zip file.")
            return None

zip_file_path = "data/brfss2022.csv.zip"
csv_file_name = "brfss2022.csv"
df = load_csv_from_zip(zip_file_path, csv_file_name)
if df is not None:
    print("CSV file loaded successfully!")
    print(df.head())  # Display the first few rows of the DataFrame

CSV file loaded successfully!
   _STATE  FMONTH    IDATE  IMONTH  IDAY  IYEAR  DISPCODE       SEQNO  \
0     1.0     1.0  2032022       2     3   2022    1100.0  2022000001
1     1.0     1.0  2042022       2     4   2022    1100.0  2022000002
2     1.0     1.0  2022022       2     2   2022    1100.0  2022000003
3     1.0     1.0  2032022       2     3   2022    1100.0  2022000004
4     1.0     1.0  2022022       2     2   2022    1100.0  2022000005

           _PSU  CTELENM1  ...  _SMOKGRP  _LCSREC  DRNKANY6      DROCDY4_  \
0  2.022000e+09       1.0  ...       4.0      NaN       2.0  5.397605e-79
1  2.022000e+09       1.0  ...       4.0      NaN       2.0  5.397605e-79
2  2.022000e+09       1.0  ...       4.0      NaN       2.0  5.397605e-79
3  2.022000e+09       1.0  ...       3.0      2.0       2.0  5.397605e-79
4  2.022000e+09       1.0  ...       4.0      NaN       1.0  1.000000e+01

   _RFBING6      _DRNKWK2  _RFDRHV8  _FLSHOT7  _PNEUMO3  _AIDTST4
0       1.0  5.397605e-79       1.0       1.0       2.0       2.0
1       1.0  5.397605e-79       1.0       2.0       2.0       2.0
2       1.0  5.397605e-79       1.0       NaN       NaN       2.0
3       1.0  5.397605e-79       1.0       9.0       9.0       2.0
4       1.0  1.400000e+02       1.0       NaN       NaN       2.0

[5 rows x 326 columns]

In [3]:
# Previewing df shape
df.shape

(445132, 326)

In [4]:
# Previewing general information on dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Columns: 326 entries, _STATE to _AIDTST4
dtypes: float64(321), int64(5)
memory usage: 1.1 GB
None

Looking at the initial dataset information, this dataset contains 445132 entries with a total of 326 columns with datatypes being integers and floats. While there are some numerical columns, a good amount of the columns are categoricla/numerical. The many columns represent  various health-related risk behaviors, chronic health conditions, demographics, location, and even the use of preventive services along with other variables.

In [5]:
#Previewing first 10 rows 
df.head(10)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,2032022,2,3,2022,1100.0,2022000001,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,2042022,2,4,2022,1100.0,2022000002,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,2022022,2,2,2022,1100.0,2022000003,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,1.0,1.0,2032022,2,3,2022,1100.0,2022000004,2.022000e+09,1.0,...,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,1.0,1.0,2022022,2,2,2022,1100.0,2022000005,2.022000e+09,1.0,...,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0
5,1.0,1.0,2112022,2,11,2022,1100.0,2022000006,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,1.0,2.0
6,1.0,1.0,2032022,2,3,2022,1100.0,2022000007,2.022000e+09,1.0,...,3.0,NaN,1.0,1.700000e+01,1.0,2.330000e+02,1.0,2.0,2.0,2.0
7,1.0,1.0,2092022,2,9,2022,1100.0,2022000008,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
8,1.0,1.0,2022022,2,2,2022,1100.0,2022000009,2.022000e+09,1.0,...,3.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,1.0
9,1.0,1.0,2072022,2,7,2022,1100.0,2022000010,2.022000e+09,1.0,...,4.0,NaN,1.0,3.000000e+00,1.0,2.300000e+01,1.0,1.0,1.0,9.0

In [6]:
#Previewing first 10 rows 
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
_STATE,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.0,1.000000e+00,1.000000e+00,1.0
FMONTH,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.0,1.000000e+00,1.000000e+00,1.0
IDATE,2.032022e+06,2.042022e+06,2.022022e+06,2.032022e+06,2022022.0,2.112022e+06,2032022.0,2.092022e+06,2.022022e+06,2072022.0
IMONTH,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.0,2.000000e+00,2.0,2.000000e+00,2.000000e+00,2.0
IDAY,3.000000e+00,4.000000e+00,2.000000e+00,3.000000e+00,2.0,1.100000e+01,3.0,9.000000e+00,2.000000e+00,7.0
...,...,...,...,...,...,...,...,...,...,...
_DRNKWK2,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,140.0,5.397605e-79,233.0,5.397605e-79,5.397605e-79,23.0
_RFDRHV8,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.0,1.000000e+00,1.000000e+00,1.0
_FLSHOT7,1.000000e+00,2.000000e+00,NaN,9.000000e+00,NaN,2.000000e+00,2.0,1.000000e+00,2.000000e+00,1.0
_PNEUMO3,2.000000e+00,2.000000e+00,NaN,9.000000e+00,NaN,1.000000e+00,2.0,1.000000e+00,2.000000e+00,1.0
_AIDTST4,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.0,2.000000e+00,2.0,2.000000e+00,1.000000e+00,9.0

In [7]:
# Previewing columns 
print(df.columns)

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       '_SMOKGRP', '_LCSREC', 'DRNKANY6', 'DROCDY4_', '_RFBING6', '_DRNKWK2',
       '_RFDRHV8', '_FLSHOT7', '_PNEUMO3', '_AIDTST4'],
      dtype='object', length=326)

In [8]:
#Looping to get all column names and data types
for col in df.columns:
    print(f"Column: {col}, Data Type: {df[col].dtype}")

Column: _STATE, Data Type: float64
Column: FMONTH, Data Type: float64
Column: IDATE, Data Type: int64
Column: IMONTH, Data Type: int64
Column: IDAY, Data Type: int64
Column: IYEAR, Data Type: int64
Column: DISPCODE, Data Type: float64
Column: SEQNO, Data Type: int64
Column: _PSU, Data Type: float64
Column: CTELENM1, Data Type: float64
Column: PVTRESD1, Data Type: float64
Column: COLGHOUS, Data Type: float64
Column: STATERE1, Data Type: float64
Column: CELPHON1, Data Type: float64
Column: LADULT1, Data Type: float64
Column: COLGSEX1, Data Type: float64
Column: NUMADULT, Data Type: float64
Column: LANDSEX1, Data Type: float64
Column: NUMMEN, Data Type: float64
Column: NUMWOMEN, Data Type: float64
Column: RESPSLCT, Data Type: float64
Column: SAFETIME, Data Type: float64
Column: CTELNUM1, Data Type: float64
Column: CELLFON5, Data Type: float64
Column: CADULT1, Data Type: float64
Column: CELLSEX1, Data Type: float64
Column: PVTRESD3, Data Type: float64
Column: CCLGHOUS, Data Type: float64
Column: CSTATE1, Data Type: float64
Column: LANDLINE, Data Type: float64
Column: HHADULT, Data Type: float64
Column: SEXVAR, Data Type: float64
Column: GENHLTH, Data Type: float64
Column: PHYSHLTH, Data Type: float64
Column: MENTHLTH, Data Type: float64
Column: POORHLTH, Data Type: float64
Column: PRIMINSR, Data Type: float64
Column: PERSDOC3, Data Type: float64
Column: MEDCOST1, Data Type: float64
Column: CHECKUP1, Data Type: float64
Column: EXERANY2, Data Type: float64
Column: SLEPTIM1, Data Type: float64
Column: LASTDEN4, Data Type: float64
Column: RMVTETH4, Data Type: float64
Column: CVDINFR4, Data Type: float64
Column: CVDCRHD4, Data Type: float64
Column: CVDSTRK3, Data Type: float64
Column: ASTHMA3, Data Type: float64
Column: ASTHNOW, Data Type: float64
Column: CHCSCNC1, Data Type: float64
Column: CHCOCNC1, Data Type: float64
Column: CHCCOPD3, Data Type: float64
Column: ADDEPEV3, Data Type: float64
Column: CHCKDNY2, Data Type: float64
Column: HAVARTH4, Data Type: float64
Column: DIABETE4, Data Type: float64
Column: DIABAGE4, Data Type: float64
Column: MARITAL, Data Type: float64
Column: EDUCA, Data Type: float64
Column: RENTHOM1, Data Type: float64
Column: NUMHHOL4, Data Type: float64
Column: NUMPHON4, Data Type: float64
Column: CPDEMO1C, Data Type: float64
Column: VETERAN3, Data Type: float64
Column: EMPLOY1, Data Type: float64
Column: CHILDREN, Data Type: float64
Column: INCOME3, Data Type: float64
Column: PREGNANT, Data Type: float64
Column: WEIGHT2, Data Type: float64
Column: HEIGHT3, Data Type: float64
Column: DEAF, Data Type: float64
Column: BLIND, Data Type: float64
Column: DECIDE, Data Type: float64
Column: DIFFWALK, Data Type: float64
Column: DIFFDRES, Data Type: float64
Column: DIFFALON, Data Type: float64
Column: HADMAM, Data Type: float64
Column: HOWLONG, Data Type: float64
Column: CERVSCRN, Data Type: float64
Column: CRVCLCNC, Data Type: float64
Column: CRVCLPAP, Data Type: float64
Column: CRVCLHPV, Data Type: float64
Column: HADHYST2, Data Type: float64
Column: HADSIGM4, Data Type: float64
Column: COLNSIGM, Data Type: float64
Column: COLNTES1, Data Type: float64
Column: SIGMTES1, Data Type: float64
Column: LASTSIG4, Data Type: float64
Column: COLNCNCR, Data Type: float64
Column: VIRCOLO1, Data Type: float64
Column: VCLNTES2, Data Type: float64
Column: SMALSTOL, Data Type: float64
Column: STOLTEST, Data Type: float64
Column: STOOLDN2, Data Type: float64
Column: BLDSTFIT, Data Type: float64
Column: SDNATES1, Data Type: float64
Column: SMOKE100, Data Type: float64
Column: SMOKDAY2, Data Type: float64
Column: USENOW3, Data Type: float64
Column: ECIGNOW2, Data Type: float64
Column: LCSFIRST, Data Type: float64
Column: LCSLAST, Data Type: float64
Column: LCSNUMCG, Data Type: float64
Column: LCSCTSC1, Data Type: float64
Column: LCSSCNCR, Data Type: float64
Column: LCSCTWHN, Data Type: float64
Column: ALCDAY4, Data Type: float64
Column: AVEDRNK3, Data Type: float64
Column: DRNK3GE5, Data Type: float64
Column: MAXDRNKS, Data Type: float64
Column: FLUSHOT7, Data Type: float64
Column: FLSHTMY3, Data Type: float64
Column: PNEUVAC4, Data Type: float64
Column: TETANUS1, Data Type: float64
Column: HIVTST7, Data Type: float64
Column: HIVTSTD3, Data Type: float64
Column: HIVRISK5, Data Type: float64
Column: COVIDPOS, Data Type: float64
Column: COVIDSMP, Data Type: float64
Column: COVIDPRM, Data Type: float64
Column: PDIABTS1, Data Type: float64
Column: PREDIAB2, Data Type: float64
Column: DIABTYPE, Data Type: float64
Column: INSULIN1, Data Type: float64
Column: CHKHEMO3, Data Type: float64
Column: EYEEXAM1, Data Type: float64
Column: DIABEYE1, Data Type: float64
Column: DIABEDU1, Data Type: float64
Column: FEETSORE, Data Type: float64
Column: TOLDCFS, Data Type: float64
Column: HAVECFS, Data Type: float64
Column: WORKCFS, Data Type: float64
Column: IMFVPLA3, Data Type: float64
Column: HPVADVC4, Data Type: float64
Column: HPVADSHT, Data Type: float64
Column: SHINGLE2, Data Type: float64
Column: COVIDVA1, Data Type: float64
Column: COVIDNU1, Data Type: float64
Column: COVIDFS1, Data Type: float64
Column: COVIDSE1, Data Type: float64
Column: COPDCOGH, Data Type: float64
Column: COPDFLEM, Data Type: float64
Column: COPDBRTH, Data Type: float64
Column: COPDBTST, Data Type: float64
Column: COPDSMOK, Data Type: float64
Column: CNCRDIFF, Data Type: float64
Column: CNCRAGE, Data Type: float64
Column: CNCRTYP2, Data Type: float64
Column: CSRVTRT3, Data Type: float64
Column: CSRVDOC1, Data Type: float64
Column: CSRVSUM, Data Type: float64
Column: CSRVRTRN, Data Type: float64
Column: CSRVINST, Data Type: float64
Column: CSRVINSR, Data Type: float64
Column: CSRVDEIN, Data Type: float64
Column: CSRVCLIN, Data Type: float64
Column: CSRVPAIN, Data Type: float64
Column: CSRVCTL2, Data Type: float64
Column: PSATEST1, Data Type: float64
Column: PSATIME1, Data Type: float64
Column: PCPSARS2, Data Type: float64
Column: PSASUGST, Data Type: float64
Column: PCSTALK1, Data Type: float64
Column: CIMEMLOS, Data Type: float64
Column: CDHOUSE, Data Type: float64
Column: CDASSIST, Data Type: float64
Column: CDHELP, Data Type: float64
Column: CDSOCIAL, Data Type: float64
Column: CDDISCUS, Data Type: float64
Column: CAREGIV1, Data Type: float64
Column: CRGVREL4, Data Type: float64
Column: CRGVLNG1, Data Type: float64
Column: CRGVHRS1, Data Type: float64
Column: CRGVPRB3, Data Type: float64
Column: CRGVALZD, Data Type: float64
Column: CRGVPER1, Data Type: float64
Column: CRGVHOU1, Data Type: float64
Column: CRGVEXPT, Data Type: float64
Column: ACEDEPRS, Data Type: float64
Column: ACEDRINK, Data Type: float64
Column: ACEDRUGS, Data Type: float64
Column: ACEPRISN, Data Type: float64
Column: ACEDIVRC, Data Type: float64
Column: ACEPUNCH, Data Type: float64
Column: ACEHURT1, Data Type: float64
Column: ACESWEAR, Data Type: float64
Column: ACETOUCH, Data Type: float64
Column: ACETTHEM, Data Type: float64
Column: ACEHVSEX, Data Type: float64
Column: ACEADSAF, Data Type: float64
Column: ACEADNED, Data Type: float64
Column: LSATISFY, Data Type: float64
Column: EMTSUPRT, Data Type: float64
Column: SDHISOLT, Data Type: float64
Column: SDHEMPLY, Data Type: float64
Column: FOODSTMP, Data Type: float64
Column: SDHFOOD1, Data Type: float64
Column: SDHBILLS, Data Type: float64
Column: SDHUTILS, Data Type: float64
Column: SDHTRNSP, Data Type: float64
Column: SDHSTRE1, Data Type: float64
Column: MARIJAN1, Data Type: float64
Column: MARJSMOK, Data Type: float64
Column: MARJEAT, Data Type: float64
Column: MARJVAPE, Data Type: float64
Column: MARJDAB, Data Type: float64
Column: MARJOTHR, Data Type: float64
Column: USEMRJN4, Data Type: float64
Column: LASTSMK2, Data Type: float64
Column: STOPSMK2, Data Type: float64
Column: MENTCIGS, Data Type: float64
Column: MENTECIG, Data Type: float64
Column: HEATTBCO, Data Type: float64
Column: ASBIALCH, Data Type: float64
Column: ASBIDRNK, Data Type: float64
Column: ASBIBING, Data Type: float64
Column: ASBIADVC, Data Type: float64
Column: ASBIRDUC, Data Type: float64
Column: FIREARM5, Data Type: float64
Column: GUNLOAD, Data Type: float64
Column: LOADULK2, Data Type: float64
Column: RCSGEND1, Data Type: float64
Column: RCSXBRTH, Data Type: float64
Column: RCSRLTN2, Data Type: float64
Column: CASTHDX2, Data Type: float64
Column: CASTHNO2, Data Type: float64
Column: BIRTHSEX, Data Type: float64
Column: SOMALE, Data Type: float64
Column: SOFEMALE, Data Type: float64
Column: TRNSGNDR, Data Type: float64
Column: HADSEX, Data Type: float64
Column: PFPPRVN4, Data Type: float64
Column: TYPCNTR9, Data Type: float64
Column: BRTHCNT4, Data Type: float64
Column: WHEREGET, Data Type: float64
Column: NOBCUSE8, Data Type: float64
Column: BCPREFER, Data Type: float64
Column: RRCLASS3, Data Type: float64
Column: RRCOGNT2, Data Type: float64
Column: RRTREAT, Data Type: float64
Column: RRATWRK2, Data Type: float64
Column: RRHCARE4, Data Type: float64
Column: RRPHYSM2, Data Type: float64
Column: QSTVER, Data Type: float64
Column: QSTLANG, Data Type: float64
Column: _METSTAT, Data Type: float64
Column: _URBSTAT, Data Type: float64
Column: MSCODE, Data Type: float64
Column: _STSTR, Data Type: float64
Column: _STRWT, Data Type: float64
Column: _RAWRAKE, Data Type: float64
Column: _WT2RAKE, Data Type: float64
Column: _IMPRACE, Data Type: float64
Column: _CHISPNC, Data Type: float64
Column: _CRACE2, Data Type: float64
Column: _CPRACE2, Data Type: float64
Column: CAGEG, Data Type: float64
Column: _CLLCPWT, Data Type: float64
Column: _DUALUSE, Data Type: float64
Column: _DUALCOR, Data Type: float64
Column: _LLCPWT2, Data Type: float64
Column: _LLCPWT, Data Type: float64
Column: _RFHLTH, Data Type: float64
Column: _PHYS14D, Data Type: float64
Column: _MENT14D, Data Type: float64
Column: _HLTHPLN, Data Type: float64
Column: _HCVU652, Data Type: float64
Column: _TOTINDA, Data Type: float64
Column: _EXTETH3, Data Type: float64
Column: _ALTETH3, Data Type: float64
Column: _DENVST3, Data Type: float64
Column: _MICHD, Data Type: float64
Column: _LTASTH1, Data Type: float64
Column: _CASTHM1, Data Type: float64
Column: _ASTHMS1, Data Type: float64
Column: _DRDXAR2, Data Type: float64
Column: _PRACE2, Data Type: float64
Column: _MRACE2, Data Type: float64
Column: _HISPANC, Data Type: float64
Column: _RACE1, Data Type: float64
Column: _RACEG22, Data Type: float64
Column: _RACEGR4, Data Type: float64
Column: _RACEPR1, Data Type: float64
Column: _SEX, Data Type: float64
Column: _AGEG5YR, Data Type: float64
Column: _AGE65YR, Data Type: float64
Column: _AGE80, Data Type: float64
Column: _AGE_G, Data Type: float64
Column: HTIN4, Data Type: float64
Column: HTM4, Data Type: float64
Column: WTKG3, Data Type: float64
Column: _BMI5, Data Type: float64
Column: _BMI5CAT, Data Type: float64
Column: _RFBMI5, Data Type: float64
Column: _CHLDCNT, Data Type: float64
Column: _EDUCAG, Data Type: float64
Column: _INCOMG1, Data Type: float64
Column: _RFMAM22, Data Type: float64
Column: _MAM5023, Data Type: float64
Column: _HADCOLN, Data Type: float64
Column: _CLNSCP1, Data Type: float64
Column: _HADSIGM, Data Type: float64
Column: _SGMSCP1, Data Type: float64
Column: _SGMS101, Data Type: float64
Column: _RFBLDS5, Data Type: float64
Column: _STOLDN1, Data Type: float64
Column: _VIRCOL1, Data Type: float64
Column: _SBONTI1, Data Type: float64
Column: _CRCREC2, Data Type: float64
Column: _SMOKER3, Data Type: float64
Column: _RFSMOK3, Data Type: float64
Column: _CURECI2, Data Type: float64
Column: _YRSSMOK, Data Type: float64
Column: _PACKDAY, Data Type: float64
Column: _PACKYRS, Data Type: float64
Column: _YRSQUIT, Data Type: float64
Column: _SMOKGRP, Data Type: float64
Column: _LCSREC, Data Type: float64
Column: DRNKANY6, Data Type: float64
Column: DROCDY4_, Data Type: float64
Column: _RFBING6, Data Type: float64
Column: _DRNKWK2, Data Type: float64
Column: _RFDRHV8, Data Type: float64
Column: _FLSHOT7, Data Type: float64
Column: _PNEUMO3, Data Type: float64
Column: _AIDTST4, Data Type: float64

In [9]:
#Inspecting unique values and value counts for all variables
for col in df:
    print(f"{col} - unique values: ")
    print(df[col].unique(), "\n")
    print("------------------------------------")

_STATE - unique values:
[ 1.  2.  4.  5.  6.  8.  9. 10. 11. 12. 13. 15. 16. 17. 18. 19. 20. 21.
 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36. 37. 38. 39.
 40. 41. 42. 44. 45. 46. 47. 48. 49. 50. 51. 53. 54. 55. 56. 66. 72. 78.]

------------------------------------
FMONTH - unique values:
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12.]

------------------------------------
IDATE - unique values:
[ 2032022  2042022  2022022  2112022  2092022  2072022  2102022  2182022
  2162022  2152022  2242022  2172022  3142022  3032022  3082022  3112022
  3102022  3092022  2142022  2212022  2082022  2232022  2222022  2252022
  3152022  3022022  3072022  2052022  3162022  3042022  3172022  2132022
  3182022  4192022  4202022  4182022  4222022  4272022  4282022  4262022
  5022022  5122022  5042022  5102022  5172022  5262022  5232022  6012022
  6302022  6242022  6232022  6212022  6172022  6162022  6152022  5032022
  5252022  6282022  5312022  4252022  5052022  6272022  6222022  4292022
  5242022  4212022  5112022  6022022  7062022  7132022  7192022  7202022
  7182022  7272022  8082022  8042022  8022022  8152022  8112022  8162022
  8192022  9122022  9022022  9232022  9062022  9192022  9012022  9262022
  9212022  7222022  7212022  8102022  8052022  8032022  9162022  9072022
  7262022  7112022  9222022  9132022  8182022  7052022  8092022  7122022
  7142022  9142022  8172022  9082022  7252022  9092022  9202022  9272022
 10052022 10122022 10202022 10102022 10142022 10062022 10182022 11032022
 11152022 11072022 11212022 11042022 12072022 12012022 12052022 12272022
 12202022 12082022 12142022 10192022 10042022 11082022 11052022 11292022
 11092022 12122022 12132022 12152022 12192022 10072022 10112022 11282022
 12062022 11112022 11172022 11102022 12282022 11162022 11302022 11142022
 12212022 12222022 10172022 12092022  1032023  1042023  3302022  3012022
  2282022  2272022  3062022  3222022  3252022  3212022  3232022  3242022
  3272022  3122022  3282022  5062022  5092022  4232022  4302022  5202022
  6072022  6102022  6032022  6062022  5272022  6082022  5182022  5132022
  5192022  6092022  5162022  7102022  7092022  7012022  6292022  7082022
  7072022  7232022  7162022  7282022  8012022  7292022  7152022  8242022
  8302022  8312022  8222022  8232022  8252022  8122022  8132022  8272022
  8292022  8262022  8202022  8062022  9112022  9282022  9152022 10032022
  9292022  9172022  9302022 10012022  9102022  9242022  9252022 11012022
 10262022 10242022 11022022 10312022 10252022 10272022 10082022 10292022
 10282022 10132022 10212022 10222022 10152022 11222022 11202022 12162022
 11192022 12022022 11182022 11122022 12032022 11232022 11262022 11252022
 12102022 12182022  1112023  1092023  1102023  1072023  1052023 12172022
  1122023 12292022  1132023  1062023  1242022  6252022  7172022 10022022
  3132022  5082022  6132022  6142022  9182022 12232022  4142022  4112022
  5152022  6202022  6112022  6182022 10092022  2122022  1182022  6262022
  3292022 10302022  4052022  1022023  2062022  4162022  2192022  7312022
  1292023  2012023  2042023  2112023 12302022  1212022  4092022  1252022
  5282022  4102022  1272022  1222022  1142023  1302022  2202022  1202022
  2012022  1232022  1282022  1262022  1192022  3052022  3262022  4082022
  1292022  4022022  4032022  4132022  4242022  4152022  4122022  6122022
  5142022  5012022  7032022  7302022  9052022  8282022 10232022 12262022
  1162023  1082023 11272022 12042022  2262022  1142022  1172022  1152022
  1162022  3192022  4062022  4072022  4012022  4172022  4042022  5072022
  5212022  5222022  6042022  5292022  6052022  6192022  8212022  8142022
  8072022 11062022 12112022 12312022  7022022  1272023  1252023  1312022
  3312022  3202022  1122022  9032022  1182023  1172023  7242022  2022023
  1282023 10162022  1242023 11132022  1152023  1112022  1222023  1132022
  5302022  9042022 12242022  1012023  1192023  2132023  7042022  1212023
  1262023  1302023  2062023  1202023  1312023  1232023  2052023  2152023
  1062022  1102022  1072022  2122023  1092022  2142023  1052022  1042022
  1082022  2082023  2072023  2032023  2092023  2102023  7002022  2162023
  2172023  2192023  2202023  2212023 11242022]

------------------------------------
IMONTH - unique values:
[ 2  3  4  5  6  7  8  9 10 11 12  1]

------------------------------------
IDAY - unique values:
[ 3  4  2 11  9  7 10 18 16 15 24 17 14  8 21 23 22 25  5 13 19 20 27 28
 26 12  1 30 31 29  6  0]

------------------------------------
IYEAR - unique values:
[2022 2023]

------------------------------------
DISPCODE - unique values:
[1100. 1200.]

------------------------------------
SEQNO - unique values:
[2022000001 2022000002 2022000003 ... 2022026150 2022026151 2022026152]

------------------------------------
_PSU - unique values:
[2.02200000e+09 2.02200000e+09 2.02200000e+09 ... 2.02202615e+09
 2.02202615e+09 2.02202615e+09]

------------------------------------
CTELENM1 - unique values:
[ 1. nan  2.]

------------------------------------
PVTRESD1 - unique values:
[ 1.  2. nan]

------------------------------------
COLGHOUS - unique values:
[nan  1.]

------------------------------------
STATERE1 - unique values:
[ 1. nan]

------------------------------------
CELPHON1 - unique values:
[ 2. nan  1.]

------------------------------------
LADULT1 - unique values:
[ 1.  2. nan]

------------------------------------
COLGSEX1 - unique values:
[nan  1.  2.]

------------------------------------
NUMADULT - unique values:
[ 2.  1.  3.  4.  5. nan  6. 18.  7. 10.  9.  8. 11. 12. 15. 21. 17.]

------------------------------------
LANDSEX1 - unique values:
[           nan 2.00000000e+00 1.00000000e+00 5.39760535e-79
 7.00000000e+00 9.00000000e+00 3.00000000e+00]

------------------------------------
NUMMEN - unique values:
[1.00000000e+00            nan 2.00000000e+00 5.39760535e-79
 3.00000000e+00 4.00000000e+00 5.00000000e+00 6.00000000e+00
 7.00000000e+00 1.00000000e+01 1.60000000e+01 1.50000000e+01
 1.20000000e+01]

------------------------------------
NUMWOMEN - unique values:
[1.00000000e+00            nan 2.00000000e+00 3.00000000e+00
 5.39760535e-79 5.00000000e+00 4.00000000e+00 1.70000000e+01
 6.00000000e+00 8.00000000e+00 7.00000000e+00 1.10000000e+01
 1.50000000e+01 1.00000000e+01 7.70000000e+01]

------------------------------------
RESPSLCT - unique values:
[ 2. nan  1.  7.  3.]

------------------------------------
SAFETIME - unique values:
[nan  1.]

------------------------------------
CTELNUM1 - unique values:
[nan  1.  2.]

------------------------------------
CELLFON5 - unique values:
[nan  1.  2.]

------------------------------------
CADULT1 - unique values:
[nan  1.]

------------------------------------
CELLSEX1 - unique values:
[nan  2.  1.  3.  9.  7.]

------------------------------------
PVTRESD3 - unique values:
[nan  1.  2.]

------------------------------------
CCLGHOUS - unique values:
[nan  1.]

------------------------------------
CSTATE1 - unique values:
[nan  1.  2.]

------------------------------------
LANDLINE - unique values:
[nan  2.  1.  7.  9.]

------------------------------------
HHADULT - unique values:
[           nan 2.00000000e+00 4.00000000e+00 1.00000000e+00
 3.00000000e+00 8.00000000e+00 6.00000000e+00 5.00000000e+00
 9.90000000e+01 7.70000000e+01 1.20000000e+01 7.00000000e+00
 1.10000000e+01 1.30000000e+01 1.00000000e+01 1.50000000e+01
 9.00000000e+00 1.40000000e+01 1.70000000e+01 1.60000000e+01
 2.20000000e+01 1.80000000e+01 4.00000000e+01 2.30000000e+01
 4.40000000e+01 3.00000000e+01 5.39760535e-79 8.80000000e+01
 2.10000000e+01 5.50000000e+01 2.00000000e+01 3.30000000e+01
 6.00000000e+01 4.50000000e+01 5.10000000e+01 5.30000000e+01
 5.40000000e+01]

------------------------------------
SEXVAR - unique values:
[2. 1.]

------------------------------------
GENHLTH - unique values:
[ 2.  1.  4.  5.  3.  9.  7. nan]

------------------------------------
PHYSHLTH - unique values:
[88.  2.  1.  8.  5. 30.  4. 23. 14. 77. 15.  3. 10. 99.  7. 25.  6. 21.
 20. 29. 16.  9. 27. 28. 12. nan 13. 11. 26. 17. 24. 19. 18. 22.]

------------------------------------
MENTHLTH - unique values:
[88.  3.  9.  5. 15. 20. 14. 10. 18.  1. 77.  2. 30.  4. 99.  6.  7. 25.
  8. 22. 29. 27. 21. 12. 28. 16. nan 13. 26. 17. 11. 23. 19. 24.]

------------------------------------
POORHLTH - unique values:
[nan  2. 88.  4. 15.  6. 30. 14. 10. 99.  1. 77.  5. 25. 12.  8.  7. 20.
  3. 22. 21. 18. 28. 13.  9. 27. 29. 11. 16. 19. 24. 17. 26. 23.]

------------------------------------
PRIMINSR - unique values:
[99.  3.  1.  7.  2.  4. 10. 88.  5.  9. 77. nan  8.  6.]

------------------------------------
PERSDOC3 - unique values:
[ 1.  2.  7.  3. nan  9.]

------------------------------------
MEDCOST1 - unique values:
[ 2.  1.  7.  9. nan]

------------------------------------
CHECKUP1 - unique values:
[ 1.  8.  7.  2.  3.  4. nan  9.]

------------------------------------
EXERANY2 - unique values:
[ 2.  1. nan  7.  9.]

------------------------------------
SLEPTIM1 - unique values:
[ 8.  6.  5.  7.  9.  4. 10.  1. 12. 77. 18.  3. 99.  2. 11. 16. nan 15.
 13. 14. 20. 23. 17. 24. 22. 19. 21.]

------------------------------------
LASTDEN4 - unique values:
[nan  2.  3.  1.  4.  7.  8.  9.  5.]

------------------------------------
RMVTETH4 - unique values:
[nan  8.  1.  2.  3.  7.  9.]

------------------------------------
CVDINFR4 - unique values:
[ 2.  1.  7.  9. nan]

------------------------------------
CVDCRHD4 - unique values:
[ 2.  1.  7.  9. nan]

------------------------------------
CVDSTRK3 - unique values:
[ 2.  1.  7. nan  9.]

------------------------------------
ASTHMA3 - unique values:
[ 2.  1.  7. nan  9.]

------------------------------------
ASTHNOW - unique values:
[nan  1.  2.  7.  9.]

------------------------------------
CHCSCNC1 - unique values:
[ 2.  1.  7. nan  9.]

------------------------------------
CHCOCNC1 - unique values:
[ 2.  1.  7. nan  9.]

------------------------------------
CHCCOPD3 - unique values:
[ 2.  1. nan  7.  9.]

------------------------------------
ADDEPEV3 - unique values:
[ 2.  1.  9.  7. nan]

------------------------------------
CHCKDNY2 - unique values:
[ 2.  1.  7.  9. nan]

------------------------------------
HAVARTH4 - unique values:
[ 2.  1.  7.  9. nan]

------------------------------------
DIABETE4 - unique values:
[ 1.  3.  4.  9.  2.  7. nan]

------------------------------------
DIABAGE4 - unique values:
[80. nan 70. 98. 60. 58. 69. 40. 75. 85. 47. 43. 57. 55. 45. 35. 63. 59.
 42. 72. 38. 76. 50. 65. 33. 30. 49. 32. 23. 39. 68. 36. 21. 54. 62. 56.
 52. 99. 51. 64. 83. 67. 66. 53. 25. 46. 77. 73. 31.  5. 44. 15. 48. 82.
 61. 74. 88. 18. 17. 20. 19. 13. 28. 16. 34. 10.  7. 26. 29. 78. 37. 41.
 71.  6. 24. 14. 22.  3.  8. 87. 86. 27.  2. 12.  9.  4. 81. 84. 11.  1.
 79. 91. 92. 90. 94. 89. 95. 97. 93. 96.]

------------------------------------
MARITAL - unique values:
[ 1.  3.  2.  4.  5.  6.  9. nan]

------------------------------------
EDUCA - unique values:
[ 6.  4.  5.  3.  2.  9.  1. nan]

------------------------------------
RENTHOM1 - unique values:
[ 1.  2.  3.  9.  7. nan]

------------------------------------
NUMHHOL4 - unique values:
[ 1.  2.  9. nan  7.]

------------------------------------
NUMPHON4 - unique values:
[ 1.  2. nan  3.  4.  6.  9.  7.  8.  5.]

------------------------------------
CPDEMO1C - unique values:
[ 2.  1.  8.  9.  3.  4.  7.  6. nan  5.]

------------------------------------
VETERAN3 - unique values:
[ 2.  1. nan  9.  7.]

------------------------------------
EMPLOY1 - unique values:
[ 7.  2.  5.  1.  8.  4.  3.  9.  6. nan]

------------------------------------
CHILDREN - unique values:
[8.80000000e+01 1.00000000e+00 4.00000000e+00 2.00000000e+00
            nan 3.00000000e+00 5.00000000e+00 9.90000000e+01
 9.00000000e+00 6.00000000e+00 7.00000000e+00 1.40000000e+01
 1.00000000e+01 8.00000000e+00 1.10000000e+01 1.50000000e+01
 2.10000000e+01 1.30000000e+01 1.20000000e+01 2.00000000e+01
 5.50000000e+01 4.20000000e+01 1.70000000e+01 8.10000000e+01
 4.00000000e+01 1.60000000e+01 3.30000000e+01 1.80000000e+01
 3.00000000e+01 2.20000000e+01 4.80000000e+01 8.20000000e+01
 5.39760535e-79 2.30000000e+01 6.10000000e+01 2.50000000e+01]

------------------------------------
INCOME3 - unique values:
[99.  5. 10. 77.  8.  7.  9.  6.  4.  2. 11. nan  3.  1.]

------------------------------------
PREGNANT - unique values:
[nan  2.  1.  9.  7.]

------------------------------------
WEIGHT2 - unique values:
[9999.  150.  140.  119.  187.  138.  162.  180.  165.  131.  188.  235.
  157.  142.  135.  200.  145.  146.  177.  190.  105.  236.  126.  232.
  170.  125.  175.  250.  225.  132.  230.   nan  118.  136.  300.   76.
  220.  280.  174.  210.  130.  203.  160.  185.  110.  260.  158.  227.
 7777.  137.  184.  120.  208.  134.  258.  144.  169.  195.  198.  164.
  152.  176.  239.  199.  123.  202.  104.  172.  112.  201.  186.  320.
  207.  270.  108.  163.  196.  178.  179.  350.  215.  114.  182.  168.
  151.  166.  155.  139.  133.  255.  191.  240.  204.  275.   95.  129.
  141.  205.   98.  284.  218.  100.  244.  103.  128.  161.  211.  289.
  173.  153.  189.  149.  229.  265.  194.  121.  246.  115.  171.  279.
  209.  273.  197.  167.  154.  248.  181.  234.  127.  156.  328.  212.
  148.  106.  360.  242.  222.  315.  143.  245.  267.  122.  224.  206.
  259.  266.  147.   99.  291.  237.  238.   80.  228.  192.  183.  124.
  213.  296.  214.   77.  219.  159.  109.  269.  217.  286.  400.  116.
  268.  243.  107.  310.  345.  257.  193.   97.  252.   70.  216.  223.
  247.  221.  251.  340.  261.  295.  330.   92.  264.  305.  335.  285.
  290.  231.  292.  226.  256.   89.  233.  302.  430.  117.  293.  274.
  249.  253.  101.  263.  370.  113.  380.  358.  102.  282.  272.   85.
  288.  316.  254.  368.  298.  241.  299.  450.  281.  262.  307.  278.
  271.  334.  294.   94.  111. 9080.  420.   82.  326.   78.  318.  329.
   83. 9086.  325. 9281.  365.  359.  343. 9070.  304.  418.  455.  327.
   93.  339.   84. 9090.  390.  423.  550. 9067. 9095. 9082.  375. 9062.
   90. 9053.  308.  287. 9100.  364. 9064.   96. 9024.  297.  312.  276.
 9075. 9060.   75.  363.   68. 9250. 9058. 9076. 9073. 9112. 9074. 9055.
 9200. 9054. 9066. 9072.  336.   87. 9220.   91.  371.  415. 9059. 9046.
 9265.  525.  372. 9145. 9190. 9093.  352. 9078. 9050.  408. 9091. 9104.
 9165.  405.   74.  357. 9068.  277. 9134. 9130.   71.  317. 9069.  395.
 9063. 9105.  465. 9065. 9032.  645. 9280. 9085. 9088.  385. 9056.  283.
 9087.   88. 9083.  374.  344. 9177. 9121.  333. 9089.  324.  322. 9098.
  367.   81.  378.  501.   65.  419.  355.   79.  500.  386.  306.  530.
  349.  376. 9061.  303.  321.  311.  342. 9052. 9120. 9057. 9077. 9300.
   60.   56. 9240. 9096. 9047. 9115. 9041. 9045. 9170.  332.  600.   58.
 9048.   86. 9236. 9092.  435. 9156. 9084. 9094.   64. 9049. 9079.  348.
  425. 9255. 9108. 9185.  490.  507. 9180. 9081.   55. 9071. 9026. 9107.
 9101.  460. 9140. 9175. 9111. 9110.  313.   50.  628.  301. 9210. 9103.
  410.  309.  323.   54.   57. 9150. 9102.  506.   52. 9125. 9163. 9038.
 9135.  389.  409.  337.  513. 9124.  424.  412. 9118.  353. 9305. 9160.
  427.  445.  319.  406.  314. 9169.  366.   72.  398.  433. 9051. 9040.
  379.  432.   73.  338.  351.  738.  362.  777.  485.  475.  402. 9030.
  354.  382. 9158.  470.  609.  440.  388.  520.  480.  441.  509. 9146.
   53.  394.  331.  347.  361.  422.  705.  384.   63. 9097.  565.  453.
  356.  393.  396.  452.  560.  341.  462.  444.  518.  392.  442.  511.
  502.  603.  417.  383.  731.  404.  369.  467.  493.  504.   67.  436.
  407.  710.  552.  401.   69.  640. 9285. 1230.   32. 9113.  535.  510.
  736.  397.  447. 9176.  416.  456.  999. 9164.  346. 9114. 9122. 9222.
 9137. 9166.  399. 9272.  381.  605.  517.  439.  540.  448.   51.  650.
  585.  437.  580.  478. 9154.  373.  527.  391.  464.  496. 9117. 9037.
  700. 9126.  602.  449.  556. 9044.  526.  429.  413.  488. 9162. 9352.
  495. 9023.  492.  414.  469. 9152.  515.  426. 9205.  505. 9230.  545.
 9099.   62.  508.  387. 1135.  454.  763.  377.   59.  468. 9217.  618.
  621.  548. 9195. 9042.  570.  474. 9116. 9028. 9123.  411.  503. 9119.
  483.  473.  615.  403. 9138.  479.  543. 9189.]

------------------------------------
HEIGHT3 - unique values:
[9999.  503.  502.  505.  511.  504.  507.  506.  508.   nan  501.  604.
  602.  510.  601.  509.  500.  600.  603.  605. 7777.  411.  409.  408.
  401.  410.  400.  606.  608.  607.  403.  407.  405. 9165. 9182. 9167.
 9176.  611.  406. 9164. 9175. 9183. 9180. 9171.  701.  705.  300.  609.
  309. 9152. 9170. 9174. 9151. 9153. 9169. 9156. 9184. 9190. 9160. 9154.
 9172. 9187. 9157. 9163. 9161. 9149. 9159. 9178. 9140. 9150. 9155. 9158.
 9188. 9162. 9168. 9179. 9145. 9146. 9189.  700.  303.  610.  703.  404.
 9173.  702. 9177.  709. 9125. 9166. 9185. 9186. 9195. 9147.  311. 9105.
 9130. 9148. 9103. 9118. 9181. 9138. 9144.  306.  402. 9120. 9117. 9193.
  305. 9198. 9107. 9104. 9090. 9254. 9505.  704. 9135. 9110. 9143.  210.
  800. 9192. 9142. 9205.  308.  711.  708.  801.  302. 9106. 9115.  706.
 9116. 9109. 9191. 9092.  307. 9196. 9127. 9207. 9100.  310. 9108. 9114.
 9253. 9752. 9102. 9133.  304.  209. 9200. 9202. 9194. 9095.  200.]

------------------------------------
DEAF - unique values:
[ 2.  9.  1. nan  7.]

------------------------------------
BLIND - unique values:
[ 2.  1. nan  7.  9.]

------------------------------------
DECIDE - unique values:
[ 2. nan  1.  7.  9.]

------------------------------------
DIFFWALK - unique values:
[ 2.  1. nan  7.  9.]

------------------------------------
DIFFDRES - unique values:
[ 2. nan  1.  7.  9.]

------------------------------------
DIFFALON - unique values:
[ 2.  1. nan  9.  7.]

------------------------------------
HADMAM - unique values:
[ 1. nan  2.  9.  7.]

------------------------------------
HOWLONG - unique values:
[ 1.  4.  2. nan  3.  5.  9.  7.]

------------------------------------
CERVSCRN - unique values:
[ 2.  1. nan  7.  9.]

------------------------------------
CRVCLCNC - unique values:
[nan  2.  3.  5.  7.  1.  4.  9.]

------------------------------------
CRVCLPAP - unique values:
[nan  1.  2.  7.  9.]

------------------------------------
CRVCLHPV - unique values:
[nan  7.  2.  1.  9.]

------------------------------------
HADHYST2 - unique values:
[ 2.  1. nan  7.  9.]

------------------------------------
HADSIGM4 - unique values:
[ 1.  2. nan  7.  9.]

------------------------------------
COLNSIGM - unique values:
[ 3.  1. nan  7.  2.  9.]

------------------------------------
COLNTES1 - unique values:
[ 2.  4. nan  3.  1.  5.  7.  9.]

------------------------------------
SIGMTES1 - unique values:
[ 3. nan  7.  1.  4.  5.  2.  9.]

------------------------------------
LASTSIG4 - unique values:
[nan  3.  1.  7.  5.  4.  2.  9.]

------------------------------------
COLNCNCR - unique values:
[ 2. nan  1.  7.  9.]

------------------------------------
VIRCOLO1 - unique values:
[nan  2.  1.  7.  9.]

------------------------------------
VCLNTES2 - unique values:
[nan  5.  4.  1.  3.  7.  2.  9.]

------------------------------------
SMALSTOL - unique values:
[nan  2.  1.  7.  9.]

------------------------------------
STOLTEST - unique values:
[nan  3.  1.  4.  2.  5.  7.  9.]

------------------------------------
STOOLDN2 - unique values:
[nan  2.  1.  7.  9.]

------------------------------------
BLDSTFIT - unique values:
[nan  7.  1.  2.  9.]

------------------------------------
SDNATES1 - unique values:
[nan  2.  1.  3.  5.  9.  4.  7.]

------------------------------------
SMOKE100 - unique values:
[ 2.  1.  7. nan  9.]

------------------------------------
SMOKDAY2 - unique values:
[nan  2.  3.  1.  7.  9.]

------------------------------------
USENOW3 - unique values:
[ 3.  2. nan  1.  7.  9.]

------------------------------------
ECIGNOW2 - unique values:
[ 4.  1. nan  2.  3.  7.  9.]


In [10]:
# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

# Print the full samples
print(df.sample(1))

        _STATE  FMONTH    IDATE  IMONTH  IDAY  IYEAR  DISPCODE       SEQNO  \
385040    51.0     6.0  6122022       6    12   2022    1200.0  2022006183

                _PSU  CTELENM1  PVTRESD1  COLGHOUS  STATERE1  CELPHON1  \
385040  2.022006e+09       NaN       NaN       NaN       NaN       NaN

        LADULT1  COLGSEX1  NUMADULT  LANDSEX1  NUMMEN  NUMWOMEN  RESPSLCT  \
385040      NaN       NaN       NaN       NaN     NaN       NaN       NaN

        SAFETIME  CTELNUM1  CELLFON5  CADULT1  CELLSEX1  PVTRESD3  CCLGHOUS  \
385040       1.0       1.0       1.0      1.0       1.0       1.0       NaN

        CSTATE1  LANDLINE  HHADULT  SEXVAR  GENHLTH  PHYSHLTH  MENTHLTH  \
385040      1.0       2.0      4.0     1.0      2.0      88.0      88.0

        POORHLTH  PRIMINSR  PERSDOC3  MEDCOST1  CHECKUP1  EXERANY2  SLEPTIM1  \
385040       NaN       2.0       3.0       2.0       2.0       1.0       7.0

        LASTDEN4  RMVTETH4  CVDINFR4  CVDCRHD4  CVDSTRK3  ASTHMA3  ASTHNOW  \
385040       1.0       8.0       2.0       2.0       2.0      2.0      NaN

        CHCSCNC1  CHCOCNC1  CHCCOPD3  ADDEPEV3  CHCKDNY2  HAVARTH4  DIABETE4  \
385040       2.0       2.0       2.0       2.0       2.0       2.0       3.0

        DIABAGE4  MARITAL  EDUCA  RENTHOM1  NUMHHOL4  NUMPHON4  CPDEMO1C  \
385040       NaN      5.0    6.0       1.0       NaN       NaN       2.0

        VETERAN3  EMPLOY1  CHILDREN  INCOME3  PREGNANT  WEIGHT2  HEIGHT3  \
385040       2.0      1.0      88.0     99.0       NaN    200.0    510.0

        DEAF  BLIND  DECIDE  DIFFWALK  DIFFDRES  DIFFALON  HADMAM  HOWLONG  \
385040   2.0    2.0     2.0       2.0       2.0       2.0     NaN      NaN

        CERVSCRN  CRVCLCNC  CRVCLPAP  CRVCLHPV  HADHYST2  HADSIGM4  COLNSIGM  \
385040       NaN       NaN       NaN       NaN       NaN       1.0       1.0

        COLNTES1  SIGMTES1  LASTSIG4  COLNCNCR  VIRCOLO1  VCLNTES2  SMALSTOL  \
385040       3.0       NaN       NaN       2.0       NaN       NaN       NaN

        STOLTEST  STOOLDN2  BLDSTFIT  SDNATES1  SMOKE100  SMOKDAY2  USENOW3  \
385040       NaN       NaN       NaN       NaN       2.0       NaN      3.0

        ECIGNOW2  LCSFIRST  LCSLAST  LCSNUMCG  LCSCTSC1  LCSSCNCR  LCSCTWHN  \
385040       1.0       NaN      NaN       NaN       2.0       NaN       NaN

        ALCDAY4  AVEDRNK3  DRNK3GE5  MAXDRNKS  FLUSHOT7  FLSHTMY3  PNEUVAC4  \
385040    888.0       NaN       NaN       NaN       1.0   42022.0       2.0

        TETANUS1  HIVTST7  HIVTSTD3  HIVRISK5  COVIDPOS  COVIDSMP  COVIDPRM  \
385040       4.0      2.0       NaN       2.0       1.0       2.0       NaN

        PDIABTS1  PREDIAB2  DIABTYPE  INSULIN1  CHKHEMO3  EYEEXAM1  DIABEYE1  \
385040       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        DIABEDU1  FEETSORE  TOLDCFS  HAVECFS  WORKCFS  IMFVPLA3  HPVADVC4  \
385040       NaN       NaN      NaN      NaN      NaN       NaN       NaN

        HPVADSHT  SHINGLE2  COVIDVA1  COVIDNU1  COVIDFS1  COVIDSE1  COPDCOGH  \
385040       NaN       2.0       NaN       NaN       NaN       NaN       NaN

        COPDFLEM  COPDBRTH  COPDBTST  COPDSMOK  CNCRDIFF  CNCRAGE  CNCRTYP2  \
385040       NaN       NaN       NaN       NaN       NaN      NaN       NaN

        CSRVTRT3  CSRVDOC1  CSRVSUM  CSRVRTRN  CSRVINST  CSRVINSR  CSRVDEIN  \
385040       NaN       NaN      NaN       NaN       NaN       NaN       NaN

        CSRVCLIN  CSRVPAIN  CSRVCTL2  PSATEST1  PSATIME1  PCPSARS2  PSASUGST  \
385040       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        PCSTALK1  CIMEMLOS  CDHOUSE  CDASSIST  CDHELP  CDSOCIAL  CDDISCUS  \
385040       NaN       2.0      NaN       NaN     NaN       NaN       NaN

        CAREGIV1  CRGVREL4  CRGVLNG1  CRGVHRS1  CRGVPRB3  CRGVALZD  CRGVPER1  \
385040       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        CRGVHOU1  CRGVEXPT  ACEDEPRS  ACEDRINK  ACEDRUGS  ACEPRISN  ACEDIVRC  \
385040       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        ACEPUNCH  ACEHURT1  ACESWEAR  ACETOUCH  ACETTHEM  ACEHVSEX  ACEADSAF  \
385040       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        ACEADNED  LSATISFY  EMTSUPRT  SDHISOLT  SDHEMPLY  FOODSTMP  SDHFOOD1  \
385040       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        SDHBILLS  SDHUTILS  SDHTRNSP  SDHSTRE1  MARIJAN1  MARJSMOK  MARJEAT  \
385040       NaN       NaN       NaN       NaN       NaN       NaN      NaN

        MARJVAPE  MARJDAB  MARJOTHR  USEMRJN4  LASTSMK2  STOPSMK2  MENTCIGS  \
385040       NaN      NaN       NaN       NaN       NaN       NaN       NaN

        MENTECIG  HEATTBCO  ASBIALCH  ASBIDRNK  ASBIBING  ASBIADVC  ASBIRDUC  \
385040       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        FIREARM5  GUNLOAD  LOADULK2  RCSGEND1  RCSXBRTH  RCSRLTN2  CASTHDX2  \
385040       NaN      NaN       NaN       NaN       NaN       NaN       NaN

        CASTHNO2  BIRTHSEX  SOMALE  SOFEMALE  TRNSGNDR  HADSEX  PFPPRVN4  \
385040       NaN       NaN     NaN       NaN       NaN     NaN       NaN

        TYPCNTR9  BRTHCNT4  WHEREGET  NOBCUSE8  BCPREFER  RRCLASS3  RRCOGNT2  \
385040       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        RRTREAT  RRATWRK2  RRHCARE4  RRPHYSM2  QSTVER  QSTLANG  _METSTAT  \
385040      NaN       NaN       NaN       NaN    20.0      1.0       1.0

        _URBSTAT  MSCODE    _STSTR     _STRWT  _RAWRAKE   _WT2RAKE  _IMPRACE  \
385040       1.0     NaN  512022.0  37.198488       1.0  37.198488       1.0

        _CHISPNC  _CRACE2  _CPRACE2  CAGEG  _CLLCPWT  _DUALUSE  _DUALCOR  \
385040       NaN      NaN       NaN    NaN       NaN       9.0       NaN

          _LLCPWT2     _LLCPWT  _RFHLTH  _PHYS14D  _MENT14D  _HLTHPLN  \
385040  796.117901  326.589249      1.0       1.0       1.0       1.0

        _HCVU652  _TOTINDA  _EXTETH3  _ALTETH3  _DENVST3  _MICHD  _LTASTH1  \
385040       1.0       1.0       1.0       NaN       1.0     2.0       1.0

        _CASTHM1  _ASTHMS1  _DRDXAR2  _PRACE2  _MRACE2  _HISPANC  _RACE1  \
385040       1.0       3.0       2.0      1.0      1.0       2.0     1.0

        _RACEG22  _RACEGR4  _RACEPR1  _SEX  _AGEG5YR  _AGE65YR  _AGE80  \
385040       1.0       1.0       1.0   1.0       8.0       1.0    59.0

        _AGE_G  HTIN4   HTM4   WTKG3   _BMI5  _BMI5CAT  _RFBMI5  _CHLDCNT  \
385040     5.0   70.0  178.0  9072.0  2870.0       3.0      2.0       1.0

        _EDUCAG  _INCOMG1  _RFMAM22  _MAM5023  _HADCOLN  _CLNSCP1  _HADSIGM  \
385040      4.0       9.0       NaN       NaN       1.0       1.0       2.0

        _SGMSCP1  _SGMS101  _RFBLDS5  _STOLDN1  _VIRCOL1  _SBONTI1  _CRCREC2  \
385040       3.0       3.0       NaN       NaN       NaN       2.0       1.0

        _SMOKER3  _RFSMOK3  _CURECI2  _YRSSMOK  _PACKDAY  _PACKYRS  _YRSQUIT  \
385040       4.0       1.0       1.0       NaN       NaN       NaN       NaN

        _SMOKGRP  _LCSREC  DRNKANY6      DROCDY4_  _RFBING6      _DRNKWK2  \
385040       4.0      NaN       2.0  5.397605e-79       1.0  5.397605e-79

        _RFDRHV8  _FLSHOT7  _PNEUMO3  _AIDTST4
385040       1.0       NaN       NaN       2.0

In [11]:
# Checking for null values
df.isna().sum()

_STATE           0
FMONTH           0
IDATE            0
IMONTH           0
IDAY             0
             ...
_DRNKWK2         0
_RFDRHV8         0
_FLSHOT7    276713
_PNEUMO3    276713
_AIDTST4     46235
Length: 326, dtype: int64

In [12]:
# Checking null values for columns

na_values = pd.DataFrame(df.isna().sum(), columns=['Total Values null'])
na_values['%_weight'] = na_values['Total Values null'].apply(lambda x: x/df.shape[0]*100)
na_values

          Total Values null   %_weight
_STATE                    0   0.000000
FMONTH                    0   0.000000
IDATE                     0   0.000000
IMONTH                    0   0.000000
IDAY                      0   0.000000
...                     ...        ...
_DRNKWK2                  0   0.000000
_RFDRHV8                  0   0.000000
_FLSHOT7             276713  62.164257
_PNEUMO3             276713  62.164257
_AIDTST4              46235  10.386807

[326 rows x 2 columns]

In [13]:
na_over_half = na_values[na_values["%_weight"] > 50]
na_over_half

          Total Values null   %_weight
CTELENM1             349081  78.421906
PVTRESD1             349082  78.422131
COLGHOUS             445113  99.995732
STATERE1             349082  78.422131
CELPHON1             349080  78.421682
...                     ...        ...
_PACKYRS             302267  67.905026
_YRSQUIT             338802  76.112704
_LCSREC              393679  88.440957
_FLSHOT7             276713  62.164257
_PNEUMO3             276713  62.164257

[183 rows x 2 columns]

In [14]:
# Columns with greater than 50% na values 
na_over_half.index.values

array(['CTELENM1', 'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHON1',
       'LADULT1', 'COLGSEX1', 'NUMADULT', 'LANDSEX1', 'NUMMEN',
       'NUMWOMEN', 'RESPSLCT', 'CCLGHOUS', 'ASTHNOW', 'DIABAGE4',
       'NUMHHOL4', 'NUMPHON4', 'PREGNANT', 'HADMAM', 'HOWLONG',
       'CERVSCRN', 'CRVCLCNC', 'CRVCLPAP', 'CRVCLHPV', 'HADHYST2',
       'COLNSIGM', 'COLNTES1', 'SIGMTES1', 'LASTSIG4', 'VIRCOLO1',
       'VCLNTES2', 'SMALSTOL', 'STOLTEST', 'STOOLDN2', 'BLDSTFIT',
       'SDNATES1', 'SMOKDAY2', 'LCSFIRST', 'LCSLAST', 'LCSNUMCG',
       'LCSSCNCR', 'LCSCTWHN', 'AVEDRNK3', 'DRNK3GE5', 'MAXDRNKS',
       'FLSHTMY3', 'HIVTSTD3', 'COVIDSMP', 'COVIDPRM', 'PDIABTS1',
       'PREDIAB2', 'DIABTYPE', 'INSULIN1', 'CHKHEMO3', 'EYEEXAM1',
       'DIABEYE1', 'DIABEDU1', 'FEETSORE', 'TOLDCFS', 'HAVECFS',
       'WORKCFS', 'IMFVPLA3', 'HPVADVC4', 'HPVADSHT', 'SHINGLE2',
       'COVIDVA1', 'COVIDNU1', 'COVIDFS1', 'COVIDSE1', 'COPDCOGH',
       'COPDFLEM', 'COPDBRTH', 'COPDBTST', 'COPDSMOK', 'CNCRDIFF',
       'CNCRAGE', 'CNCRTYP2', 'CSRVTRT3', 'CSRVDOC1', 'CSRVSUM',
       'CSRVRTRN', 'CSRVINST', 'CSRVINSR', 'CSRVDEIN', 'CSRVCLIN',
       'CSRVPAIN', 'CSRVCTL2', 'PSATEST1', 'PSATIME1', 'PCPSARS2',
       'PSASUGST', 'PCSTALK1', 'CIMEMLOS', 'CDHOUSE', 'CDASSIST',
       'CDHELP', 'CDSOCIAL', 'CDDISCUS', 'CAREGIV1', 'CRGVREL4',
       'CRGVLNG1', 'CRGVHRS1', 'CRGVPRB3', 'CRGVALZD', 'CRGVPER1',
       'CRGVHOU1', 'CRGVEXPT', 'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS',
       'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT1', 'ACESWEAR',
       'ACETOUCH', 'ACETTHEM', 'ACEHVSEX', 'ACEADSAF', 'ACEADNED',
       'MARIJAN1', 'MARJSMOK', 'MARJEAT', 'MARJVAPE', 'MARJDAB',
       'MARJOTHR', 'USEMRJN4', 'LASTSMK2', 'STOPSMK2', 'MENTCIGS',
       'MENTECIG', 'HEATTBCO', 'ASBIALCH', 'ASBIDRNK', 'ASBIBING',
       'ASBIADVC', 'ASBIRDUC', 'FIREARM5', 'GUNLOAD', 'LOADULK2',
       'RCSGEND1', 'RCSXBRTH', 'RCSRLTN2', 'CASTHDX2', 'CASTHNO2',
       'BIRTHSEX', 'SOMALE', 'SOFEMALE', 'HADSEX', 'PFPPRVN4', 'TYPCNTR9',
       'BRTHCNT4', 'WHEREGET', 'NOBCUSE8', 'BCPREFER', 'RRCLASS3',
       'RRCOGNT2', 'RRTREAT', 'RRATWRK2', 'RRHCARE4', 'RRPHYSM2',
       'MSCODE', '_CRACE2', '_CPRACE2', 'CAGEG', '_CLLCPWT', '_DUALCOR',
       '_ALTETH3', '_RFMAM22', '_MAM5023', '_CLNSCP1', '_SGMSCP1',
       '_SGMS101', '_RFBLDS5', '_STOLDN1', '_VIRCOL1', '_YRSSMOK',
       '_PACKDAY', '_PACKYRS', '_YRSQUIT', '_LCSREC', '_FLSHOT7',
       '_PNEUMO3'], dtype=object)

In [15]:
na_over_half.T

,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELPHON1,LADULT1,COLGSEX1,NUMADULT,LANDSEX1,NUMMEN,NUMWOMEN,RESPSLCT,CCLGHOUS,ASTHNOW,DIABAGE4,NUMHHOL4,NUMPHON4,PREGNANT,HADMAM,HOWLONG,CERVSCRN,CRVCLCNC,CRVCLPAP,CRVCLHPV,HADHYST2,COLNSIGM,COLNTES1,SIGMTES1,LASTSIG4,VIRCOLO1,VCLNTES2,SMALSTOL,STOLTEST,STOOLDN2,BLDSTFIT,SDNATES1,SMOKDAY2,LCSFIRST,LCSLAST,LCSNUMCG,LCSSCNCR,LCSCTWHN,AVEDRNK3,DRNK3GE5,MAXDRNKS,FLSHTMY3,HIVTSTD3,COVIDSMP,COVIDPRM,PDIABTS1,PREDIAB2,DIABTYPE,INSULIN1,CHKHEMO3,EYEEXAM1,DIABEYE1,DIABEDU1,FEETSORE,TOLDCFS,HAVECFS,WORKCFS,IMFVPLA3,HPVADVC4,HPVADSHT,SHINGLE2,COVIDVA1,COVIDNU1,COVIDFS1,COVIDSE1,COPDCOGH,COPDFLEM,COPDBRTH,COPDBTST,COPDSMOK,CNCRDIFF,CNCRAGE,CNCRTYP2,CSRVTRT3,CSRVDOC1,CSRVSUM,CSRVRTRN,CSRVINST,CSRVINSR,CSRVDEIN,CSRVCLIN,CSRVPAIN,CSRVCTL2,PSATEST1,PSATIME1,PCPSARS2,PSASUGST,PCSTALK1,CIMEMLOS,CDHOUSE,CDASSIST,CDHELP,CDSOCIAL,CDDISCUS,CAREGIV1,CRGVREL4,CRGVLNG1,CRGVHRS1,CRGVPRB3,CRGVALZD,CRGVPER1,CRGVHOU1,CRGVEXPT,ACEDEPRS,ACEDRINK,ACEDRUGS,ACEPRISN,ACEDIVRC,ACEPUNCH,ACEHURT1,ACESWEAR,ACETOUCH,ACETTHEM,ACEHVSEX,ACEADSAF,ACEADNED,MARIJAN1,MARJSMOK,MARJEAT,MARJVAPE,MARJDAB,MARJOTHR,USEMRJN4,LASTSMK2,STOPSMK2,MENTCIGS,MENTECIG,HEATTBCO,ASBIALCH,ASBIDRNK,ASBIBING,ASBIADVC,ASBIRDUC,FIREARM5,GUNLOAD,LOADULK2,RCSGEND1,RCSXBRTH,RCSRLTN2,CASTHDX2,CASTHNO2,BIRTHSEX,SOMALE,SOFEMALE,HADSEX,PFPPRVN4,TYPCNTR9,BRTHCNT4,WHEREGET,NOBCUSE8,BCPREFER,RRCLASS3,RRCOGNT2,RRTREAT,RRATWRK2,RRHCARE4,RRPHYSM2,MSCODE,_CRACE2,_CPRACE2,CAGEG,_CLLCPWT,_DUALCOR,_ALTETH3,_RFMAM22,_MAM5023,_CLNSCP1,_SGMSCP1,_SGMS101,_RFBLDS5,_STOLDN1,_VIRCOL1,_YRSSMOK,_PACKDAY,_PACKYRS,_YRSQUIT,_LCSREC,_FLSHOT7,_PNEUMO3
Total Values null,349081.000000,349082.000000,445113.000000,349082.000000,349080.000000,349082.000000,445111.000000,349100.000000,401436.000000,394702.000000,394699.000000,392879.000000,443807.000000,378438.000000,383973.00000,349083.000000,438189.000000,366114.000000,223319.000000,274020.000000,224318.000000,309555.000000,309745.000000,309960.000000,227453.000000,232309.000000,237848.000000,413769.000000,441658.000000,383265.000000,436153.000000,383456.000000,395758.000000,383730.000000,433738.00000,433770.000000,281079.00000,283417.000000,324513.000000,288992.000000,279557.000000,413627.000000,234769.000000,235283.000000,235721.000000,236258.000000,316269.00000,320933.000000,418417.000000,304884.000000,304910.000000,432532.000000,432532.000000,432532.000000,432532.000000,432532.000000,432532.000000,432532.000000,445132.0,445132.0,445132.0,436089.000000,437786.000000,443460.000000,430395.000000,292089.000000,320385.000000,321193.000000,328043.000000,437863.000000,437870.000000,437883.000000,437900.000000,437917.000000,421733.000000,422567.000000,422588.000000,427830.000000,435325.000000,435349.000000,435361.000000,437882.00000,435384.000000,435392.000000,435403.000000,428035.000000,443591.000000,437952.000000,441186.000000,441196.000000,440738.000000,438364.000000,380457.000000,437679.000000,437701.000000,443199.000000,437717.000000,437732.000000,346622.000000,425498.000000,425549.000000,425599.000000,425660.000000,427832.000000,425732.000000,425772.000000,366598.000000,396846.000000,396901.000000,396912.000000,396938.000000,396960.000000,397003.000000,397055.000000,397103.000000,397160.000000,397196.00000,397256.000000,397311.000000,397375.000000,350213.000000,433622.00000,433628.000000,433629.000000,433637.00000,433645.000000,440126.00000,397723.000000,426243.00000,440138.000000,442968.000000,430103.000000,384190.00000,384292.000000,384404.000000,385687.000000,398512.000000,405332.000000,431307.00000,441077.000000,386144.000000,441669.000000,386658.000000,394471.000000,439804.000000,365705.000000,321100.000000,305502.000000,425256.000000,430451.000000,433762.000000,433791.000000,435358.000000,441970.000000,430605.000000,283394.00000,283788.000000,284167.000000,362095.000000,284624.000000,284942.000000,351246.000000,384286.000000,385142.000000,394956.000000,385986.000000,287103.000000,276713.000000,263892.000000,342456.000000,223180.000000,222919.000000,222919.000000,398731.000000,399147.000000,399340.000000,297528.000000,294885.000000,302267.000000,338802.000000,393679.000000,276713.000000,276713.000000
%_weight,78.421906,78.422131,99.995732,78.422131,78.421682,78.422131,99.995282,78.426175,90.183586,88.670776,88.670102,88.261235,99.702335,85.017029,86.26048,78.422356,98.440238,82.248412,50.169163,61.559268,50.393591,69.542293,69.584977,69.633277,51.097877,52.188789,53.433139,92.954225,99.219557,86.101426,97.982846,86.144335,88.908009,86.205889,97.44031,97.447499,63.14509,63.670327,72.902645,64.922764,62.803168,92.922324,52.741434,52.856905,52.955303,53.075942,71.05061,72.098389,93.998409,68.492941,68.498782,97.169379,97.169379,97.169379,97.169379,97.169379,97.169379,97.169379,100.0,100.0,100.0,97.968468,98.349703,99.624381,96.689297,65.618513,71.975279,72.156798,73.695668,98.367001,98.368574,98.371494,98.375313,98.379132,94.743357,94.930717,94.935435,96.113063,97.796833,97.802225,97.804921,98.37127,97.810088,97.811885,97.814356,96.159117,99.653811,98.386995,99.113521,99.115768,99.012877,98.479552,85.470602,98.325665,98.330608,99.565747,98.334202,98.337572,77.869486,95.589174,95.600631,95.611863,95.625567,96.113512,95.641742,95.650728,82.357143,89.152431,89.164787,89.167258,89.173099,89.178042,89.187702,89.199384,89.210167,89.222972,89.23106,89.244539,89.256895,89.271272,78.676213,97.41425,97.415598,97.415823,97.41762,97.419417,98.87539,89.349451,95.75654,98.878086,99.513852,96.623698,86.30923,86.332144,86.357305,86.645534,89.526702,91.058832,96.89418,99.089034,86.748201,99.222029,86.863672,88.618882,98.803052,82.156529,72.135906,68.631777,95.534808,96.701877,97.445701,97.452216,97.804247,99.289649,96.736474,63.66516,63.753673,63.838816,81.345533,63.941483,64.012922,78.908279,86.330796,86.523099,88.727838,86.712705,64.498396,62.164257,59.283988,76.933584,50.137937,50.079302,50.079302,89.575901,89.669357,89.712714,66.840398,66.246641,67.905026,76.112704,88.440957,62.164257,62.164257

In [16]:
print(df.sample(1))

       _STATE  FMONTH     IDATE  IMONTH  IDAY  IYEAR  DISPCODE       SEQNO  \
83878    13.0    10.0  11102022      11    10   2022    1100.0  2022007296

               _PSU  CTELENM1  PVTRESD1  COLGHOUS  STATERE1  CELPHON1  \
83878  2.022007e+09       NaN       NaN       NaN       NaN       NaN

       LADULT1  COLGSEX1  NUMADULT  LANDSEX1  NUMMEN  NUMWOMEN  RESPSLCT  \
83878      NaN       NaN       NaN       NaN     NaN       NaN       NaN

       SAFETIME  CTELNUM1  CELLFON5  CADULT1  CELLSEX1  PVTRESD3  CCLGHOUS  \
83878       1.0       1.0       1.0      1.0       1.0       1.0       NaN

       CSTATE1  LANDLINE  HHADULT  SEXVAR  GENHLTH  PHYSHLTH  MENTHLTH  \
83878      1.0       2.0      2.0     1.0      4.0      88.0      88.0

       POORHLTH  PRIMINSR  PERSDOC3  MEDCOST1  CHECKUP1  EXERANY2  SLEPTIM1  \
83878       NaN      88.0       3.0       2.0       8.0       2.0       7.0

       LASTDEN4  RMVTETH4  CVDINFR4  CVDCRHD4  CVDSTRK3  ASTHMA3  ASTHNOW  \
83878       4.0       2.0       2.0       2.0       2.0      2.0      NaN

       CHCSCNC1  CHCOCNC1  CHCCOPD3  ADDEPEV3  CHCKDNY2  HAVARTH4  DIABETE4  \
83878       2.0       2.0       2.0       2.0       2.0       2.0       3.0

       DIABAGE4  MARITAL  EDUCA  RENTHOM1  NUMHHOL4  NUMPHON4  CPDEMO1C  \
83878       NaN      4.0    2.0       1.0       NaN       NaN       7.0

       VETERAN3  EMPLOY1  CHILDREN  INCOME3  PREGNANT  WEIGHT2  HEIGHT3  DEAF  \
83878       2.0      1.0      88.0     77.0       NaN    200.0    600.0   2.0

       BLIND  DECIDE  DIFFWALK  DIFFDRES  DIFFALON  HADMAM  HOWLONG  CERVSCRN  \
83878    2.0     2.0       2.0       2.0       2.0     NaN      NaN       NaN

       CRVCLCNC  CRVCLPAP  CRVCLHPV  HADHYST2  HADSIGM4  COLNSIGM  COLNTES1  \
83878       NaN       NaN       NaN       NaN       2.0       NaN       NaN

       SIGMTES1  LASTSIG4  COLNCNCR  VIRCOLO1  VCLNTES2  SMALSTOL  STOLTEST  \
83878       NaN       NaN       2.0       NaN       NaN       NaN       NaN

       STOOLDN2  BLDSTFIT  SDNATES1  SMOKE100  SMOKDAY2  USENOW3  ECIGNOW2  \
83878       NaN       NaN       NaN       2.0       NaN      3.0       4.0

       LCSFIRST  LCSLAST  LCSNUMCG  LCSCTSC1  LCSSCNCR  LCSCTWHN  ALCDAY4  \
83878       NaN      NaN       NaN       2.0       NaN       NaN    101.0

       AVEDRNK3  DRNK3GE5  MAXDRNKS  FLUSHOT7  FLSHTMY3  PNEUVAC4  TETANUS1  \
83878       1.0       1.0      15.0       2.0       NaN       2.0       4.0

       HIVTST7  HIVTSTD3  HIVRISK5  COVIDPOS  COVIDSMP  COVIDPRM  PDIABTS1  \
83878      2.0       NaN       2.0       2.0       NaN       NaN       8.0

       PREDIAB2  DIABTYPE  INSULIN1  CHKHEMO3  EYEEXAM1  DIABEYE1  DIABEDU1  \
83878       3.0       NaN       NaN       NaN       NaN       NaN       NaN

       FEETSORE  TOLDCFS  HAVECFS  WORKCFS  IMFVPLA3  HPVADVC4  HPVADSHT  \
83878       NaN      NaN      NaN      NaN       NaN       NaN       NaN

       SHINGLE2  COVIDVA1  COVIDNU1  COVIDFS1  COVIDSE1  COPDCOGH  COPDFLEM  \
83878       2.0       2.0       NaN       NaN       NaN       2.0       2.0

       COPDBRTH  COPDBTST  COPDSMOK  CNCRDIFF  CNCRAGE  CNCRTYP2  CSRVTRT3  \
83878       2.0       2.0      88.0       NaN      NaN       NaN       NaN

       CSRVDOC1  CSRVSUM  CSRVRTRN  CSRVINST  CSRVINSR  CSRVDEIN  CSRVCLIN  \
83878       NaN      NaN       NaN       NaN       NaN       NaN       NaN

       CSRVPAIN  CSRVCTL2  PSATEST1  PSATIME1  PCPSARS2  PSASUGST  PCSTALK1  \
83878       NaN       NaN       NaN       NaN       NaN       NaN       NaN

       CIMEMLOS  CDHOUSE  CDASSIST  CDHELP  CDSOCIAL  CDDISCUS  CAREGIV1  \
83878       NaN      NaN       NaN     NaN       NaN       NaN       2.0

       CRGVREL4  CRGVLNG1  CRGVHRS1  CRGVPRB3  CRGVALZD  CRGVPER1  CRGVHOU1  \
83878       NaN       NaN       NaN       NaN       NaN       NaN       NaN

       CRGVEXPT  ACEDEPRS  ACEDRINK  ACEDRUGS  ACEPRISN  ACEDIVRC  ACEPUNCH  \
83878       2.0       NaN       NaN       NaN       NaN       NaN       NaN

       ACEHURT1  ACESWEAR  ACETOUCH  ACETTHEM  ACEHVSEX  ACEADSAF  ACEADNED  \
83878       NaN       NaN       NaN       NaN       NaN       NaN       NaN

       LSATISFY  EMTSUPRT  SDHISOLT  SDHEMPLY  FOODSTMP  SDHFOOD1  SDHBILLS  \
83878       1.0       5.0       3.0       2.0       2.0       5.0       2.0

       SDHUTILS  SDHTRNSP  SDHSTRE1  MARIJAN1  MARJSMOK  MARJEAT  MARJVAPE  \
83878       2.0       2.0       5.0       NaN       NaN      NaN       NaN

       MARJDAB  MARJOTHR  USEMRJN4  LASTSMK2  STOPSMK2  MENTCIGS  MENTECIG  \
83878      NaN       NaN       NaN       NaN       NaN       NaN       NaN

       HEATTBCO  ASBIALCH  ASBIDRNK  ASBIBING  ASBIADVC  ASBIRDUC  FIREARM5  \
83878       NaN       NaN       NaN       NaN       NaN       NaN       NaN

       GUNLOAD  LOADULK2  RCSGEND1  RCSXBRTH  RCSRLTN2  CASTHDX2  CASTHNO2  \
83878      NaN       NaN       NaN       NaN       NaN       NaN       NaN

       BIRTHSEX  SOMALE  SOFEMALE  TRNSGNDR  HADSEX  PFPPRVN4  TYPCNTR9  \
83878       NaN     7.0       NaN       7.0     NaN       NaN       NaN

       BRTHCNT4  WHEREGET  NOBCUSE8  BCPREFER  RRCLASS3  RRCOGNT2  RRTREAT  \
83878       NaN       NaN       NaN       NaN       3.0       8.0      2.0

       RRATWRK2  RRHCARE4  RRPHYSM2  QSTVER  QSTLANG  _METSTAT  _URBSTAT  \
83878       2.0       7.0       2.0    20.0      2.0       1.0       1.0

       MSCODE    _STSTR      _STRWT  _RAWRAKE    _WT2RAKE  _IMPRACE  _CHISPNC  \
83878     NaN  132051.0  207.226453       1.0  207.226453       5.0       9.0

       _CRACE2  _CPRACE2  CAGEG  _CLLCPWT  _DUALUSE  _DUALCOR     _LLCPWT2  \
83878      NaN       NaN    NaN       NaN       9.0       NaN  3119.025762

           _LLCPWT  _RFHLTH  _PHYS14D  _MENT14D  _HLTHPLN  _HCVU652  _TOTINDA  \
83878  7593.707741      2.0       1.0       1.0       2.0       2.0       2.0

       _EXTETH3  _ALTETH3  _DENVST3  _MICHD  _LTASTH1  _CASTHM1  _ASTHMS1  \
83878       2.0       NaN       2.0     2.0       1.0       1.0       3.0

       _DRDXAR2  _PRACE2  _MRACE2  _HISPANC  _RACE1  _RACEG22  _RACEGR4  \
83878       2.0     77.0     77.0       1.0     8.0       2.0       5.0

       _RACEPR1  _SEX  _AGEG5YR  _AGE65YR  _AGE80  _AGE_G  HTIN4   HTM4  \
83878       7.0   1.0       7.0       1.0    50.0     4.0   72.0  183.0

        WTKG3   _BMI5  _BMI5CAT  _RFBMI5  _CHLDCNT  _EDUCAG  _INCOMG1  \
83878  9072.0  2712.0       3.0      2.0       1.0      1.0       9.0

       _RFMAM22  _MAM5023  _HADCOLN  _CLNSCP1  _HADSIGM  _SGMSCP1  _SGMS101  \
83878       NaN       NaN       2.0       3.0       2.0       3.0       3.0

       _RFBLDS5  _STOLDN1  _VIRCOL1  _SBONTI1  _CRCREC2  _SMOKER3  _RFSMOK3  \
83878       NaN       NaN       NaN       2.0       2.0       4.0       1.0

       _CURECI2  _YRSSMOK  _PACKDAY  _PACKYRS  _YRSQUIT  _SMOKGRP  _LCSREC  \
83878       1.0       NaN       NaN       NaN       NaN       4.0      NaN

       DRNKANY6  DROCDY4_  _RFBING6  _DRNKWK2  _RFDRHV8  _FLSHOT7  _PNEUMO3  \
83878       1.0      14.0       2.0     100.0       1.0       NaN       NaN

       _AIDTST4
83878       2.0

In [17]:
#Looping to get all column names and unique values
for col in df.columns:
    print(f"Column: {col}, Unique value: {df[col].unique}")

Column: _STATE, Unique value: <bound method Series.unique of 0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
445127    78.0
445128    78.0
445129    78.0
445130    78.0
445131    78.0
Name: _STATE, Length: 445132, dtype: float64>
Column: FMONTH, Unique value: <bound method Series.unique of 0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
445127    11.0
445128    11.0
445129    11.0
445130    11.0
445131    11.0
Name: FMONTH, Length: 445132, dtype: float64>
Column: IDATE, Unique value: <bound method Series.unique of 0          2032022
1          2042022
2          2022022
3          2032022
4          2022022
            ...
445127    12192022
445128    12212022
445129    11292022
445130    12082022
445131    12142022
Name: IDATE, Length: 445132, dtype: int64>
Column: IMONTH, Unique value: <bound method Series.unique of 0          2
1          2
2          2
3          2
4          2
          ..
445127    12
445128    12
445129    11
445130    12
445131    12
Name: IMONTH, Length: 445132, dtype: int64>
Column: IDAY, Unique value: <bound method Series.unique of 0          3
1          4
2          2
3          3
4          2
          ..
445127    19
445128    21
445129    29
445130     8
445131    14
Name: IDAY, Length: 445132, dtype: int64>
Column: IYEAR, Unique value: <bound method Series.unique of 0         2022
1         2022
2         2022
3         2022
4         2022
          ...
445127    2022
445128    2022
445129    2022
445130    2022
445131    2022
Name: IYEAR, Length: 445132, dtype: int64>
Column: DISPCODE, Unique value: <bound method Series.unique of 0         1100.0
1         1100.0
2         1100.0
3         1100.0
4         1100.0
           ...
445127    1100.0
445128    1100.0
445129    1100.0
445130    1100.0
445131    1100.0
Name: DISPCODE, Length: 445132, dtype: float64>
Column: SEQNO, Unique value: <bound method Series.unique of 0         2022000001
1         2022000002
2         2022000003
3         2022000004
4         2022000005
             ...
445127    2022001527
445128    2022001528
445129    2022001529
445130    2022001530
445131    2022001531
Name: SEQNO, Length: 445132, dtype: int64>
Column: _PSU, Unique value: <bound method Series.unique of 0         2.022000e+09
1         2.022000e+09
2         2.022000e+09
3         2.022000e+09
4         2.022000e+09
              ...
445127    2.022002e+09
445128    2.022002e+09
445129    2.022002e+09
445130    2.022002e+09
445131    2.022002e+09
Name: _PSU, Length: 445132, dtype: float64>
Column: CTELENM1, Unique value: <bound method Series.unique of 0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: CTELENM1, Length: 445132, dtype: float64>
Column: PVTRESD1, Unique value: <bound method Series.unique of 0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: PVTRESD1, Length: 445132, dtype: float64>
Column: COLGHOUS, Unique value: <bound method Series.unique of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
445127   NaN
445128   NaN
445129   NaN
445130   NaN
445131   NaN
Name: COLGHOUS, Length: 445132, dtype: float64>
Column: STATERE1, Unique value: <bound method Series.unique of 0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: STATERE1, Length: 445132, dtype: float64>
Column: CELPHON1, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: CELPHON1, Length: 445132, dtype: float64>
Column: LADULT1, Unique value: <bound method Series.unique of 0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: LADULT1, Length: 445132, dtype: float64>
Column: COLGSEX1, Unique value: <bound method Series.unique of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
445127   NaN
445128   NaN
445129   NaN
445130   NaN
445131   NaN
Name: COLGSEX1, Length: 445132, dtype: float64>
Column: NUMADULT, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         1.0
3         3.0
4         2.0
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: NUMADULT, Length: 445132, dtype: float64>
Column: LANDSEX1, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         2.0
3         NaN
4         NaN
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: LANDSEX1, Length: 445132, dtype: float64>
Column: NUMMEN, Unique value: <bound method Series.unique of 0         1.0
1         1.0
2         NaN
3         2.0
4         1.0
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: NUMMEN, Length: 445132, dtype: float64>
Column: NUMWOMEN, Unique value: <bound method Series.unique of 0         1.0
1         1.0
2         NaN
3         1.0
4         1.0
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: NUMWOMEN, Length: 445132, dtype: float64>
Column: RESPSLCT, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         NaN
3         2.0
4         2.0
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: RESPSLCT, Length: 445132, dtype: float64>
Column: SAFETIME, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445127    1.0
445128    1.0
445129    1.0
445130    1.0
445131    1.0
Name: SAFETIME, Length: 445132, dtype: float64>
Column: CTELNUM1, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445127    1.0
445128    1.0
445129    1.0
445130    1.0
445131    1.0
Name: CTELNUM1, Length: 445132, dtype: float64>
Column: CELLFON5, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445127    1.0
445128    1.0
445129    1.0
445130    1.0
445131    1.0
Name: CELLFON5, Length: 445132, dtype: float64>
Column: CADULT1, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445127    1.0
445128    1.0
445129    1.0
445130    1.0
445131    1.0
Name: CADULT1, Length: 445132, dtype: float64>
Column: CELLSEX1, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445127    2.0
445128    2.0
445129    2.0
445130    1.0
445131    1.0
Name: CELLSEX1, Length: 445132, dtype: float64>
Column: PVTRESD3, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445127    1.0
445128    1.0
445129    1.0
445130    1.0
445131    1.0
Name: PVTRESD3, Length: 445132, dtype: float64>
Column: CCLGHOUS, Unique value: <bound method Series.unique of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
445127   NaN
445128   NaN
445129   NaN
445130   NaN
445131   NaN
Name: CCLGHOUS, Length: 445132, dtype: float64>
Column: CSTATE1, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445127    1.0
445128    1.0
445129    1.0
445130    1.0
445131    1.0
Name: CSTATE1, Length: 445132, dtype: float64>
Column: LANDLINE, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445127    2.0
445128    1.0
445129    2.0
445130    2.0
445131    2.0
Name: LANDLINE, Length: 445132, dtype: float64>
Column: HHADULT, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445127    5.0
445128    2.0
445129    1.0
445130    2.0
445131    1.0
Name: HHADULT, Length: 445132, dtype: float64>
Column: SEXVAR, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    1.0
445131    1.0
Name: SEXVAR, Length: 445132, dtype: float64>
Column: GENHLTH, Unique value: <bound method Series.unique of 0         2.0
1         1.0
2         2.0
3         1.0
4         4.0
         ...
445127    3.0
445128    1.0
445129    5.0
445130    2.0
445131    2.0
Name: GENHLTH, Length: 445132, dtype: float64>
Column: PHYSHLTH, Unique value: <bound method Series.unique of 0         88.0
1         88.0
2          2.0
3         88.0
4          2.0
          ...
445127    88.0
445128     2.0
445129    30.0
445130    88.0
445131    88.0
Name: PHYSHLTH, Length: 445132, dtype: float64>
Column: MENTHLTH, Unique value: <bound method Series.unique of 0         88.0
1         88.0
2          3.0
3         88.0
4         88.0
          ...
445127     3.0
445128     2.0
445129    30.0
445130    88.0
445131     1.0
Name: MENTHLTH, Length: 445132, dtype: float64>
Column: POORHLTH, Unique value: <bound method Series.unique of 0          NaN
1          NaN
2          2.0
3          NaN
4         88.0
          ...
445127    30.0
445128    88.0
445129    30.0
445130     NaN
445131    88.0
Name: POORHLTH, Length: 445132, dtype: float64>
Column: PRIMINSR, Unique value: <bound method Series.unique of 0         99.0
1          3.0
2          1.0
3         99.0
4          7.0
          ...
445127     3.0
445128     1.0
445129    88.0
445130     3.0
445131    88.0
Name: PRIMINSR, Length: 445132, dtype: float64>
Column: PERSDOC3, Unique value: <bound method Series.unique of 0         1.0
1         2.0
2         1.0
3         1.0
4         2.0
         ...
445127    3.0
445128    2.0
445129    3.0
445130    2.0
445131    3.0
Name: PERSDOC3, Length: 445132, dtype: float64>
Column: MEDCOST1, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    1.0
445130    2.0
445131    1.0
Name: MEDCOST1, Length: 445132, dtype: float64>
Column: CHECKUP1, Unique value: <bound method Series.unique of 0         1.0
1         8.0
2         1.0
3         1.0
4         1.0
         ...
445127    2.0
445128    1.0
445129    4.0
445130    1.0
445131    8.0
Name: CHECKUP1, Length: 445132, dtype: float64>
Column: EXERANY2, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         1.0
3         1.0
4         1.0
         ...
445127    1.0
445128    1.0
445129    2.0
445130    2.0
445131    1.0
Name: EXERANY2, Length: 445132, dtype: float64>
Column: SLEPTIM1, Unique value: <bound method Series.unique of 0         8.0
1         6.0
2         5.0
3         7.0
4         9.0
         ...
445127    6.0
445128    7.0
445129    5.0
445130    5.0
445131    5.0
Name: SLEPTIM1, Length: 445132, dtype: float64>
Column: LASTDEN4, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445127    2.0
445128    1.0
445129    4.0
445130    1.0
445131    8.0
Name: LASTDEN4, Length: 445132, dtype: float64>
Column: RMVTETH4, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445127    8.0
445128    8.0
445129    1.0
445130    8.0
445131    8.0
Name: RMVTETH4, Length: 445132, dtype: float64>
Column: CVDINFR4, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    1.0
445131    2.0
Name: CVDINFR4, Length: 445132, dtype: float64>
Column: CVDCRHD4, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    2.0
445131    2.0
Name: CVDCRHD4, Length: 445132, dtype: float64>
Column: CVDSTRK3, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    2.0
445131    2.0
Name: CVDSTRK3, Length: 445132, dtype: float64>
Column: ASTHMA3, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         1.0
4         2.0
         ...
445127    1.0
445128    2.0
445129    2.0
445130    1.0
445131    2.0
Name: ASTHMA3, Length: 445132, dtype: float64>
Column: ASTHNOW, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         1.0
4         NaN
         ...
445127    1.0
445128    NaN
445129    NaN
445130    2.0
445131    NaN
Name: ASTHNOW, Length: 445132, dtype: float64>
Column: CHCSCNC1, Unique value: <bound method Series.unique of 0         2.0
1         1.0
2         1.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    2.0
445131    2.0
Name: CHCSCNC1, Length: 445132, dtype: float64>
Column: CHCOCNC1, Unique value: <bound method Series.unique of 0         2.0
1         1.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    2.0
445131    2.0
Name: CHCOCNC1, Length: 445132, dtype: float64>
Column: CHCCOPD3, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    2.0
445131    2.0
Name: CHCCOPD3, Length: 445132, dtype: float64>
Column: ADDEPEV3, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    1.0
445128    2.0
445129    2.0
445130    2.0
445131    2.0
Name: ADDEPEV3, Length: 445132, dtype: float64>
Column: CHCKDNY2, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    2.0
445131    2.0
Name: CHCKDNY2, Length: 445132, dtype: float64>
Column: HAVARTH4, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         1.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    2.0
445131    2.0
Name: HAVARTH4, Length: 445132, dtype: float64>
Column: DIABETE4, Unique value: <bound method Series.unique of 0         1.0
1         3.0
2         3.0
3         3.0
4         3.0
         ...
445127    3.0
445128    3.0
445129    3.0
445130    3.0
445131    3.0
Name: DIABETE4, Length: 445132, dtype: float64>
Column: DIABAGE4, Unique value: <bound method Series.unique of 0         80.0
1          NaN
2          NaN
3          NaN
4          NaN
          ...
445127     NaN
445128     NaN
445129     NaN
445130     NaN
445131     NaN
Name: DIABAGE4, Length: 445132, dtype: float64>
Column: MARITAL, Unique value: <bound method Series.unique of 0         1.0
1         3.0
2         1.0
3         1.0
4         1.0
         ...
445127    5.0
445128    1.0
445129    1.0
445130    1.0
445131    3.0
Name: MARITAL, Length: 445132, dtype: float64>
Column: EDUCA, Unique value: <bound method Series.unique of 0         6.0
1         4.0
2         6.0
3         4.0
4         5.0
         ...
445127    4.0
445128    6.0
445129    4.0
445130    5.0
445131    3.0
Name: EDUCA, Length: 445132, dtype: float64>
Column: RENTHOM1, Unique value: <bound method Series.unique of 0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
445127    2.0
445128    1.0
445129    3.0
445130    2.0
445131    1.0
Name: RENTHOM1, Length: 445132, dtype: float64>
Column: NUMHHOL4, Unique value: <bound method Series.unique of 0         1.0
1         1.0
2         2.0
3         2.0
4         2.0
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: NUMHHOL4, Length: 445132, dtype: float64>
Column: NUMPHON4, Unique value: <bound method Series.unique of 0         1.0
1         2.0
2         NaN
3         NaN
4         NaN
         ...
445127    NaN
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: NUMPHON4, Length: 445132, dtype: float64>
Column: CPDEMO1C, Unique value: <bound method Series.unique of 0         2.0
1         1.0
2         1.0
3         1.0
4         2.0
         ...
445127    2.0
445128    1.0
445129    1.0
445130    1.0
445131    1.0
Name: CPDEMO1C, Length: 445132, dtype: float64>
Column: VETERAN3, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    1.0
445129    2.0
445130    2.0
445131    2.0
Name: VETERAN3, Length: 445132, dtype: float64>
Column: EMPLOY1, Unique value: <bound method Series.unique of 0         7.0
1         2.0
2         7.0
3         7.0
4         5.0
         ...
445127    1.0
445128    1.0
445129    8.0
445130    7.0
445131    1.0
Name: EMPLOY1, Length: 445132, dtype: float64>
Column: CHILDREN, Unique value: <bound method Series.unique of 0         88.0
1         88.0
2         88.0
3         88.0
4         88.0
          ...
445127     1.0
445128     1.0
445129    88.0
445130    88.0
445131    88.0
Name: CHILDREN, Length: 445132, dtype: float64>
Column: INCOME3, Unique value: <bound method Series.unique of 0         99.0
1          5.0
2         10.0
3         77.0
4          5.0
          ...
445127     1.0
445128     7.0
445129    77.0
445130     8.0
445131     4.0
Name: INCOME3, Length: 445132, dtype: float64>
Column: PREGNANT, Unique value: <bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         2.0
4         2.0
         ...
445127    2.0
445128    NaN
445129    NaN
445130    NaN
445131    NaN
Name: PREGNANT, Length: 445132, dtype: float64>
Column: WEIGHT2, Unique value: <bound method Series.unique of 0         9999.0
1          150.0
2          140.0
3          140.0
4          119.0
           ...
445127     154.0
445128     183.0
445129     110.0
445130     240.0
445131     140.0
Name: WEIGHT2, Length: 445132, dtype: float64>
Column: HEIGHT3, Unique value: <bound method Series.unique of 0         9999.0
1          503.0
2          502.0
3          505.0
4          502.0
           ...
445127     505.0
445128     507.0
445129     507.0
445130     600.0
445131     506.0
Name: HEIGHT3, Length: 445132, dtype: float64>
Column: DEAF, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    2.0
445131    2.0
Name: DEAF, Length: 445132, dtype: float64>
Column: BLIND, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    2.0
445131    2.0
Name: BLIND, Length: 445132, dtype: float64>
Column: DECIDE, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    7.0
445130    2.0
445131    1.0
Name: DECIDE, Length: 445132, dtype: float64>
Column: DIFFWALK, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0
445130    2.0
445131    1.0
Name: DIFFWALK, Length: 445132, dtype: float64>
Column: DIFFDRES, Unique value: <bound method Series.unique of 0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
445127    2.0
445128    2.0
445129    2.0

In [18]:
#Looping to get all column names
for col in df.columns:
    print(f"{col} ")
    print(" ")

_STATE

FMONTH

IDATE

IMONTH

IDAY

IYEAR

DISPCODE

SEQNO

_PSU

CTELENM1

PVTRESD1

COLGHOUS

STATERE1

CELPHON1

LADULT1

COLGSEX1

NUMADULT

LANDSEX1

NUMMEN

NUMWOMEN

RESPSLCT

SAFETIME

CTELNUM1

CELLFON5

CADULT1

CELLSEX1

PVTRESD3

CCLGHOUS

CSTATE1

LANDLINE

HHADULT

SEXVAR

GENHLTH

PHYSHLTH

MENTHLTH

POORHLTH

PRIMINSR

PERSDOC3

MEDCOST1

CHECKUP1

EXERANY2

SLEPTIM1

LASTDEN4

RMVTETH4

CVDINFR4

CVDCRHD4

CVDSTRK3

ASTHMA3

ASTHNOW

CHCSCNC1

CHCOCNC1

CHCCOPD3

ADDEPEV3

CHCKDNY2

HAVARTH4

DIABETE4

DIABAGE4

MARITAL

EDUCA

RENTHOM1

NUMHHOL4

NUMPHON4

CPDEMO1C

VETERAN3

EMPLOY1

CHILDREN

INCOME3

PREGNANT

WEIGHT2

HEIGHT3

DEAF

BLIND

DECIDE

DIFFWALK

DIFFDRES

DIFFALON

HADMAM

HOWLONG

CERVSCRN

CRVCLCNC

CRVCLPAP

CRVCLHPV

HADHYST2

HADSIGM4

COLNSIGM

COLNTES1

SIGMTES1

LASTSIG4

COLNCNCR

VIRCOLO1

VCLNTES2

SMALSTOL

STOLTEST

STOOLDN2

BLDSTFIT

SDNATES1

SMOKE100

SMOKDAY2

USENOW3

ECIGNOW2

LCSFIRST

LCSLAST

LCSNUMCG

LCSCTSC1

LCSSCNCR

LCSCTWHN

ALCDAY4

AVEDRNK3

DRNK3GE5

MAXDRNKS

FLUSHOT7

FLSHTMY3

PNEUVAC4

TETANUS1

HIVTST7

HIVTSTD3

HIVRISK5

COVIDPOS

COVIDSMP

COVIDPRM

PDIABTS1

PREDIAB2

DIABTYPE

INSULIN1

CHKHEMO3

EYEEXAM1

DIABEYE1

DIABEDU1

FEETSORE

TOLDCFS

HAVECFS

WORKCFS

IMFVPLA3

HPVADVC4

HPVADSHT

SHINGLE2

COVIDVA1

COVIDNU1

COVIDFS1

COVIDSE1

COPDCOGH

COPDFLEM

COPDBRTH

COPDBTST

COPDSMOK

CNCRDIFF

CNCRAGE

CNCRTYP2

CSRVTRT3

CSRVDOC1

CSRVSUM

CSRVRTRN

CSRVINST

CSRVINSR

CSRVDEIN

CSRVCLIN

CSRVPAIN

CSRVCTL2

PSATEST1

PSATIME1

PCPSARS2

PSASUGST

PCSTALK1

CIMEMLOS

CDHOUSE

CDASSIST

CDHELP

CDSOCIAL

CDDISCUS

CAREGIV1

CRGVREL4

CRGVLNG1

CRGVHRS1

CRGVPRB3

CRGVALZD

CRGVPER1

CRGVHOU1

CRGVEXPT

ACEDEPRS

ACEDRINK

ACEDRUGS

ACEPRISN

ACEDIVRC

ACEPUNCH

ACEHURT1

ACESWEAR

ACETOUCH

ACETTHEM

ACEHVSEX

ACEADSAF

ACEADNED

LSATISFY

EMTSUPRT

SDHISOLT

SDHEMPLY

FOODSTMP

SDHFOOD1

SDHBILLS

SDHUTILS

SDHTRNSP

SDHSTRE1

MARIJAN1

MARJSMOK

MARJEAT

MARJVAPE

MARJDAB

MARJOTHR

USEMRJN4

LASTSMK2

STOPSMK2

MENTCIGS

MENTECIG

HEATTBCO

ASBIALCH

ASBIDRNK

ASBIBING

ASBIADVC

ASBIRDUC

FIREARM5

GUNLOAD

LOADULK2

RCSGEND1

RCSXBRTH

RCSRLTN2

CASTHDX2

CASTHNO2

BIRTHSEX

SOMALE

SOFEMALE

TRNSGNDR

HADSEX

PFPPRVN4

TYPCNTR9

BRTHCNT4

WHEREGET

NOBCUSE8

BCPREFER

RRCLASS3

RRCOGNT2

RRTREAT

RRATWRK2

RRHCARE4

RRPHYSM2

QSTVER

QSTLANG

_METSTAT

_URBSTAT

MSCODE

_STSTR

_STRWT

_RAWRAKE

_WT2RAKE

_IMPRACE

_CHISPNC

_CRACE2

_CPRACE2

CAGEG

_CLLCPWT

_DUALUSE

_DUALCOR

_LLCPWT2

_LLCPWT

_RFHLTH

_PHYS14D

_MENT14D

_HLTHPLN

_HCVU652

_TOTINDA

_EXTETH3

_ALTETH3

_DENVST3

_MICHD

_LTASTH1

_CASTHM1

_ASTHMS1

_DRDXAR2

_PRACE2

_MRACE2

_HISPANC

_RACE1

_RACEG22

_RACEGR4

_RACEPR1

_SEX

_AGEG5YR

_AGE65YR

_AGE80

_AGE_G

HTIN4

HTM4

WTKG3

_BMI5

_BMI5CAT

_RFBMI5

_CHLDCNT

_EDUCAG

_INCOMG1

_RFMAM22

_MAM5023

_HADCOLN

_CLNSCP1

_HADSIGM

_SGMSCP1

_SGMS101

_RFBLDS5

_STOLDN1

_VIRCOL1

_SBONTI1

_CRCREC2

_SMOKER3

_RFSMOK3

_CURECI2

_YRSSMOK

_PACKDAY

_PACKYRS

_YRSQUIT

_SMOKGRP

_LCSREC

DRNKANY6

DROCDY4_

_RFBING6

_DRNKWK2

_RFDRHV8

_FLSHOT7

_PNEUMO3

_AIDTST4

_STATE 
 
FMONTH 
 
IDATE 
 
IMONTH 
 
IDAY 
 
IYEAR 
 
DISPCODE 
 
SEQNO 
 
_PSU 
 
CTELENM1 
 
PVTRESD1 
 
COLGHOUS 
 
STATERE1 
 
CELPHON1 
 
LADULT1 
 
COLGSEX1 
 
NUMADULT 
 
LANDSEX1 
 
NUMMEN 
 
NUMWOMEN 
 
RESPSLCT 
 
SAFETIME 
 
CTELNUM1 
 
CELLFON5 
 
CADULT1 
 
CELLSEX1 
 
PVTRESD3 
 
CCLGHOUS 
 
CSTATE1 
 
LANDLINE 
 
HHADULT 
 
SEXVAR 
 
GENHLTH 
 
PHYSHLTH 
 
MENTHLTH 
 
POORHLTH 
 
PRIMINSR 
 
PERSDOC3 
 
MEDCOST1 
 
CHECKUP1 
 
EXERANY2 
 
SLEPTIM1 
 
LASTDEN4 
 
RMVTETH4 
 
CVDINFR4 
 
CVDCRHD4 
 
CVDSTRK3 
 
ASTHMA3 
 
ASTHNOW 
 
CHCSCNC1 
 
CHCOCNC1 
 
CHCCOPD3 
 
ADDEPEV3 
 
CHCKDNY2 
 
HAVARTH4 
 
DIABETE4 
 
DIABAGE4 
 
MARITAL 
 
EDUCA 
 
RENTHOM1 
 
NUMHHOL4 
 
NUMPHON4 
 
CPDEMO1C 
 
VETERAN3 
 
EMPLOY1 
 
CHILDREN 
 
INCOME3 
 
PREGNANT 
 
WEIGHT2 
 
HEIGHT3 
 
DEAF 
 
BLIND 
 
DECIDE 
 
DIFFWALK 
 
DIFFDRES 
 
DIFFALON 
 
HADMAM 
 
HOWLONG 
 
CERVSCRN 
 
CRVCLCNC 
 
CRVCLPAP 
 
CRVCLHPV 
 
HADHYST2 
 
HADSIGM4 
 
COLNSIGM 
 
COLNTES1 
 
SIGMTES1 
 
LASTSIG4 
 
COLNCNCR 
 
VIRCOLO1 
 
VCLNTES2 
 
SMALSTOL 
 
STOLTEST 
 
STOOLDN2 
 
BLDSTFIT 
 
SDNATES1 
 
SMOKE100 
 
SMOKDAY2 
 
USENOW3 
 
ECIGNOW2 
 
LCSFIRST 
 
LCSLAST 
 
LCSNUMCG 
 
LCSCTSC1 
 
LCSSCNCR 
 
LCSCTWHN 
 
ALCDAY4 
 
AVEDRNK3 
 
DRNK3GE5 
 
MAXDRNKS 
 
FLUSHOT7 
 
FLSHTMY3 
 
PNEUVAC4 
 
TETANUS1 
 
HIVTST7 
 
HIVTSTD3 
 
HIVRISK5 
 
COVIDPOS 
 
COVIDSMP 
 
COVIDPRM 
 
PDIABTS1 
 
PREDIAB2 
 
DIABTYPE 
 
INSULIN1 
 
CHKHEMO3 
 
EYEEXAM1 
 
DIABEYE1 
 
DIABEDU1 
 
FEETSORE 
 
TOLDCFS 
 
HAVECFS 
 
WORKCFS 
 
IMFVPLA3 
 
HPVADVC4 
 
HPVADSHT 
 
SHINGLE2 
 
COVIDVA1 
 
COVIDNU1 
 
COVIDFS1 
 
COVIDSE1 
 
COPDCOGH 
 
COPDFLEM 
 
COPDBRTH 
 
COPDBTST 
 
COPDSMOK 
 
CNCRDIFF 
 
CNCRAGE 
 
CNCRTYP2 
 
CSRVTRT3 
 
CSRVDOC1 
 
CSRVSUM 
 
CSRVRTRN 
 
CSRVINST 
 
CSRVINSR 
 
CSRVDEIN 
 
CSRVCLIN 
 
CSRVPAIN 
 
CSRVCTL2 
 
PSATEST1 
 
PSATIME1 
 
PCPSARS2 
 
PSASUGST 
 
PCSTALK1 
 
CIMEMLOS 
 
CDHOUSE 
 
CDASSIST 
 
CDHELP 
 
CDSOCIAL 
 
CDDISCUS 
 
CAREGIV1 
 
CRGVREL4 
 
CRGVLNG1 
 
CRGVHRS1 
 
CRGVPRB3 
 
CRGVALZD 
 
CRGVPER1 
 
CRGVHOU1 
 
CRGVEXPT 
 
ACEDEPRS 
 
ACEDRINK 
 
ACEDRUGS 
 
ACEPRISN 
 
ACEDIVRC 
 
ACEPUNCH 
 
ACEHURT1 
 
ACESWEAR 
 
ACETOUCH 
 
ACETTHEM 
 
ACEHVSEX 
 
ACEADSAF 
 
ACEADNED 
 
LSATISFY 
 
EMTSUPRT 
 
SDHISOLT 
 
SDHEMPLY 
 
FOODSTMP 
 
SDHFOOD1 
 
SDHBILLS 
 
SDHUTILS 
 
SDHTRNSP 
 
SDHSTRE1 
 
MARIJAN1 
 
MARJSMOK 
 
MARJEAT 
 
MARJVAPE 
 
MARJDAB 
 
MARJOTHR 
 
USEMRJN4 
 
LASTSMK2 
 
STOPSMK2 
 
MENTCIGS 
 
MENTECIG 
 
HEATTBCO 
 
ASBIALCH 
 
ASBIDRNK 
 
ASBIBING 
 
ASBIADVC 
 
ASBIRDUC 
 
FIREARM5 
 
GUNLOAD 
 
LOADULK2 
 
RCSGEND1 
 
RCSXBRTH 
 
RCSRLTN2 
 
CASTHDX2 
 
CASTHNO2 
 
BIRTHSEX 
 
SOMALE 
 
SOFEMALE 
 
TRNSGNDR 
 
HADSEX 
 
PFPPRVN4 
 
TYPCNTR9 
 
BRTHCNT4 
 
WHEREGET 
 
NOBCUSE8 
 
BCPREFER 
 
RRCLASS3 
 
RRCOGNT2 
 
RRTREAT 
 
RRATWRK2 
 
RRHCARE4 
 
RRPHYSM2 
 
QSTVER 
 
QSTLANG 
 
_METSTAT 
 
_URBSTAT 
 
MSCODE 
 
_STSTR 
 
_STRWT 
 
_RAWRAKE 
 
_WT2RAKE 
 
_IMPRACE 
 
_CHISPNC 
 
_CRACE2 
 
_CPRACE2 
 
CAGEG 
 
_CLLCPWT 
 
_DUALUSE 
 
_DUALCOR 
 
_LLCPWT2 
 
_LLCPWT 
 
_RFHLTH 
 
_PHYS14D 
 
_MENT14D 
 
_HLTHPLN 
 
_HCVU652 
 
_TOTINDA 
 
_EXTETH3 
 
_ALTETH3 
 
_DENVST3 
 
_MICHD 
 
_LTASTH1 
 
_CASTHM1 
 
_ASTHMS1 
 
_DRDXAR2 
 
_PRACE2 
 
_MRACE2 
 
_HISPANC 
 
_RACE1 
 
_RACEG22 
 
_RACEGR4 
 
_RACEPR1 
 
_SEX 
 
_AGEG5YR 
 
_AGE65YR 
 
_AGE80 
 
_AGE_G 
 
HTIN4 
 
HTM4 
 
WTKG3 

_BMI5 
 
_BMI5CAT 
 
_RFBMI5 
 
_CHLDCNT 
 
_EDUCAG 
 
_INCOMG1 
 
_RFMAM22 
 
_MAM5023 
 
_HADCOLN 
 
_CLNSCP1 
 
_HADSIGM 
 
_SGMSCP1 
 
_SGMS101 
 
_RFBLDS5 
 
_STOLDN1 
 
_VIRCOL1 
 
_SBONTI1 
 
_CRCREC2 
 
_SMOKER3 
 
_RFSMOK3 
 
_CURECI2 
 
_YRSSMOK 
 
_PACKDAY 
 
_PACKYRS 
 
_YRSQUIT 
 
_SMOKGRP 
 
_LCSREC 
 
DRNKANY6 
 
DROCDY4_ 
 
_RFBING6 
 
_DRNKWK2 
 
_RFDRHV8 
 
_FLSHOT7 
 
_PNEUMO3 
 
_AIDTST4

# Columns to Drop:
- Oral Health: _EXTETH3, _ALTETH3, _DENVST3
- Breat cancer screening: _RFMAM22, _MAM5023,
- Colorectal cancer screening: _HADCOLN, _CLNSCP1, _HADSIGM, _SGMSCP1, _SGMS101, _RFBLDS5, _STOLDN1, _VIRCOL1, _SBONTI1, _CRCREC2
- Tobacco use: _LCSREC,
- Immunization: _FLSHOT7, _PNEUMO3
- HIV/AIDS: _AIDTST4



_STATE 

COLGSEX1 
 
NUMADULT 
 
LANDSEX1 
 
CELLSEX1 
 
PVTRESD3  
 
SEXVAR 
 
GENHLTH 
 
PHYSHLTH 
 
MENTHLTH 
 
POORHLTH 
 
PRIMINSR 
 
PERSDOC3 
 
EXERANY2 
 
SLEPTIM1 
 
LASTDEN4 
 
CVDINFR4 
 
CVDCRHD4 
 
CVDSTRK3 
 
ASTHMA3 
 
ASTHNOW 
 
CHCSCNC1 
 
CHCOCNC1 
 
CHCCOPD3 
 
ADDEPEV3 
 
CHCKDNY2 
 
HAVARTH4 
 
DIABETE4 
 
DIABAGE4 
 
MARITAL 
 
EDUCA 
 
RENTHOM1 
 
CPDEMO1C 
 
VETERAN3 
 
EMPLOY1 
 
CHILDREN 
 
INCOME3 
 
PREGNANT 
 
WEIGHT2 
 
HEIGHT3 
 
DECIDE 
 
DIFFWALK 
 
DIFFDRES 
 
DIFFALON 

SMOKE100 
 
SMOKDAY2 
 
USENOW3 
 
ALCDAY4 
 
AVEDRNK3 
 
DRNK3GE5 
 
MAXDRNKS 

 
PDIABTS1 
 
PREDIAB2 
 
DIABTYPE 
 
INSULIN1 
 
CHKHEMO3 
 
CIMEMLOS 
 
CDHOUSE 
 
CDASSIST 
 
CDHELP 
 
CDSOCIAL 
 
CDDISCUS 
 
CAREGIV1 
 
CRGVREL4 
 
CRGVLNG1 
 
CRGVHRS1 
 
CRGVPRB3 
 
CRGVALZD 
 
CRGVPER1 
 
CRGVHOU1 
 
CRGVEXPT 
 
ACEDEPRS 
 
ACEDRINK 
 
ACEDRUGS 
 
ACEPRISN 
 
ACEDIVRC 
 
ACEPUNCH 
 
ACEHURT1 
 
ACESWEAR 
 
ACETOUCH 
 
ACETTHEM 
 
ACEHVSEX 
 
ACEADSAF 
 
ACEADNED 
 
LSATISFY 
 
EMTSUPRT 
 
SDHISOLT 
 
SDHEMPLY 
 
FOODSTMP 
 
SDHFOOD1 
 
SDHBILLS 
 
SDHUTILS 
 
SDHTRNSP 
 
SDHSTRE1 

 
MARIJAN1 
 
MARJSMOK 
 
MARJEAT 
 
MARJVAPE 
 
MARJDAB 
 
MARJOTHR 
 
USEMRJN4 


 
LASTSMK2 
 
STOPSMK2 
 
MENTCIGS 
 
MENTECIG 


ASBIALCH 
 
ASBIDRNK 
 
ASBIBING 
 
ASBIADVC 
 
ASBIRDUC 


 
FIREARM5 
 
GUNLOAD 
 
LOADULK2 


 
BIRTHSEX 
 
SOMALE 
 
SOFEMALE 
 
TRNSGNDR 
 
HADSEX 
 
PFPPRVN4 
 
TYPCNTR9 
 
BRTHCNT4 
 
WHEREGET 
 
NOBCUSE8 
 
BCPREFER 


 
_METSTAT 
 
_URBSTAT 
 
MSCODE 

 
_STSTR 
 
_STRWT 
 
_RAWRAKE 
 
_WT2RAKE 


 
_IMPRACE 
 
_CHISPNC 
 
_CRACE2 
 
_CPRACE2 
 
CAGEG 
 
_CLLCPWT 
 
_DUALUSE 
 
_DUALCOR 
 
_LLCPWT2 
 
_LLCPWT 


## Calculated variables plus sleep variable 
 
_RFHLTH 
 
_PHYS14D 
 
_MENT14D 
 
_HLTHPLN 
 
_HCVU652 
 
_TOTINDA 

SLEPTIM1 
 
_EXTETH3 
 
_ALTETH3 
 
_DENVST3 
 
_MICHD 
 
_LTASTH1 
 
_CASTHM1 
 
_ASTHMS1 
 
_DRDXAR2 
 
_PRACE2 
 
_MRACE2 
 
_HISPANC 
 
_RACE1 
 
_RACEG22 
 
_RACEGR4 
 
_RACEPR1 
 
_SEX 
 
_AGEG5YR 
 
_AGE65YR 
 
_AGE80 
 
_AGE_G 
 
HTIN4 
 
HTM4 
 
WTKG3 

_BMI5 
 
_BMI5CAT 
 
_RFBMI5 
 
_CHLDCNT 
 
_EDUCAG 
 
_INCOMG1 
 
_RFMAM22 
 
_MAM5023 
 
_HADCOLN 
 
_CLNSCP1 
 
_HADSIGM 
 
_SGMSCP1 
 
_SGMS101 
 
_RFBLDS5 
 
_STOLDN1 
 
_VIRCOL1 
 
_SBONTI1 
 
_CRCREC2 
 
_SMOKER3 
 
_RFSMOK3 
 
_CURECI2 
 
_YRSSMOK 
 
_PACKDAY 
 
_PACKYRS 
 
_YRSQUIT 
 
_SMOKGRP 
 
_LCSREC 
 
DRNKANY6 
 
DROCDY4_ 
 
_RFBING6 
 
_DRNKWK2 
 
_RFDRHV8 
 
_FLSHOT7 
 
_PNEUMO3 
 
_AIDTST4

# Columns to keep:

- Health Status: _RFHLTH
- Healthy Days: _PHYS14D, _MENT14D
- Health Care Access: _HLTHPLN, _HCVU652
- Exercise:	_TOTINDA
- Chronic Heath Conditions: _MICHD, _LTASTH1, _CASTHM1, _ASTHMS1, _DRDXAR2
- Demographics: _HISPANC, _RACEPR1, _SEX, _AGEG5YR, _AGE65YR, _AGE80, _AGE_G, HTIN4, HTM4, WTKG3, _BMI5,_BMI5CAT, _RFBMI5, 	_CHLDCNT, _EDUCAG, _INCOMG1, _PRACE2, _MRACE2, _RACE1, _RACEG22, _RACEGR4, _METSTAT, _URBSTAT, 
- Alcohol Consumption: DRNKANY6, DROCDY4_, _RFBING6, _DRNKWK2, _RFDRHV8, 

- 

HTIN4 
 
HTM4 
 
WTKG3 
 
_BMI5 
 
_BMI5CAT 
 
_RFBMI5 

_EDUCAG 
 
_INCOMG1  

_PRACE2 
 
_MRACE2 
 
_HISPANC 
 
_RACE1 
 
_RACEG22 
 
_RACEGR4 
 
_RACEPR1 

_METSTAT 
 
_URBSTAT

# Dropping na values

df_thin= df[columns = df[:

_RFHLTH, _PHYS14D, _MENT14D, _HLTHPLN 
 
_HCVU652 
 
_TOTINDA 

SLEPTIM1 
 
_EXTETH3 
 
_ALTETH3 
 
_DENVST3 
 
_MICHD 
 
_LTASTH1 
 
_CASTHM1 
 
_ASTHMS1 
 
_DRDXAR2 
 
_PRACE2 
 
_MRACE2 
 
_HISPANC 
 
_RACE1 
 
_RACEG22 
 
_RACEGR4 
 
_RACEPR1 
 
_SEX 
 
_AGEG5YR 
 
_AGE65YR 
 
_AGE80 
 
_AGE_G 
 
HTIN4 
 
HTM4 
 
WTKG3 

_BMI5 
 
_BMI5CAT 
 
_RFBMI5 
 
_CHLDCNT 
 
_EDUCAG 
 
_INCOMG1 
 
_RFMAM22 
 
_MAM5023 
 
_HADCOLN 
 
_CLNSCP1 
 
_HADSIGM 
 
_SGMSCP1 
 
_SGMS101 
 
_RFBLDS5 
 
_STOLDN1 
 
_VIRCOL1 
 
_SBONTI1 
 
_CRCREC2 
 
_SMOKER3 
 
_RFSMOK3 
 
_CURECI2 
 
_YRSSMOK 
 
_PACKDAY 
 
_PACKYRS 
 
_YRSQUIT 
 
_SMOKGRP 
 
_LCSREC 
 
DRNKANY6 
 
DROCDY4_ 
 
_RFBING6 
 
_DRNKWK2 
 
_RFDRHV8 
 
_FLSHOT7 
 
_PNEUMO3 
 
_AIDTST4 

print(df_without_na.info())

## Trial: Dropping all columns but the caluclated variable columns 

Dropping to see how it would effect the dataset

Other potentials could be using the groupby function:

#making topic test df to show topic_ids per question per year
topic_test = df_short.groupby(['question_id', 'year', 'topic_id'])['location_id'].count()

In [19]:
# Assuming df is your DataFrame and column_name is the name of the column you want to locate
column_name = '_METSTAT'

# Get the column index (number) using the column name
column_number = df.columns.get_loc(column_name)

print("Column number of '{}' is: {}".format(column_name, column_number))

Column number of '_METSTAT' is: 245

In [20]:
column_name = 'WEIGHT2'

# Get the column index (number) using the column name
column_number = df.columns.get_loc(column_name)

print("Column number of '{}' is: {}".format(column_name, column_number))

Column number of 'WEIGHT2' is: 68

In [21]:
column_name = 'HEIGHT3'

# Get the column index (number) using the column name
column_number = df.columns.get_loc(column_name)

print("Column number of '{}' is: {}".format(column_name, column_number))

Column number of 'HEIGHT3' is: 69

In [22]:
# Reducing Dataset to calculated variables
reduced_df = pd.concat([df.iloc[:, 68:70], df.iloc[:, 245:]], axis=1)
reduced_df.head()

,WEIGHT2,HEIGHT3,_METSTAT,_URBSTAT,MSCODE,_STSTR,_STRWT,_RAWRAKE,_WT2RAKE,_IMPRACE,_CHISPNC,_CRACE2,_CPRACE2,CAGEG,_CLLCPWT,_DUALUSE,_DUALCOR,_LLCPWT2,_LLCPWT,_RFHLTH,_PHYS14D,_MENT14D,_HLTHPLN,_HCVU652,_TOTINDA,_EXTETH3,_ALTETH3,_DENVST3,_MICHD,_LTASTH1,_CASTHM1,_ASTHMS1,_DRDXAR2,_PRACE2,_MRACE2,_HISPANC,_RACE1,_RACEG22,_RACEGR4,_RACEPR1,_SEX,_AGEG5YR,_AGE65YR,_AGE80,_AGE_G,HTIN4,HTM4,WTKG3,_BMI5,_BMI5CAT,_RFBMI5,_CHLDCNT,_EDUCAG,_INCOMG1,_RFMAM22,_MAM5023,_HADCOLN,_CLNSCP1,_HADSIGM,_SGMSCP1,_SGMS101,_RFBLDS5,_STOLDN1,_VIRCOL1,_SBONTI1,_CRCREC2,_SMOKER3,_RFSMOK3,_CURECI2,_YRSSMOK,_PACKDAY,_PACKYRS,_YRSQUIT,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,9999.0,9999.0,1.0,1.0,2.0,11011.0,37.418416,2.0,74.836832,1.0,9.0,NaN,NaN,NaN,NaN,1.0,0.520383,813.918517,487.612985,1.0,1.0,1.0,9.0,9.0,2.0,9.0,9.0,9.0,2.0,1.0,1.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,13.0,2.0,80.0,6.0,NaN,NaN,NaN,NaN,NaN,9.0,1.0,4.0,9.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1.0,NaN,NaN,NaN,NaN,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,150.0,503.0,2.0,1.0,5.0,11011.0,37.418416,1.0,37.418416,1.0,9.0,NaN,NaN,NaN,NaN,1.0,0.520383,406.959258,432.100273,1.0,1.0,1.0,1.0,9.0,2.0,9.0,9.0,9.0,2.0,1.0,1.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,13.0,2.0,80.0,6.0,63.0,160.0,6804.0,2657.0,3.0,2.0,1.0,2.0,3.0,2.0,NaN,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1.0,NaN,NaN,NaN,NaN,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,140.0,502.0,1.0,1.0,2.0,11011.0,37.418416,1.0,37.418416,1.0,9.0,NaN,NaN,NaN,NaN,1.0,0.520383,406.959258,366.743194,1.0,2.0,2.0,1.0,1.0,1.0,9.0,NaN,9.0,2.0,1.0,1.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,8.0,1.0,56.0,5.0,62.0,157.0,6350.0,2561.0,3.0,2.0,1.0,4.0,6.0,1.0,1.0,2.0,3.0,2.0,3.0,3.0,NaN,NaN,NaN,2.0,2.0,4.0,1.0,1.0,NaN,NaN,NaN,NaN,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,140.0,505.0,1.0,1.0,1.0,11011.0,37.418416,3.0,112.255248,1.0,9.0,NaN,NaN,NaN,NaN,1.0,0.520383,1220.877775,1681.791487,1.0,1.0,1.0,9.0,9.0,1.0,9.0,9.0,9.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,14.0,3.0,73.0,6.0,65.0,165.0,6350.0,2330.0,2.0,1.0,1.0,2.0,9.0,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,56.0,0.1,6.0,NaN,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,119.0,502.0,1.0,1.0,1.0,11011.0,37.418416,2.0,74.836832,1.0,9.0,NaN,NaN,NaN,NaN,1.0,0.520383,813.918517,2111.206286,2.0,2.0,1.0,1.0,1.0,1.0,9.0,NaN,9.0,2.0,1.0,1.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,5.0,1.0,43.0,3.0,62.0,157.0,5398.0,2177.0,2.0,1.0,1.0,3.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1.0,NaN,NaN,NaN,NaN,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0

In [23]:
print(reduced_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 83 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   429231 non-null  float64
 1   HEIGHT3   428077 non-null  float64
 2   _METSTAT  435724 non-null  float64
 3   _URBSTAT  435724 non-null  float64
 4   MSCODE    93886 non-null   float64
 5   _STSTR    445132 non-null  float64
 6   _STRWT    445132 non-null  float64
 7   _RAWRAKE  445132 non-null  float64
 8   _WT2RAKE  445132 non-null  float64
 9   _IMPRACE  445132 non-null  float64
 10  _CHISPNC  324309 non-null  float64
 11  _CRACE2   60846 non-null   float64
 12  _CPRACE2  59990 non-null   float64
 13  CAGEG     50176 non-null   float64
 14  _CLLCPWT  59146 non-null   float64
 15  _DUALUSE  445132 non-null  float64
 16  _DUALCOR  158029 non-null  float64
 17  _LLCPWT2  445132 non-null  float64
 18  _LLCPWT   445132 non-null  float64
 19  _RFHLTH   445132 non-null  float64
 20  _PHYS14D  445132 non-null  float64
 21  _MENT14D  445132 non-null  float64
 22  _HLTHPLN  445132 non-null  float64
 23  _HCVU652  445132 non-null  float64
 24  _TOTINDA  445132 non-null  float64
 25  _EXTETH3  445132 non-null  float64
 26  _ALTETH3  168419 non-null  float64
 27  _DENVST3  445128 non-null  float64
 28  _MICHD    440111 non-null  float64
 29  _LTASTH1  445132 non-null  float64
 30  _CASTHM1  445132 non-null  float64
 31  _ASTHMS1  445132 non-null  float64
 32  _DRDXAR2  442499 non-null  float64
 33  _PRACE2   445119 non-null  float64
 34  _MRACE2   445121 non-null  float64
 35  _HISPANC  445132 non-null  float64
 36  _RACE1    445130 non-null  float64
 37  _RACEG22  445130 non-null  float64
 38  _RACEGR4  445130 non-null  float64
 39  _RACEPR1  445132 non-null  float64
 40  _SEX      445132 non-null  float64
 41  _AGEG5YR  445132 non-null  float64
 42  _AGE65YR  445132 non-null  float64
 43  _AGE80    445132 non-null  float64
 44  _AGE_G    445132 non-null  float64
 45  HTIN4     412656 non-null  float64
 46  HTM4      416480 non-null  float64
 47  WTKG3     403054 non-null  float64
 48  _BMI5     396326 non-null  float64
 49  _BMI5CAT  396326 non-null  float64
 50  _RFBMI5   445132 non-null  float64
 51  _CHLDCNT  445131 non-null  float64
 52  _EDUCAG   445132 non-null  float64
 53  _INCOMG1  445132 non-null  float64
 54  _RFMAM22  181240 non-null  float64
 55  _MAM5023  102676 non-null  float64
 56  _HADCOLN  285329 non-null  float64
 57  _CLNSCP1  221952 non-null  float64
 58  _HADSIGM  285329 non-null  float64
 59  _SGMSCP1  222213 non-null  float64
 60  _SGMS101  222213 non-null  float64
 61  _RFBLDS5  46401 non-null   float64
 62  _STOLDN1  45985 non-null   float64
 63  _VIRCOL1  45792 non-null   float64
 64  _SBONTI1  242939 non-null  float64
 65  _CRCREC2  242939 non-null  float64
 66  _SMOKER3  445132 non-null  float64
 67  _RFSMOK3  445132 non-null  float64
 68  _CURECI2  445132 non-null  float64
 69  _YRSSMOK  147604 non-null  float64
 70  _PACKDAY  150247 non-null  float64
 71  _PACKYRS  142865 non-null  float64
 72  _YRSQUIT  106330 non-null  float64
 73  _SMOKGRP  409670 non-null  float64
 74  _LCSREC   51453 non-null   float64
 75  DRNKANY6  445132 non-null  float64
 76  DROCDY4_  445128 non-null  float64
 77  _RFBING6  445132 non-null  float64
 78  _DRNKWK2  445132 non-null  float64
 79  _RFDRHV8  445132 non-null  float64
 80  _FLSHOT7  168419 non-null  float64
 81  _PNEUMO3  168419 non-null  float64
 82  _AIDTST4  398897 non-null  float64
dtypes: float64(83)
memory usage: 281.9 MB
None

In [24]:
#Inspecting unique values and value counts for all variables
for col in reduced_df:
    print(f"{col} - unique values: ")
    print(df[col].unique(), "\n")
    print("------------------------------------")

WEIGHT2 - unique values:
[9999.  150.  140.  119.  187.  138.  162.  180.  165.  131.  188.  235.
  157.  142.  135.  200.  145.  146.  177.  190.  105.  236.  126.  232.
  170.  125.  175.  250.  225.  132.  230.   nan  118.  136.  300.   76.
  220.  280.  174.  210.  130.  203.  160.  185.  110.  260.  158.  227.
 7777.  137.  184.  120.  208.  134.  258.  144.  169.  195.  198.  164.
  152.  176.  239.  199.  123.  202.  104.  172.  112.  201.  186.  320.
  207.  270.  108.  163.  196.  178.  179.  350.  215.  114.  182.  168.
  151.  166.  155.  139.  133.  255.  191.  240.  204.  275.   95.  129.
  141.  205.   98.  284.  218.  100.  244.  103.  128.  161.  211.  289.
  173.  153.  189.  149.  229.  265.  194.  121.  246.  115.  171.  279.
  209.  273.  197.  167.  154.  248.  181.  234.  127.  156.  328.  212.
  148.  106.  360.  242.  222.  315.  143.  245.  267.  122.  224.  206.
  259.  266.  147.   99.  291.  237.  238.   80.  228.  192.  183.  124.
  213.  296.  214.   77.  219.  159.  109.  269.  217.  286.  400.  116.
  268.  243.  107.  310.  345.  257.  193.   97.  252.   70.  216.  223.
  247.  221.  251.  340.  261.  295.  330.   92.  264.  305.  335.  285.
  290.  231.  292.  226.  256.   89.  233.  302.  430.  117.  293.  274.
  249.  253.  101.  263.  370.  113.  380.  358.  102.  282.  272.   85.
  288.  316.  254.  368.  298.  241.  299.  450.  281.  262.  307.  278.
  271.  334.  294.   94.  111. 9080.  420.   82.  326.   78.  318.  329.
   83. 9086.  325. 9281.  365.  359.  343. 9070.  304.  418.  455.  327.
   93.  339.   84. 9090.  390.  423.  550. 9067. 9095. 9082.  375. 9062.
   90. 9053.  308.  287. 9100.  364. 9064.   96. 9024.  297.  312.  276.
 9075. 9060.   75.  363.   68. 9250. 9058. 9076. 9073. 9112. 9074. 9055.
 9200. 9054. 9066. 9072.  336.   87. 9220.   91.  371.  415. 9059. 9046.
 9265.  525.  372. 9145. 9190. 9093.  352. 9078. 9050.  408. 9091. 9104.
 9165.  405.   74.  357. 9068.  277. 9134. 9130.   71.  317. 9069.  395.
 9063. 9105.  465. 9065. 9032.  645. 9280. 9085. 9088.  385. 9056.  283.
 9087.   88. 9083.  374.  344. 9177. 9121.  333. 9089.  324.  322. 9098.
  367.   81.  378.  501.   65.  419.  355.   79.  500.  386.  306.  530.
  349.  376. 9061.  303.  321.  311.  342. 9052. 9120. 9057. 9077. 9300.
   60.   56. 9240. 9096. 9047. 9115. 9041. 9045. 9170.  332.  600.   58.
 9048.   86. 9236. 9092.  435. 9156. 9084. 9094.   64. 9049. 9079.  348.
  425. 9255. 9108. 9185.  490.  507. 9180. 9081.   55. 9071. 9026. 9107.
 9101.  460. 9140. 9175. 9111. 9110.  313.   50.  628.  301. 9210. 9103.
  410.  309.  323.   54.   57. 9150. 9102.  506.   52. 9125. 9163. 9038.
 9135.  389.  409.  337.  513. 9124.  424.  412. 9118.  353. 9305. 9160.
  427.  445.  319.  406.  314. 9169.  366.   72.  398.  433. 9051. 9040.
  379.  432.   73.  338.  351.  738.  362.  777.  485.  475.  402. 9030.
  354.  382. 9158.  470.  609.  440.  388.  520.  480.  441.  509. 9146.
   53.  394.  331.  347.  361.  422.  705.  384.   63. 9097.  565.  453.
  356.  393.  396.  452.  560.  341.  462.  444.  518.  392.  442.  511.
  502.  603.  417.  383.  731.  404.  369.  467.  493.  504.   67.  436.
  407.  710.  552.  401.   69.  640. 9285. 1230.   32. 9113.  535.  510.
  736.  397.  447. 9176.  416.  456.  999. 9164.  346. 9114. 9122. 9222.
 9137. 9166.  399. 9272.  381.  605.  517.  439.  540.  448.   51.  650.
  585.  437.  580.  478. 9154.  373.  527.  391.  464.  496. 9117. 9037.
  700. 9126.  602.  449.  556. 9044.  526.  429.  413.  488. 9162. 9352.
  495. 9023.  492.  414.  469. 9152.  515.  426. 9205.  505. 9230.  545.
 9099.   62.  508.  387. 1135.  454.  763.  377.   59.  468. 9217.  618.
  621.  548. 9195. 9042.  570.  474. 9116. 9028. 9123.  411.  503. 9119.
  483.  473.  615.  403. 9138.  479.  543. 9189.]

------------------------------------
HEIGHT3 - unique values:
[9999.  503.  502.  505.  511.  504.  507.  506.  508.   nan  501.  604.
  602.  510.  601.  509.  500.  600.  603.  605. 7777.  411.  409.  408.
  401.  410.  400.  606.  608.  607.  403.  407.  405. 9165. 9182. 9167.
 9176.  611.  406. 9164. 9175. 9183. 9180. 9171.  701.  705.  300.  609.
  309. 9152. 9170. 9174. 9151. 9153. 9169. 9156. 9184. 9190. 9160. 9154.
 9172. 9187. 9157. 9163. 9161. 9149. 9159. 9178. 9140. 9150. 9155. 9158.
 9188. 9162. 9168. 9179. 9145. 9146. 9189.  700.  303.  610.  703.  404.
 9173.  702. 9177.  709. 9125. 9166. 9185. 9186. 9195. 9147.  311. 9105.
 9130. 9148. 9103. 9118. 9181. 9138. 9144.  306.  402. 9120. 9117. 9193.
  305. 9198. 9107. 9104. 9090. 9254. 9505.  704. 9135. 9110. 9143.  210.
  800. 9192. 9142. 9205.  308.  711.  708.  801.  302. 9106. 9115.  706.
 9116. 9109. 9191. 9092.  307. 9196. 9127. 9207. 9100.  310. 9108. 9114.
 9253. 9752. 9102. 9133.  304.  209. 9200. 9202. 9194. 9095.  200.]

------------------------------------
_METSTAT - unique values:
[ 1.  2. nan]

------------------------------------
_URBSTAT - unique values:
[ 1.  2. nan]

------------------------------------
MSCODE - unique values:
[ 2.  5.  1.  3. nan]

------------------------------------
_STSTR - unique values:
[ 11011.  11012.  11021. ... 782021. 782011. 782029.]

------------------------------------
_STRWT - unique values:
[ 37.41841616 149.45032742  36.82126636 ...   5.43209877   6.75707043
   1.4300214 ]

------------------------------------
_RAWRAKE - unique values:
[2.         1.         3.         4.         0.66666667 5.
 0.5        0.33333333 1.5        1.33333333 2.5        1.66666667]

------------------------------------
_WT2RAKE - unique values:
[ 74.83683232  37.41841616 112.25524849 ...  13.82716049   6.75707043
   1.4300214 ]

------------------------------------
_IMPRACE - unique values:
[1. 2. 3. 4. 6. 5.]

------------------------------------
_CHISPNC - unique values:
[ 9.  2.  1. nan]

------------------------------------
_CRACE2 - unique values:
[nan  1.  2. 99.  6. 88.  4. 77.  3.  5.]

------------------------------------
_CPRACE2 - unique values:
[nan  1.  2. 99. 77.  4.  3.  7.  5.  6.]

------------------------------------
CAGEG - unique values:
[nan  4.  3.  1.  2.]

------------------------------------
_CLLCPWT - unique values:
[          nan 4640.90510598 1161.96010819 ... 1210.52906111 1226.41642839
 1667.29481862]

------------------------------------
_DUALUSE - unique values:
[1. 9. 2.]

------------------------------------
_DUALCOR - unique values:
[0.52038282        nan 0.47961718 0.33135524 0.66864476 0.5274272
 0.4725728  0.5281577  0.4718423  0.21582518 0.78417482 0.16486632
 0.83513368 0.19387028 0.80612972 0.35581412 0.64418588 0.43035956
 0.56964044 0.51205725 0.48794275 0.60855701 0.39144299 0.34066016
 0.65933984 0.3369039  0.6630961  0.20278061 0.79721939 0.26569146
 0.73430854 0.35214581 0.64785419 0.53578466 0.46421534 0.43383281
 0.56616719 0.41937566 0.58062434 0.59761232 0.40238768 0.3635108
 0.6364892  0.25219297 0.74780703 0.49098914 0.50901086 0.24892468
 0.75107532 0.28061191 0.71938809 0.48446573 0.51553427 0.41436939
 0.58563061 0.63307844 0.36692156 0.43810633 0.56189367 0.6211766
 0.3788234  0.16910598 0.83089402 0.53122932 0.46877068 0.31571376
 0.68428624 0.20096422 0.79903578 0.45974657 0.54025343 0.43506677
 0.56493323 0.50398896 0.49601104 0.22122268 0.77877732 0.18536127
 0.81463873 0.3362107  0.6637893  0.46132275 0.53867725 0.7413297
 0.2586703  0.26809711 0.73190289 0.51883211 0.48116789 0.32951291
 0.67048709 0.2281158  0.7718842  0.57227266 0.42772734 0.34364897
 0.65635103 0.45023651 0.54976349 0.47795757 0.52204243 0.55873724
 0.44126276 0.40223497 0.59776503 0.34913107 0.65086893 0.36912294
 0.63087706]

------------------------------------
_LLCPWT2 - unique values:
[ 813.91851685  406.95925843 1220.87777528 ...  118.99117234  106.07079144
   95.90489552]

------------------------------------
_LLCPWT - unique values:
[487.6129847  432.10027294 366.74319401 ...   7.53584137 207.54685889
 368.8177583 ]

------------------------------------
_RFHLTH - unique values:
[1. 2. 9.]

------------------------------------
_PHYS14D - unique values:
[1. 2. 3. 9.]

------------------------------------
_MENT14D - unique values:
[1. 2. 3. 9.]

------------------------------------
_HLTHPLN - unique values:
[9. 1. 2.]

------------------------------------
_HCVU652 - unique values:
[9. 1. 2.]

------------------------------------
_TOTINDA - unique values:
[2. 1. 9.]

------------------------------------
_EXTETH3 - unique values:
[9. 1. 2.]

------------------------------------
_ALTETH3 - unique values:
[ 9. nan  1.  2.]

------------------------------------
_DENVST3 - unique values:
[ 9.  2.  1. nan]

------------------------------------
_MICHD - unique values:
[ 2.  1. nan]

------------------------------------
_LTASTH1 - unique values:
[1. 2. 9.]

------------------------------------
_CASTHM1 - unique values:
[1. 2. 9.]

------------------------------------
_ASTHMS1 - unique values:
[3. 1. 2. 9.]

------------------------------------
_DRDXAR2 - unique values:
[ 2.  1. nan]

------------------------------------
_PRACE2 - unique values:
[ 1.  2.  4.  3. 88. 99.  5. nan 77.  7.]

------------------------------------
_MRACE2 - unique values:
[ 1.  2.  4.  3.  6. 88. 99.  5. nan 77.]

------------------------------------
_HISPANC - unique values:
[2. 9. 1.]

------------------------------------
_RACE1 - unique values:
[ 1.  2.  4.  3.  7.  9.  8.  5. nan]

------------------------------------
_RACEG22 - unique values:
[ 1.  2.  9. nan]

------------------------------------
_RACEGR4 - unique values:
[ 1.  2.  3.  4.  9.  5. nan]

------------------------------------
_RACEPR1 - unique values:
[1. 2. 4. 3. 6. 7. 5.]

------------------------------------
_SEX - unique values:
[2. 1.]

------------------------------------
_AGEG5YR - unique values:
[13.  8. 14.  5. 12. 11. 10.  9.  7.  6.  4.  2.  3.  1.]

------------------------------------
_AGE65YR - unique values:
[2. 1. 3.]

------------------------------------
_AGE80 - unique values:
[80. 56. 73. 43. 78. 72. 57. 65. 70. 62. 63. 67. 79. 68. 66. 76. 74. 51.
 71. 61. 64. 60. 52. 69. 46. 58. 38. 77. 59. 54. 75. 35. 55. 45. 44. 50.
 47. 53. 40. 49. 28. 30. 48. 41. 42. 36. 31. 33. 27. 26. 29. 34. 20. 19.
 37. 25. 32. 18. 24. 23. 39. 22. 21.]

------------------------------------
_AGE_G - unique values:
[6. 5. 3. 4. 2. 1.]

------------------------------------
HTIN4 - unique values:
[nan 63. 62. 65. 71. 64. 67. 66. 68. 61. 76. 74. 70. 73. 69. 60. 72. 75.
 77. 59. 57. 56. 49. 58. 48. 78. 80. 79. 51. 55. 53. 83. 54. 85. 89. 36.
 81. 45. 84. 39. 82. 87. 52. 86. 93. 47. 42. 50. 41. 88. 44. 95. 92. 38.
 90. 43. 46. 40.]

------------------------------------
HTM4 - unique values:
[ nan 160. 157. 165. 180. 163. 170. 168. 173. 155. 193. 188. 178. 185.
 175. 152. 183. 191. 196. 150. 145. 142. 124. 147. 122. 198. 203. 201.
 130. 140. 135. 182. 167. 176. 211. 137. 164. 171. 216. 226.  91. 206.
 114. 174. 151. 153. 169. 156. 184. 190. 154. 172. 187. 161. 149. 159.
 158. 162. 179. 146. 189. 213.  99. 208. 221. 132. 218. 177. 236. 125.
 166. 186. 195. 119. 105. 148. 103. 118. 181. 138. 144. 107. 127. 120.
 117. 104. 224. 110. 143. 192. 205. 112. 241. 234.  97. 106. 115. 229.
 116. 109.  92. 207. 100. 108. 102. 133. 200. 202. 194.  95.]

------------------------------------
WTKG3 - unique values:
[   nan  6804.  6350.  5398.  8482.  6260.  7348.  8165.  7484.  5942.
  8528. 10659.  7121.  6441.  6123.  9072.  6577.  6622.  8029.  8618.
  4763. 10705.  5715. 10523.  7711.  5670.  7938. 11340. 10206.  5987.
 10433.  5352.  6169. 13608.  3447.  9979. 12701.  7893.  9525.  5897.
  9208.  7257.  8391.  4990. 11793.  7167. 10297.  6214.  8346.  5443.
  9435.  6078. 11703.  6532.  7666.  8845.  8981.  7439.  6895.  7983.
 10841.  9026.  5579.  9163.  4717.  7802.  5080.  9117.  8437. 14515.
  9389. 12247.  4899.  7394.  8890.  8074.  8119. 15876.  9752.  5171.
  8255.  7620.  6849.  7530.  7031.  6305.  6033. 11567.  8664. 10886.
  9253. 12474.  4309.  5851.  6396.  9299.  4445. 12882.  9888.  4536.
 11068.  4672.  5806.  7303.  9571. 13109.  7847.  6940.  8573.  6759.
 10387. 12020.  8800.  5488. 11158.  5216.  7756. 12655.  9480. 12383.
  8936.  7575.  6985. 11249.  8210. 10614.  5761.  7076. 14878.  9616.
  6713.  4808. 16329. 10977. 10070. 14288.  6486. 11113. 12111.  5534.
 10160.  9344. 11748. 12066.  6668.  4491. 13200. 10750. 10795.  3629.
 10342.  8709.  8301.  5625.  9662. 13426.  9707.  3493.  9934.  7212.
  4944. 12202.  9843. 12973. 18144.  5262. 12156. 11022.  4853. 14061.
 15649. 11657.  8754.  4400. 11431.  3175.  9798. 10115. 11204. 10024.
 11385. 15422. 11839. 13381. 14969.  4173. 11975. 13835. 15195. 12927.
 13154. 10478. 13245. 10251. 11612.  4037. 10569. 13698. 19504.  5307.
 13290. 12428. 11294. 11476.  4581. 11929. 16783.  5126. 17237. 16239.
  4627. 12791. 12338.  3856. 13063. 14334. 11521. 16692. 13517. 10932.
 13562. 20412. 12746. 11884. 13925. 12610. 12292. 15150. 13336.  4264.
  5035.  8000. 19051.  3719. 14787.  3538. 14424. 14923.  3765.  8600.
 14742. 28100. 16556. 16284. 15558.  7000. 13789. 18960. 20638. 14832.
  4218. 15377.  3810.  9000. 17690. 19187. 24948.  6700.  9500.  8200.
 17010.  6200.  4082.  5300. 13971. 13018. 10000. 16511.  6400.  4354.
  2400. 13472. 14152. 12519.  7500.  6000.  3402. 16465.  3084. 25000.
  5800.  7600.  7300. 11200.  7400.  5500. 20000.  5400.  6600.  7200.
 15241.  3946. 22000.  4128. 16828. 18824.  5900.  4600. 26500. 23814.
 16874. 14500. 19000.  9300. 15966.  7800.  5000. 18507.  9100. 10400.
 16500. 18370.  3357. 16193.  6800. 12565. 13400. 13000.  3221. 14379.
  6900. 17917.  6300. 10500. 21092.  6500.  3200. 29257. 28000.  8500.
 17463.  5600. 12837.  8700.  3992.  8300. 16964. 15604. 17700. 12100.
 15105.  8900. 14696. 14606.  9800. 16647.  3674. 17146. 22725.  2948.
 19006. 16103.  3583. 22680. 17509. 13880. 24040. 15830. 17055.  6100.
 13744. 14560. 14107. 15513.  5200. 12000.  5700.  7700.  2722.  2540.
 24000.  9600.  4700. 11500.  4100.  4500. 17000. 15059. 27216.  2631.
  4800.  3901. 23600.  9200. 19731. 15600.  8400.  9400.  2903.  4900.
  7900. 15785. 19278. 25500. 10800. 18500. 22226. 22997. 18000.  8100.
  2495.  7100.  2600. 10700. 10100. 20865. 14000. 17500. 11100. 11000.
 14197.  2268. 28486. 13653. 21000. 10300. 18597. 14016. 14651.  2449.
  2585. 15000. 10200. 22952.  2359. 12500. 16300.  3800. 13500. 17645.
 18552. 15286. 23269. 12400. 19232. 18688. 11800. 16012. 16000. 19368.
 20185. 14470. 18416. 14243. 16900. 16601.  3266. 18053. 19641.  5100.
  4000. 17191. 19595.  3311. 15331. 15921. 16420. 21999. 21546. 18234.
  3000. 16057. 17327. 15800. 21319. 27624. 19958. 17599. 23587. 21772.
 20003. 23088. 14600.  2404. 17872. 15014. 15740. 16375. 19142. 17418.
  2858.  9700. 25628. 20548. 16148. 17826. 17962. 20502. 25401. 15468.
 20956. 20140. 23496. 17781. 20049. 23179. 22770. 27352. 18915. 17373.
 18325. 16738. 21183. 22362. 22861.  3039. 19777. 18461. 25038. 18189.
  3130. 29030. 28500. 11300. 24267. 23133. 18008. 20276. 17600. 18869.
 20684. 16400. 15694. 11400. 12200. 22200. 13700. 16600. 18098. 27200.
 17282. 27442. 23451. 19913. 24494. 20321.  2313. 26535. 19822. 26308.
 21682. 15400. 16919. 23904. 17735. 21047. 22498. 11700.  3700. 12600.
 27306. 20366. 25220. 23859. 19459. 18733. 22135. 16200. 22453.  2300.
 22317. 18779. 21273. 15200. 23360. 19323. 20500. 22906. 23000. 24721.
  9900.  2812. 23042. 17554. 20593. 17100.  2676. 21228. 21700. 28032.
 28168. 24857. 19500.  4200. 25855. 21500. 11600.  2800. 12300. 18643.
 22816. 11900. 21909. 21455. 27896. 18280. 13800. 21727. 24630. 18900.]

------------------------------------
_BMI5 - unique values:
[  nan 2657. 2561. ... 1351. 2839. 4863.]

------------------------------------
_BMI5CAT - unique values:
[nan  3.  2.  4.  1.]

------------------------------------
_RFBMI5 - unique values:
[9. 2. 1.]

------------------------------------
_CHLDCNT - unique values:
[ 1.  2.  5.  3.  9.  4.  6. nan]

------------------------------------
_EDUCAG - unique values:
[4. 2. 3. 1. 9.]

------------------------------------
_INCOMG1 - unique values:
[9. 3. 6. 5. 4. 2. 1. 7.]

------------------------------------
_RFMAM22 - unique values:
[ 1.  2. nan  9.]

------------------------------------
_MAM5023 - unique values:
[nan  1.  2.]

------------------------------------
_HADCOLN - unique values:
[ 1.  2. nan]

------------------------------------
_CLNSCP1 - unique values:
[nan  3.  1.  2.]

------------------------------------
_HADSIGM - unique values:
[ 1.  2. nan]

------------------------------------
_SGMSCP1 - unique values:
[nan  3.  1.  2.]

------------------------------------
_SGMS101 - unique values:
[nan  3.  1.  2.]

------------------------------------
_RFBLDS5 - unique values:
[nan  3.  1.  2.]

------------------------------------
_STOLDN1 - unique values:
[nan  3.  1.  2.]

------------------------------------
_VIRCOL1 - unique values:
[nan  3.  2.  1.]

------------------------------------
_SBONTI1 - unique values:
[nan  2.  3.  1.]

------------------------------------
_CRCREC2 - unique values:
[nan  2.  1.  3.]

------------------------------------
_SMOKER3 - unique values:
[4. 2. 3. 9. 1.]

------------------------------------
_RFSMOK3 - unique values:
[1. 2. 9.]

------------------------------------
_CURECI2 - unique values:
[1. 9. 2.]

------------------------------------
_YRSSMOK - unique values:
[nan 56. 42.  1.  8. 33. 54. 20. 36. 55.  6. 13. 51. 25. 30. 12. 27. 23.
 16. 52.  5.  4. 37. 44. 58. 46. 50. 10. 38. 39. 45. 48. 26.  3. 21. 18.
 31. 49. 57. 22. 43. 32.  7. 60.  2. 15. 53. 63. 34. 35.  9. 29. 17. 67.
 19. 24. 47. 40. 14. 61. 62. 41. 66. 28. 75. 11. 65. 70. 59. 69. 76. 72.
 71. 64. 78. 68. 73. 74. 77. 79. 88. 81. 80. 82. 85. 84. 83. 97. 87.]

------------------------------------
_PACKDAY - unique values:
[           nan 1.00000000e-01 1.75000000e+00 2.50000000e-01
 1.00000000e+00 2.00000000e-01 2.00000000e+00 5.00000000e-01
 7.50000000e-01 1.50000000e-01 1.50000000e+00 3.00000000e+00
 3.00000000e-01 4.00000000e-01 3.50000000e-01 9.00000000e-01
 5.25000000e+00 6.00000000e-01 1.25000000e+00 5.00000000e-02
 4.50000000e-01 2.50000000e+00 4.95000000e+00 8.00000000e-01
 1.40000000e+00 2.60000000e+00 6.25000000e+00 3.75000000e+00
 5.00000000e+00 6.50000000e-01 3.85000000e+00 4.00000000e+00
 5.50000000e-01 1.20000000e+00 9.50000000e-01 7.00000000e-01
 8.50000000e-01 2.75000000e+00 7.65000000e+00 1.50000000e+01
 3.50000000e+00 1.35000000e+00 1.30000000e+00 6.00000000e+00
 1.15000000e+00 1.85000000e+00 2.85000000e+00 1.95000000e+00
 1.80000000e+00 2.25000000e+00 4.40000000e+00 8.75000000e+00
 2.15000000e+00 1.60000000e+00 1.10000000e+00 1.05000000e+00
 6.50000000e+00 5.70000000e+00 5.10000000e+00 2.10000000e+00
 2.40000000e+00 3.60000000e+00 4.20000000e+00 1.02500000e+01
 4.50000000e+00 8.00000000e+00 9.00000000e+00 2.80000000e+00
 1.20000000e+01 5.15000000e+00 5.75000000e+00 7.00000000e+00
 1.01000000e+01 5.50000000e+00 1.01500000e+01 5.30000000e+00
 1.45000000e+00 5.05000000e+00 3.95000000e+00 8.85000000e+00
 3.25000000e+00 1.10000000e+01 9.50000000e+00 5.60000000e+00
 3.35000000e+00 1.21500000e+01 1.00000000e+01 2.70000000e+00
 2.95000000e+00 3.80000000e+00 2.35000000e+00 1.65000000e+00
 1.15000000e+01 2.55000000e+00 2.65000000e+00 2.90000000e+00
 3.00000000e+01 3.90000000e+00 2.30000000e+00 1.55000000e+00
 1.90000000e+00 3.05000000e+00 3.45000000e+00 3.10000000e+00
 2.20000000e+00 3.20000000e+00 3.70000000e+00 1.70000000e+00
 7.25000000e+00 5.40000000e+00 5.39760535e-79 5.90000000e+00
 2.05000000e+00 1.06500000e+01 3.30000000e+00 6.15000000e+00
 4.15000000e+00 4.25000000e+00 5.35000000e+00 3.15000000e+00
 1.35000000e+01 1.26500000e+01 1.00500000e+01 1.12500000e+01
 4.35000000e+00]

------------------------------------
_PACKYRS - unique values:
[           nan 6.00000000e+00 7.40000000e+01 5.39760535e-79
 8.00000000e+00 3.30000000e+01 5.40000000e+01 2.00000000e+01
 7.20000000e+01 2.80000000e+01 5.00000000e+00 2.00000000e+00
 1.30000000e+01 2.50000000e+01 1.50000000e+01 1.20000000e+01

In [25]:
reduced_df= reduced_df.drop(columns= ["_STSTR", "_STRWT","_RAWRAKE","_WT2RAKE"], axis= 1)
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 79 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   429231 non-null  float64
 1   HEIGHT3   428077 non-null  float64
 2   _METSTAT  435724 non-null  float64
 3   _URBSTAT  435724 non-null  float64
 4   MSCODE    93886 non-null   float64
 5   _IMPRACE  445132 non-null  float64
 6   _CHISPNC  324309 non-null  float64
 7   _CRACE2   60846 non-null   float64
 8   _CPRACE2  59990 non-null   float64
 9   CAGEG     50176 non-null   float64
 10  _CLLCPWT  59146 non-null   float64
 11  _DUALUSE  445132 non-null  float64
 12  _DUALCOR  158029 non-null  float64
 13  _LLCPWT2  445132 non-null  float64
 14  _LLCPWT   445132 non-null  float64
 15  _RFHLTH   445132 non-null  float64
 16  _PHYS14D  445132 non-null  float64
 17  _MENT14D  445132 non-null  float64
 18  _HLTHPLN  445132 non-null  float64
 19  _HCVU652  445132 non-null  float64
 20  _TOTINDA  445132 non-null  float64
 21  _EXTETH3  445132 non-null  float64
 22  _ALTETH3  168419 non-null  float64
 23  _DENVST3  445128 non-null  float64
 24  _MICHD    440111 non-null  float64
 25  _LTASTH1  445132 non-null  float64
 26  _CASTHM1  445132 non-null  float64
 27  _ASTHMS1  445132 non-null  float64
 28  _DRDXAR2  442499 non-null  float64
 29  _PRACE2   445119 non-null  float64
 30  _MRACE2   445121 non-null  float64
 31  _HISPANC  445132 non-null  float64
 32  _RACE1    445130 non-null  float64
 33  _RACEG22  445130 non-null  float64
 34  _RACEGR4  445130 non-null  float64
 35  _RACEPR1  445132 non-null  float64
 36  _SEX      445132 non-null  float64
 37  _AGEG5YR  445132 non-null  float64
 38  _AGE65YR  445132 non-null  float64
 39  _AGE80    445132 non-null  float64
 40  _AGE_G    445132 non-null  float64
 41  HTIN4     412656 non-null  float64
 42  HTM4      416480 non-null  float64
 43  WTKG3     403054 non-null  float64
 44  _BMI5     396326 non-null  float64
 45  _BMI5CAT  396326 non-null  float64
 46  _RFBMI5   445132 non-null  float64
 47  _CHLDCNT  445131 non-null  float64
 48  _EDUCAG   445132 non-null  float64
 49  _INCOMG1  445132 non-null  float64
 50  _RFMAM22  181240 non-null  float64
 51  _MAM5023  102676 non-null  float64
 52  _HADCOLN  285329 non-null  float64
 53  _CLNSCP1  221952 non-null  float64
 54  _HADSIGM  285329 non-null  float64
 55  _SGMSCP1  222213 non-null  float64
 56  _SGMS101  222213 non-null  float64
 57  _RFBLDS5  46401 non-null   float64
 58  _STOLDN1  45985 non-null   float64
 59  _VIRCOL1  45792 non-null   float64
 60  _SBONTI1  242939 non-null  float64
 61  _CRCREC2  242939 non-null  float64
 62  _SMOKER3  445132 non-null  float64
 63  _RFSMOK3  445132 non-null  float64
 64  _CURECI2  445132 non-null  float64
 65  _YRSSMOK  147604 non-null  float64
 66  _PACKDAY  150247 non-null  float64
 67  _PACKYRS  142865 non-null  float64
 68  _YRSQUIT  106330 non-null  float64
 69  _SMOKGRP  409670 non-null  float64
 70  _LCSREC   51453 non-null   float64
 71  DRNKANY6  445132 non-null  float64
 72  DROCDY4_  445128 non-null  float64
 73  _RFBING6  445132 non-null  float64
 74  _DRNKWK2  445132 non-null  float64
 75  _RFDRHV8  445132 non-null  float64
 76  _FLSHOT7  168419 non-null  float64
 77  _PNEUMO3  168419 non-null  float64
 78  _AIDTST4  398897 non-null  float64
dtypes: float64(79)
memory usage: 268.3 MB

In [26]:
# checking for null
pd.set_option('display.max_rows', 500)
print(reduced_df.isna().sum())

WEIGHT2      15901
HEIGHT3      17055
_METSTAT      9408
_URBSTAT      9408
MSCODE      351246
_IMPRACE         0
_CHISPNC    120823
_CRACE2     384286
_CPRACE2    385142
CAGEG       394956
_CLLCPWT    385986
_DUALUSE         0
_DUALCOR    287103
_LLCPWT2         0
_LLCPWT          0
_RFHLTH          0
_PHYS14D         0
_MENT14D         0
_HLTHPLN         0
_HCVU652         0
_TOTINDA         0
_EXTETH3         0
_ALTETH3    276713
_DENVST3         4
_MICHD        5021
_LTASTH1         0
_CASTHM1         0
_ASTHMS1         0
_DRDXAR2      2633
_PRACE2         13
_MRACE2         11
_HISPANC         0
_RACE1           2
_RACEG22         2
_RACEGR4         2
_RACEPR1         0
_SEX             0
_AGEG5YR         0
_AGE65YR         0
_AGE80           0
_AGE_G           0
HTIN4        32476
HTM4         28652
WTKG3        42078
_BMI5        48806
_BMI5CAT     48806
_RFBMI5          0
_CHLDCNT         1
_EDUCAG          0
_INCOMG1         0
_RFMAM22    263892
_MAM5023    342456
_HADCOLN    159803
_CLNSCP1    223180
_HADSIGM    159803
_SGMSCP1    222919
_SGMS101    222919
_RFBLDS5    398731
_STOLDN1    399147
_VIRCOL1    399340
_SBONTI1    202193
_CRCREC2    202193
_SMOKER3         0
_RFSMOK3         0
_CURECI2         0
_YRSSMOK    297528
_PACKDAY    294885
_PACKYRS    302267
_YRSQUIT    338802
_SMOKGRP     35462
_LCSREC     393679
DRNKANY6         0
DROCDY4_         4
_RFBING6         0
_DRNKWK2         0
_RFDRHV8         0
_FLSHOT7    276713
_PNEUMO3    276713
_AIDTST4     46235
dtype: int64

In [27]:
# dropped columns 48-59 as they are not currently relevant for this analysis
df_dropped = reduced_df.drop(columns = reduced_df.iloc[:,48:60], axis= 1 )
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 67 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   429231 non-null  float64
 1   HEIGHT3   428077 non-null  float64
 2   _METSTAT  435724 non-null  float64
 3   _URBSTAT  435724 non-null  float64
 4   MSCODE    93886 non-null   float64
 5   _IMPRACE  445132 non-null  float64
 6   _CHISPNC  324309 non-null  float64
 7   _CRACE2   60846 non-null   float64
 8   _CPRACE2  59990 non-null   float64
 9   CAGEG     50176 non-null   float64
 10  _CLLCPWT  59146 non-null   float64
 11  _DUALUSE  445132 non-null  float64
 12  _DUALCOR  158029 non-null  float64
 13  _LLCPWT2  445132 non-null  float64
 14  _LLCPWT   445132 non-null  float64
 15  _RFHLTH   445132 non-null  float64
 16  _PHYS14D  445132 non-null  float64
 17  _MENT14D  445132 non-null  float64
 18  _HLTHPLN  445132 non-null  float64
 19  _HCVU652  445132 non-null  float64
 20  _TOTINDA  445132 non-null  float64
 21  _EXTETH3  445132 non-null  float64
 22  _ALTETH3  168419 non-null  float64
 23  _DENVST3  445128 non-null  float64
 24  _MICHD    440111 non-null  float64
 25  _LTASTH1  445132 non-null  float64
 26  _CASTHM1  445132 non-null  float64
 27  _ASTHMS1  445132 non-null  float64
 28  _DRDXAR2  442499 non-null  float64
 29  _PRACE2   445119 non-null  float64
 30  _MRACE2   445121 non-null  float64
 31  _HISPANC  445132 non-null  float64
 32  _RACE1    445130 non-null  float64
 33  _RACEG22  445130 non-null  float64
 34  _RACEGR4  445130 non-null  float64
 35  _RACEPR1  445132 non-null  float64
 36  _SEX      445132 non-null  float64
 37  _AGEG5YR  445132 non-null  float64
 38  _AGE65YR  445132 non-null  float64
 39  _AGE80    445132 non-null  float64
 40  _AGE_G    445132 non-null  float64
 41  HTIN4     412656 non-null  float64
 42  HTM4      416480 non-null  float64
 43  WTKG3     403054 non-null  float64
 44  _BMI5     396326 non-null  float64
 45  _BMI5CAT  396326 non-null  float64
 46  _RFBMI5   445132 non-null  float64
 47  _CHLDCNT  445131 non-null  float64
 48  _SBONTI1  242939 non-null  float64
 49  _CRCREC2  242939 non-null  float64
 50  _SMOKER3  445132 non-null  float64
 51  _RFSMOK3  445132 non-null  float64
 52  _CURECI2  445132 non-null  float64
 53  _YRSSMOK  147604 non-null  float64
 54  _PACKDAY  150247 non-null  float64
 55  _PACKYRS  142865 non-null  float64
 56  _YRSQUIT  106330 non-null  float64
 57  _SMOKGRP  409670 non-null  float64
 58  _LCSREC   51453 non-null   float64
 59  DRNKANY6  445132 non-null  float64
 60  DROCDY4_  445128 non-null  float64
 61  _RFBING6  445132 non-null  float64
 62  _DRNKWK2  445132 non-null  float64
 63  _RFDRHV8  445132 non-null  float64
 64  _FLSHOT7  168419 non-null  float64
 65  _PNEUMO3  168419 non-null  float64
 66  _AIDTST4  398897 non-null  float64
dtypes: float64(67)
memory usage: 227.5 MB

In [28]:
# _LCSREC

#Dropping unneeded columns

df_clean = df_dropped.drop(columns = [ "_LCSREC", "_FLSHOT7","_PNEUMO3", "_AIDTST4", "_AGE65YR", "_AGE80", 
                                       "_EXTETH3", "_ALTETH3", "_DENVST3", "_HCVU652", "_LTASTH1", "_CASTHM1", 
                                       "_CHLDCNT", "_YRSSMOK", "_PACKDAY", "_PACKYRS", "_YRSQUIT", "_SMOKGRP", 
                                       "_SMOKER3","MSCODE", "_CHISPNC", "_CRACE2", "_CPRACE2", "CAGEG", "_CLLCPWT",
                                       "_DUALCOR", "_DUALUSE", "_LLCPWT2", "_LLCPWT"], axis= 1 )

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 38 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   429231 non-null  float64
 1   HEIGHT3   428077 non-null  float64
 2   _METSTAT  435724 non-null  float64
 3   _URBSTAT  435724 non-null  float64
 4   _IMPRACE  445132 non-null  float64
 5   _RFHLTH   445132 non-null  float64
 6   _PHYS14D  445132 non-null  float64
 7   _MENT14D  445132 non-null  float64
 8   _HLTHPLN  445132 non-null  float64
 9   _TOTINDA  445132 non-null  float64
 10  _MICHD    440111 non-null  float64
 11  _ASTHMS1  445132 non-null  float64
 12  _DRDXAR2  442499 non-null  float64
 13  _PRACE2   445119 non-null  float64
 14  _MRACE2   445121 non-null  float64
 15  _HISPANC  445132 non-null  float64
 16  _RACE1    445130 non-null  float64
 17  _RACEG22  445130 non-null  float64
 18  _RACEGR4  445130 non-null  float64
 19  _RACEPR1  445132 non-null  float64
 20  _SEX      445132 non-null  float64
 21  _AGEG5YR  445132 non-null  float64
 22  _AGE_G    445132 non-null  float64
 23  HTIN4     412656 non-null  float64
 24  HTM4      416480 non-null  float64
 25  WTKG3     403054 non-null  float64
 26  _BMI5     396326 non-null  float64
 27  _BMI5CAT  396326 non-null  float64
 28  _RFBMI5   445132 non-null  float64
 29  _SBONTI1  242939 non-null  float64
 30  _CRCREC2  242939 non-null  float64
 31  _RFSMOK3  445132 non-null  float64
 32  _CURECI2  445132 non-null  float64
 33  DRNKANY6  445132 non-null  float64
 34  DROCDY4_  445128 non-null  float64
 35  _RFBING6  445132 non-null  float64
 36  _DRNKWK2  445132 non-null  float64
 37  _RFDRHV8  445132 non-null  float64
dtypes: float64(38)
memory usage: 129.1 MB

In [29]:
#Checking duplicates count

df_clean.duplicated().sum()

19021

In [30]:
# Dropping duplicate values
df_clean.drop_duplicates(inplace=True)

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 426111 entries, 0 to 445131
Data columns (total 38 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   417274 non-null  float64
 1   HEIGHT3   416168 non-null  float64
 2   _METSTAT  416726 non-null  float64
 3   _URBSTAT  416726 non-null  float64
 4   _IMPRACE  426111 non-null  float64
 5   _RFHLTH   426111 non-null  float64
 6   _PHYS14D  426111 non-null  float64
 7   _MENT14D  426111 non-null  float64
 8   _HLTHPLN  426111 non-null  float64
 9   _TOTINDA  426111 non-null  float64
 10  _MICHD    421112 non-null  float64
 11  _ASTHMS1  426111 non-null  float64
 12  _DRDXAR2  423495 non-null  float64
 13  _PRACE2   426098 non-null  float64
 14  _MRACE2   426100 non-null  float64
 15  _HISPANC  426111 non-null  float64
 16  _RACE1    426109 non-null  float64
 17  _RACEG22  426109 non-null  float64
 18  _RACEGR4  426109 non-null  float64
 19  _RACEPR1  426111 non-null  float64
 20  _SEX      426111 non-null  float64
 21  _AGEG5YR  426111 non-null  float64
 22  _AGE_G    426111 non-null  float64
 23  HTIN4     401568 non-null  float64
 24  HTM4      405391 non-null  float64
 25  WTKG3     392680 non-null  float64
 26  _BMI5     385989 non-null  float64
 27  _BMI5CAT  385989 non-null  float64
 28  _RFBMI5   426111 non-null  float64
 29  _SBONTI1  233178 non-null  float64
 30  _CRCREC2  233178 non-null  float64
 31  _RFSMOK3  426111 non-null  float64
 32  _CURECI2  426111 non-null  float64
 33  DRNKANY6  426111 non-null  float64
 34  DROCDY4_  426107 non-null  float64
 35  _RFBING6  426111 non-null  float64
 36  _DRNKWK2  426111 non-null  float64
 37  _RFDRHV8  426111 non-null  float64
dtypes: float64(38)
memory usage: 126.8 MB

In [31]:
df_clean['WEIGHT2'].unique()

array([9999.,  150.,  140.,  119.,  187.,  138.,  162.,  180.,  165.,
        131.,  188.,  235.,  157.,  142.,  135.,  200.,  145.,  146.,
        177.,  190.,  105.,  236.,  126.,  232.,  170.,  125.,  175.,
        250.,  225.,  132.,  230.,   nan,  118.,  136.,  300.,   76.,
        220.,  280.,  174.,  210.,  130.,  203.,  160.,  185.,  110.,
        260.,  158.,  227., 7777.,  137.,  184.,  120.,  208.,  134.,
        258.,  144.,  169.,  195.,  198.,  164.,  152.,  176.,  239.,
        199.,  123.,  202.,  104.,  172.,  112.,  201.,  186.,  320.,
        207.,  270.,  108.,  163.,  196.,  178.,  179.,  350.,  215.,
        114.,  182.,  168.,  151.,  166.,  155.,  139.,  133.,  255.,
        191.,  240.,  204.,  275.,   95.,  129.,  141.,  205.,   98.,
        284.,  218.,  100.,  244.,  103.,  128.,  161.,  211.,  289.,
        173.,  153.,  189.,  149.,  229.,  265.,  194.,  121.,  246.,
        115.,  171.,  279.,  209.,  273.,  197.,  167.,  154.,  248.,
        181.,  234.,  127.,  156.,  328.,  212.,  148.,  106.,  360.,
        242.,  222.,  315.,  143.,  245.,  267.,  122.,  224.,  206.,
        259.,  266.,  147.,   99.,  291.,  237.,  238.,   80.,  228.,
        192.,  183.,  124.,  213.,  296.,  214.,   77.,  219.,  159.,
        109.,  269.,  217.,  286.,  400.,  116.,  268.,  243.,  107.,
        310.,  345.,  257.,  193.,   97.,  252.,   70.,  216.,  223.,
        247.,  221.,  251.,  340.,  261.,  295.,  330.,   92.,  264.,
        305.,  335.,  285.,  290.,  231.,  292.,  226.,  256.,   89.,
        233.,  302.,  430.,  117.,  293.,  274.,  249.,  253.,  101.,
        263.,  370.,  113.,  380.,  358.,  102.,  282.,  272.,   85.,
        288.,  316.,  254.,  368.,  298.,  241.,  299.,  450.,  281.,
        262.,  307.,  278.,  271.,  334.,  294.,   94.,  111., 9080.,
        420.,   82.,  326.,   78.,  318.,  329.,   83., 9086.,  325.,
       9281.,  365.,  359.,  343., 9070.,  304.,  418.,  455.,  327.,
         93.,  339.,   84., 9090.,  390.,  423.,  550., 9067., 9095.,
       9082.,  375., 9062.,   90., 9053.,  308.,  287., 9100.,  364.,
       9064.,   96., 9024.,  297.,  312.,  276., 9075., 9060.,   75.,
        363.,   68., 9250., 9058., 9076., 9073., 9112., 9074., 9055.,
       9200., 9054., 9066., 9072.,  336.,   87., 9220.,   91.,  371.,
        415., 9059., 9046., 9265.,  525.,  372., 9145., 9190., 9093.,
        352., 9078., 9050.,  408., 9091., 9104., 9165.,  405.,   74.,
        357., 9068.,  277., 9134., 9130.,   71.,  317., 9069.,  395.,
       9063., 9105.,  465., 9065., 9032.,  645., 9280., 9085., 9088.,
        385., 9056.,  283., 9087.,   88., 9083.,  374.,  344., 9177.,
       9121.,  333., 9089.,  324.,  322., 9098.,  367.,   81.,  378.,
        501.,   65.,  419.,  355.,   79.,  500.,  386.,  306.,  530.,
        349.,  376., 9061.,  303.,  321.,  311.,  342., 9052., 9120.,
       9057., 9077., 9300.,   60.,   56., 9240., 9096., 9047., 9115.,
       9041., 9045., 9170.,  332.,  600.,   58., 9048.,   86., 9236.,
       9092.,  435., 9156., 9084., 9094.,   64., 9049., 9079.,  348.,
        425., 9255., 9108., 9185.,  490.,  507., 9180., 9081.,   55.,
       9071., 9026., 9107., 9101.,  460., 9140., 9175., 9111., 9110.,
        313.,   50.,  628.,  301., 9210., 9103.,  410.,  309.,  323.,
         54.,   57., 9150., 9102.,  506.,   52., 9125., 9163., 9038.,
       9135.,  389.,  409.,  337.,  513., 9124.,  424.,  412., 9118.,
        353., 9305., 9160.,  427.,  445.,  319.,  406.,  314., 9169.,
        366.,   72.,  398.,  433., 9051., 9040.,  379.,  432.,   73.,
        338.,  351.,  738.,  362.,  777.,  485.,  475.,  402., 9030.,
        354.,  382., 9158.,  470.,  609.,  440.,  388.,  520.,  480.,
        441.,  509., 9146.,   53.,  394.,  331.,  347.,  361.,  422.,
        705.,  384.,   63., 9097.,  565.,  453.,  356.,  393.,  396.,
        452.,  560.,  341.,  462.,  444.,  518.,  392.,  442.,  511.,
        502.,  603.,  417.,  383.,  731.,  404.,  369.,  467.,  493.,
        504.,   67.,  436.,  407.,  710.,  552.,  401.,   69.,  640.,
       9285., 1230.,   32., 9113.,  535.,  510.,  736.,  397.,  447.,
       9176.,  416.,  456.,  999., 9164.,  346., 9114., 9122., 9222.,
       9137., 9166.,  399., 9272.,  381.,  605.,  517.,  439.,  540.,
        448.,   51.,  650.,  585.,  437.,  580.,  478., 9154.,  373.,
        527.,  391.,  464.,  496., 9117., 9037.,  700., 9126.,  602.,
        449.,  556., 9044.,  526.,  429.,  413.,  488., 9162., 9352.,
        495., 9023.,  492.,  414.,  469., 9152.,  515.,  426., 9205.,
        505., 9230.,  545., 9099.,   62.,  508.,  387., 1135.,  454.,
        763.,  377.,   59.,  468., 9217.,  618.,  621.,  548., 9195.,
       9042.,  570.,  474., 9116., 9028., 9123.,  411.,  503., 9119.,
        483.,  473.,  615.,  403., 9138.,  479.,  543., 9189.])

In [32]:
df_clean['WEIGHT2'][0]

9999.0

In [33]:
weights = df_clean[df_clean['WEIGHT2'] == 7777.0]
weights.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7831 entries, 79 to 445053
Data columns (total 38 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   WEIGHT2   7831 non-null   float64
 1   HEIGHT3   7736 non-null   float64
 2   _METSTAT  7694 non-null   float64
 3   _URBSTAT  7694 non-null   float64
 4   _IMPRACE  7831 non-null   float64
 5   _RFHLTH   7831 non-null   float64
 6   _PHYS14D  7831 non-null   float64
 7   _MENT14D  7831 non-null   float64
 8   _HLTHPLN  7831 non-null   float64
 9   _TOTINDA  7831 non-null   float64
 10  _MICHD    7633 non-null   float64
 11  _ASTHMS1  7831 non-null   float64
 12  _DRDXAR2  7730 non-null   float64
 13  _PRACE2   7830 non-null   float64
 14  _MRACE2   7830 non-null   float64
 15  _HISPANC  7831 non-null   float64
 16  _RACE1    7830 non-null   float64
 17  _RACEG22  7830 non-null   float64
 18  _RACEGR4  7830 non-null   float64
 19  _RACEPR1  7831 non-null   float64
 20  _SEX      7831 non-null   float64
 21  _AGEG5YR  7831 non-null   float64
 22  _AGE_G    7831 non-null   float64
 23  HTIN4     6056 non-null   float64
 24  HTM4      6279 non-null   float64
 25  WTKG3     0 non-null      float64
 26  _BMI5     0 non-null      float64
 27  _BMI5CAT  0 non-null      float64
 28  _RFBMI5   7831 non-null   float64
 29  _SBONTI1  3453 non-null   float64
 30  _CRCREC2  3453 non-null   float64
 31  _RFSMOK3  7831 non-null   float64
 32  _CURECI2  7831 non-null   float64
 33  DRNKANY6  7831 non-null   float64
 34  DROCDY4_  7831 non-null   float64
 35  _RFBING6  7831 non-null   float64
 36  _DRNKWK2  7831 non-null   float64
 37  _RFDRHV8  7831 non-null   float64
dtypes: float64(38)
memory usage: 2.3 MB

In [34]:
weights2 = df_clean[df_clean['WEIGHT2'] == 9999.0]
weights2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16735 entries, 0 to 444890
Data columns (total 38 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   WEIGHT2   16735 non-null  float64
 1   HEIGHT3   16398 non-null  float64
 2   _METSTAT  16667 non-null  float64
 3   _URBSTAT  16667 non-null  float64
 4   _IMPRACE  16735 non-null  float64
 5   _RFHLTH   16735 non-null  float64
 6   _PHYS14D  16735 non-null  float64
 7   _MENT14D  16735 non-null  float64
 8   _HLTHPLN  16735 non-null  float64
 9   _TOTINDA  16735 non-null  float64
 10  _MICHD    16344 non-null  float64
 11  _ASTHMS1  16735 non-null  float64
 12  _DRDXAR2  16448 non-null  float64
 13  _PRACE2   16734 non-null  float64
 14  _MRACE2   16734 non-null  float64
 15  _HISPANC  16735 non-null  float64
 16  _RACE1    16735 non-null  float64
 17  _RACEG22  16735 non-null  float64
 18  _RACEGR4  16735 non-null  float64
 19  _RACEPR1  16735 non-null  float64
 20  _SEX      16735 non-null  float64
 21  _AGEG5YR  16735 non-null  float64
 22  _AGE_G    16735 non-null  float64
 23  HTIN4     10858 non-null  float64
 24  HTM4      10879 non-null  float64
 25  WTKG3     0 non-null      float64
 26  _BMI5     0 non-null      float64
 27  _BMI5CAT  0 non-null      float64
 28  _RFBMI5   16735 non-null  float64
 29  _SBONTI1  9599 non-null   float64
 30  _CRCREC2  9599 non-null   float64
 31  _RFSMOK3  16735 non-null  float64
 32  _CURECI2  16735 non-null  float64
 33  DRNKANY6  16735 non-null  float64
 34  DROCDY4_  16735 non-null  float64
 35  _RFBING6  16735 non-null  float64
 36  _DRNKWK2  16735 non-null  float64
 37  _RFDRHV8  16735 non-null  float64
dtypes: float64(38)
memory usage: 5.0 MB

In [35]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 426111 entries, 0 to 445131
Data columns (total 38 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   417274 non-null  float64
 1   HEIGHT3   416168 non-null  float64
 2   _METSTAT  416726 non-null  float64
 3   _URBSTAT  416726 non-null  float64
 4   _IMPRACE  426111 non-null  float64
 5   _RFHLTH   426111 non-null  float64
 6   _PHYS14D  426111 non-null  float64
 7   _MENT14D  426111 non-null  float64
 8   _HLTHPLN  426111 non-null  float64
 9   _TOTINDA  426111 non-null  float64
 10  _MICHD    421112 non-null  float64
 11  _ASTHMS1  426111 non-null  float64
 12  _DRDXAR2  423495 non-null  float64
 13  _PRACE2   426098 non-null  float64
 14  _MRACE2   426100 non-null  float64
 15  _HISPANC  426111 non-null  float64
 16  _RACE1    426109 non-null  float64
 17  _RACEG22  426109 non-null  float64
 18  _RACEGR4  426109 non-null  float64
 19  _RACEPR1  426111 non-null  float64
 20  _SEX      426111 non-null  float64
 21  _AGEG5YR  426111 non-null  float64
 22  _AGE_G    426111 non-null  float64
 23  HTIN4     401568 non-null  float64
 24  HTM4      405391 non-null  float64
 25  WTKG3     392680 non-null  float64
 26  _BMI5     385989 non-null  float64
 27  _BMI5CAT  385989 non-null  float64
 28  _RFBMI5   426111 non-null  float64
 29  _SBONTI1  233178 non-null  float64
 30  _CRCREC2  233178 non-null  float64
 31  _RFSMOK3  426111 non-null  float64
 32  _CURECI2  426111 non-null  float64
 33  DRNKANY6  426111 non-null  float64
 34  DROCDY4_  426107 non-null  float64
 35  _RFBING6  426111 non-null  float64
 36  _DRNKWK2  426111 non-null  float64
 37  _RFDRHV8  426111 non-null  float64
dtypes: float64(38)
memory usage: 142.9 MB

In [36]:
# Dropping entries with weights that are equal to 7777.0 or 9999.0 as those are zero placeholders

df_clean = df_clean[df_clean['WEIGHT2'] != 9999.0]
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 409376 entries, 1 to 445131
Data columns (total 38 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   400539 non-null  float64
 1   HEIGHT3   399770 non-null  float64
 2   _METSTAT  400059 non-null  float64
 3   _URBSTAT  400059 non-null  float64
 4   _IMPRACE  409376 non-null  float64
 5   _RFHLTH   409376 non-null  float64
 6   _PHYS14D  409376 non-null  float64
 7   _MENT14D  409376 non-null  float64
 8   _HLTHPLN  409376 non-null  float64
 9   _TOTINDA  409376 non-null  float64
 10  _MICHD    404768 non-null  float64
 11  _ASTHMS1  409376 non-null  float64
 12  _DRDXAR2  407047 non-null  float64
 13  _PRACE2   409364 non-null  float64
 14  _MRACE2   409366 non-null  float64
 15  _HISPANC  409376 non-null  float64
 16  _RACE1    409374 non-null  float64
 17  _RACEG22  409374 non-null  float64
 18  _RACEGR4  409374 non-null  float64
 19  _RACEPR1  409376 non-null  float64
 20  _SEX      409376 non-null  float64
 21  _AGEG5YR  409376 non-null  float64
 22  _AGE_G    409376 non-null  float64
 23  HTIN4     390710 non-null  float64
 24  HTM4      394512 non-null  float64
 25  WTKG3     392680 non-null  float64
 26  _BMI5     385989 non-null  float64
 27  _BMI5CAT  385989 non-null  float64
 28  _RFBMI5   409376 non-null  float64
 29  _SBONTI1  223579 non-null  float64
 30  _CRCREC2  223579 non-null  float64
 31  _RFSMOK3  409376 non-null  float64
 32  _CURECI2  409376 non-null  float64
 33  DRNKANY6  409376 non-null  float64
 34  DROCDY4_  409372 non-null  float64
 35  _RFBING6  409376 non-null  float64
 36  _DRNKWK2  409376 non-null  float64
 37  _RFDRHV8  409376 non-null  float64
dtypes: float64(38)
memory usage: 121.8 MB

In [37]:
df_clean = df_clean[df_clean['WEIGHT2'] != 7777.0]
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401545 entries, 1 to 445131
Data columns (total 38 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   392708 non-null  float64
 1   HEIGHT3   392034 non-null  float64
 2   _METSTAT  392365 non-null  float64
 3   _URBSTAT  392365 non-null  float64
 4   _IMPRACE  401545 non-null  float64
 5   _RFHLTH   401545 non-null  float64
 6   _PHYS14D  401545 non-null  float64
 7   _MENT14D  401545 non-null  float64
 8   _HLTHPLN  401545 non-null  float64
 9   _TOTINDA  401545 non-null  float64
 10  _MICHD    397135 non-null  float64
 11  _ASTHMS1  401545 non-null  float64
 12  _DRDXAR2  399317 non-null  float64
 13  _PRACE2   401534 non-null  float64
 14  _MRACE2   401536 non-null  float64
 15  _HISPANC  401545 non-null  float64
 16  _RACE1    401544 non-null  float64
 17  _RACEG22  401544 non-null  float64
 18  _RACEGR4  401544 non-null  float64
 19  _RACEPR1  401545 non-null  float64
 20  _SEX      401545 non-null  float64
 21  _AGEG5YR  401545 non-null  float64
 22  _AGE_G    401545 non-null  float64
 23  HTIN4     384654 non-null  float64
 24  HTM4      388233 non-null  float64
 25  WTKG3     392680 non-null  float64
 26  _BMI5     385989 non-null  float64
 27  _BMI5CAT  385989 non-null  float64
 28  _RFBMI5   401545 non-null  float64
 29  _SBONTI1  220126 non-null  float64
 30  _CRCREC2  220126 non-null  float64
 31  _RFSMOK3  401545 non-null  float64
 32  _CURECI2  401545 non-null  float64
 33  DRNKANY6  401545 non-null  float64
 34  DROCDY4_  401541 non-null  float64
 35  _RFBING6  401545 non-null  float64
 36  _DRNKWK2  401545 non-null  float64
 37  _RFDRHV8  401545 non-null  float64
dtypes: float64(38)
memory usage: 119.5 MB

In [38]:
# dropping rows where height is 7777 or 9999
df_clean = df_clean[df_clean['HEIGHT3'] != 7777.0]
df_clean = df_clean[df_clean['HEIGHT3'] != 9999.0]
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397757 entries, 1 to 445131
Data columns (total 38 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   388920 non-null  float64
 1   HEIGHT3   388246 non-null  float64
 2   _METSTAT  388663 non-null  float64
 3   _URBSTAT  388663 non-null  float64
 4   _IMPRACE  397757 non-null  float64
 5   _RFHLTH   397757 non-null  float64
 6   _PHYS14D  397757 non-null  float64
 7   _MENT14D  397757 non-null  float64
 8   _HLTHPLN  397757 non-null  float64
 9   _TOTINDA  397757 non-null  float64
 10  _MICHD    393441 non-null  float64
 11  _ASTHMS1  397757 non-null  float64
 12  _DRDXAR2  395575 non-null  float64
 13  _PRACE2   397746 non-null  float64
 14  _MRACE2   397748 non-null  float64
 15  _HISPANC  397757 non-null  float64
 16  _RACE1    397756 non-null  float64
 17  _RACEG22  397756 non-null  float64
 18  _RACEGR4  397756 non-null  float64
 19  _RACEPR1  397757 non-null  float64
 20  _SEX      397757 non-null  float64
 21  _AGEG5YR  397757 non-null  float64
 22  _AGE_G    397757 non-null  float64
 23  HTIN4     384654 non-null  float64
 24  HTM4      388233 non-null  float64
 25  WTKG3     388898 non-null  float64
 26  _BMI5     385989 non-null  float64
 27  _BMI5CAT  385989 non-null  float64
 28  _RFBMI5   397757 non-null  float64
 29  _SBONTI1  218557 non-null  float64
 30  _CRCREC2  218557 non-null  float64
 31  _RFSMOK3  397757 non-null  float64
 32  _CURECI2  397757 non-null  float64
 33  DRNKANY6  397757 non-null  float64
 34  DROCDY4_  397753 non-null  float64
 35  _RFBING6  397757 non-null  float64
 36  _DRNKWK2  397757 non-null  float64
 37  _RFDRHV8  397757 non-null  float64
dtypes: float64(38)
memory usage: 118.4 MB

In [39]:
# checking unique values of the rest of the columns 
for col in df_clean:
    print(f"{col} - unique values: ")
    print(df_clean[col].unique(), "\n")
    print("------------------------------------")

WEIGHT2 - unique values:
[ 150.  140.  119.  187.  138.  162.  180.  165.  131.  188.  235.  157.
  142.  135.  200.  145.  146.  177.  190.  105.  236.  126.  232.  170.
  125.  175.  250.  225.  132.  230.   nan  118.  136.  300.   76.  220.
  280.  174.  210.  130.  203.  160.  185.  110.  260.  158.  227.  137.
  184.  120.  208.  134.  258.  144.  169.  195.  198.  164.  152.  176.
  239.  199.  123.  202.  104.  172.  112.  201.  186.  320.  207.  270.
  108.  163.  196.  178.  179.  350.  215.  114.  182.  168.  151.  166.
  155.  139.  133.  255.  191.  240.  204.  275.   95.  129.  141.  205.
   98.  284.  218.  100.  244.  103.  128.  161.  211.  289.  173.  153.
  189.  149.  229.  265.  194.  121.  246.  115.  171.  279.  209.  273.
  197.  167.  154.  248.  181.  234.  127.  156.  328.  212.  148.  106.
  360.  242.  222.  315.  143.  245.  267.  122.  224.  206.  259.  266.
  147.   99.  291.  237.  238.   80.  228.  192.  183.  124.  213.  296.
  214.   77.  219.  159.  109.  269.  217.  286.  400.  116.  268.  243.
  107.  310.  345.  257.  193.   97.  252.   70.  216.  223.  247.  221.
  251.  340.  261.  295.  330.   92.  264.  305.  335.  285.  290.  231.
  292.  226.  256.   89.  302.  430.  117.  293.  274.  249.  253.  233.
  101.  263.  370.  113.  380.  358.  102.  282.  272.   85.  288.  316.
  254.  368.  298.  241.  299.  450.  281.  262.  307.  278.  271.  334.
  294.   94.  111. 9080.  420.   82.  326.   78.  318.  329.   83. 9086.
  325. 9281.  365.  359.  343. 9070.  304.  418.  455.  327.   93.  339.
   84. 9090.  390.  423.  550. 9067. 9095. 9082.  375. 9062.   90. 9053.
  308.  287. 9100.  364. 9064.   96. 9024.  297.  312.  276. 9075.   75.
  363.   68. 9250. 9058. 9076. 9073. 9112. 9074. 9055. 9200. 9054. 9066.
  336.   87.   91. 9060.  371.  415. 9059. 9046. 9265.  525.  372. 9145.
 9190. 9093.  352. 9078.  408. 9091. 9104.  405.  357. 9068.  277. 9134.
 9130.   71.  317. 9069.  395. 9105.  465. 9065. 9032.  645. 9280. 9085.
 9072. 9088.  385. 9050.  283. 9087.   88. 9083.  374.  344. 9177. 9121.
  333. 9089.  324.  322. 9098.  367.   81.  378.  501.   65.  419.  355.
   79.  500.  386.  306.  530.  349.  376. 9061.  303.  321. 9056.  311.
  342. 9052. 9063. 9120. 9057. 9077. 9300.   60.   56. 9096. 9115. 9041.
 9045.  332.  600. 9048.   86. 9236. 9092.  435. 9156. 9084. 9094.   64.
 9049. 9079.  348.  425. 9255. 9108. 9185.  490.  507. 9180. 9081.   55.
 9071. 9026. 9107. 9101.  460. 9175. 9111. 9110.  313.   50.  628.  301.
 9165. 9210. 9103.  410.  309.  323. 9102.  506.   52. 9125. 9038. 9135.
  389.  409.  337. 9220. 9170.  513. 9124.  424.  412. 9118.  353. 9305.
 9160.  427.  445.  319.  406.  314. 9169.  366.   72.  398.  433. 9051.
 9040.  379.  432.   73.  338.  351.  738.   57.  362.  777.  485.  475.
  402. 9030.  354. 9047.  382. 9158.  470.  609.  440.  388.  520.  480.
  441.  509.   74. 9150.   53.  394.  331.  347.  361.  422.  705.  384.
 9097.  565.  453.  356.  393.  396.  452.  560.  341.  462.  444.  518.
   63.  392.  442.  511.   54.  502.  603.  417.  383.  731.  404.  369.
  467.  493.  504.   67.  436.  407.  710.  552.  401.   69.  640. 1230.
 9140. 9113.  535.  510.  736.  397.  447.  416.  456.  999. 9164.  346.
 9114. 9122. 9240. 9222. 9137. 9166.  399. 9272.  605.  517.  439.   58.
  540.  448.   51.  650.  585.  437.  580.  478. 9154.  373.  527.  391.
  464.  496. 9117. 9037.  700.  602.  449.  556. 9044.  526.  429.  413.
  488. 9162. 9352.  495. 9146. 9023.  492.  414.  469. 9152.  515.  426.
 9205.  505.  545. 9099.   62.  508.  387. 1135.  454.  763.  377.   59.
  468.  618.  621.  548. 9195.  570.  474. 9116. 9028. 9123.  411.  503.
  381. 9119.  483.  473.  615.  403. 9138.  479.  543. 9189.]

------------------------------------
HEIGHT3 - unique values:
[ 503.  502.  505.  511.  504.  506.  508.  507.   nan  501.  604.  602.
  510.  601.  509.  500.  600.  603.  605.  411.  409.  408.  401.  410.
  400.  606.  608.  607.  403.  407.  405. 9165. 9182. 9167. 9176.  611.
  406. 9164. 9175. 9183. 9180. 9171.  701.  705.  300.  609.  309. 9152.
 9170. 9174. 9151. 9153. 9169. 9156. 9184. 9190. 9160. 9154. 9172. 9187.
 9157. 9163. 9161. 9149. 9159. 9178. 9140. 9150. 9155. 9158. 9188. 9162.
 9168. 9179. 9145. 9146. 9189.  700.  303.  610.  703.  404. 9173.  702.
 9177.  709. 9125. 9166. 9185. 9186. 9195. 9147.  311. 9105. 9148. 9103.
 9118. 9138. 9181. 9144.  306.  402. 9117. 9193.  305. 9198. 9107. 9104.
 9120. 9090. 9254. 9505.  704. 9135. 9110. 9143.  210.  800. 9130. 9192.
  308.  711.  708.  801.  302. 9106. 9142. 9115.  706. 9116. 9109. 9191.
 9092. 9196. 9127. 9207. 9100.  310. 9108. 9114. 9253. 9752. 9102.  304.
  209. 9200. 9202. 9194. 9095.  200.]

------------------------------------
_METSTAT - unique values:
[ 2.  1. nan]

------------------------------------
_URBSTAT - unique values:
[ 1.  2. nan]

------------------------------------
_IMPRACE - unique values:
[1. 2. 3. 4. 6. 5.]

------------------------------------
_RFHLTH - unique values:
[1. 2. 9.]

------------------------------------
_PHYS14D - unique values:
[1. 2. 3. 9.]

------------------------------------
_MENT14D - unique values:
[1. 2. 3. 9.]

------------------------------------
_HLTHPLN - unique values:
[1. 9. 2.]

------------------------------------
_TOTINDA - unique values:
[2. 1. 9.]

------------------------------------
_MICHD - unique values:
[ 2.  1. nan]

------------------------------------
_ASTHMS1 - unique values:
[3. 1. 2. 9.]

------------------------------------
_DRDXAR2 - unique values:
[ 2.  1. nan]

------------------------------------
_PRACE2 - unique values:
[ 1.  2.  4.  3. 88. 99.  5. nan 77.  7.]

------------------------------------
_MRACE2 - unique values:
[ 1.  2.  4.  3.  6. 88. 99.  5. nan 77.]

------------------------------------
_HISPANC - unique values:
[2. 9. 1.]

------------------------------------
_RACE1 - unique values:
[ 1.  2.  4.  3.  7.  9.  8.  5. nan]

------------------------------------
_RACEG22 - unique values:
[ 1.  2.  9. nan]

------------------------------------
_RACEGR4 - unique values:
[ 1.  2.  3.  4.  9.  5. nan]

------------------------------------
_RACEPR1 - unique values:
[1. 2. 4. 3. 6. 7. 5.]

------------------------------------
_SEX - unique values:
[2. 1.]

------------------------------------
_AGEG5YR - unique values:
[13.  8. 14.  5. 11. 10.  9. 12.  7.  6.  4.  2.  3.  1.]

------------------------------------
_AGE_G - unique values:
[6. 5. 3. 4. 2. 1.]

------------------------------------
HTIN4 - unique values:
[63. 62. 65. 71. 64. 66. 68. 67. nan 61. 76. 74. 70. 73. 69. 60. 72. 75.
 77. 59. 57. 56. 49. 58. 48. 78. 80. 79. 51. 55. 53. 83. 54. 85. 89. 36.
 81. 45. 84. 39. 82. 87. 52. 86. 93. 47. 42. 50. 41. 88. 44. 95. 92. 38.
 90. 46. 40.]

------------------------------------
HTM4 - unique values:
[160. 157. 165. 180. 163. 168. 173. 170.  nan 155. 193. 188. 178. 185.
 175. 152. 183. 191. 196. 150. 145. 142. 124. 147. 122. 198. 203. 201.
 130. 140. 135. 182. 167. 176. 211. 137. 164. 171. 216. 226.  91. 206.
 114. 174. 151. 153. 169. 156. 184. 190. 154. 172. 187. 161. 149. 159.
 158. 162. 179. 146. 189. 213.  99. 208. 221. 132. 218. 177. 236. 125.
 166. 186. 195. 119. 105. 148. 103. 118. 138. 181. 144. 107. 127. 117.
 104. 120. 224. 110. 143. 192. 112. 241. 234.  97. 106. 115. 229. 116.
 109.  92. 207. 100. 108. 102. 200. 202. 194.  95.]

------------------------------------
WTKG3 - unique values:
[ 6804.  6350.  5398.  8482.  6260.  7348.  8165.  7484.  5942.  8528.
 10659.  7121.  6441.  6123.  9072.  6577.  6622.  8029.  8618.  4763.
 10705.  5715. 10523.  7711.  5670.  7938. 11340. 10206.  5987. 10433.
    nan  5352.  6169. 13608.  3447.  9979. 12701.  7893.  9525.  5897.
  9208.  7257.  8391.  4990. 11793.  7167. 10297.  6214.  8346.  5443.
  9435.  6078. 11703.  6532.  7666.  8845.  8981.  7439.  6895.  7983.
 10841.  9026.  5579.  9163.  4717.  7802.  5080.  9117.  8437. 14515.
  9389. 12247.  4899.  7394.  8890.  8074.  8119. 15876.  9752.  5171.
  8255.  7620.  6849.  7530.  7031.  6305.  6033. 11567.  8664. 10886.
  9253. 12474.  4309.  5851.  6396.  9299.  4445. 12882.  9888.  4536.
 11068.  4672.  5806.  7303.  9571. 13109.  7847.  6940.  8573.  6759.
 10387. 12020.  8800.  5488. 11158.  5216.  7756. 12655.  9480. 12383.
  8936.  7575.  6985. 11249.  8210. 10614.  5761.  7076. 14878.  9616.
  6713.  4808. 16329. 10977. 10070. 14288.  6486. 11113. 12111.  5534.
 10160.  9344. 11748. 12066.  6668.  4491. 13200. 10750. 10795.  3629.
 10342.  8709.  8301.  5625.  9662. 13426.  9707.  3493.  9934.  7212.
  4944. 12202.  9843. 12973. 18144.  5262. 12156. 11022.  4853. 14061.
 15649. 11657.  8754.  4400. 11431.  3175.  9798. 10115. 11204. 10024.
 11385. 15422. 11839. 13381. 14969.  4173. 11975. 13835. 15195. 12927.
 13154. 10478. 13245. 10251. 11612.  4037. 13698. 19504.  5307. 13290.
 12428. 11294. 11476. 10569.  4581. 11929. 16783.  5126. 17237. 16239.
  4627. 12791. 12338.  3856. 13063. 14334. 11521. 16692. 13517. 10932.
 13562. 20412. 12746. 11884. 13925. 12610. 12292. 15150. 13336.  4264.
  5035.  8000. 19051.  3719. 14787.  3538. 14424. 14923.  3765.  8600.
 14742. 28100. 16556. 16284. 15558.  7000. 13789. 18960. 20638. 14832.
  4218. 15377.  3810.  9000. 17690. 19187. 24948.  6700.  9500.  8200.
 17010.  6200.  4082.  5300. 13971. 13018. 10000. 16511.  6400.  4354.
  2400. 13472. 14152. 12519.  7500.  3402. 16465.  3084. 25000.  5800.
  7600.  7300. 11200.  7400.  5500. 20000.  5400.  6600. 15241.  3946.
  4128.  6000. 16828. 18824.  5900.  4600. 26500. 23814. 16874. 14500.
 19000.  9300. 15966.  7800. 18507.  9100. 10400. 18370. 16193.  6800.
 12565. 13400. 13000.  3221. 14379.  6900. 17917. 10500. 21092.  6500.
  3200. 29257. 28000.  8500.  7200. 17463.  5000. 12837.  8700.  3992.
  8300. 16964. 15604. 17700. 12100. 15105.  8900. 14696. 14606.  9800.
 16647.  3674. 17146. 22725.  2948. 19006. 16103.  3583. 22680. 17509.
 13880. 24040. 15830. 17055.  6100. 13744. 14560.  5600. 14107. 15513.
  5200.  6300. 12000.  5700.  7700.  2722.  2540.  9600. 11500.  4100.
  4500. 15059. 27216.  4800.  3901. 23600.  9200. 19731. 15600.  8400.
  9400.  2903.  4900.  7900. 15785. 19278. 25500. 10800. 18500. 22226.
 22997. 18000.  8100.  2495.  7100.  2600. 10700. 10100. 20865. 17500.
 11100. 11000. 14197.  2268. 28486. 13653. 16500. 21000. 10300. 18597.
 14016. 14651. 10200. 22952.  2359. 12500.  3800. 13500. 17645. 18552.
 15286. 22000. 17000. 23269. 12400. 19232. 18688. 11800. 16012. 16000.
 19368. 20185. 14470. 18416. 14243. 16900. 16601.  3266. 18053. 19641.
  5100.  4000. 17191. 19595.  3311. 15331. 15921.  2585. 16420. 21999.
 21546. 18234.  3000. 16057.  4700. 17327. 15800. 21319. 27624. 19958.
 17599. 23587. 21772. 20003. 23088.  3357. 15000.  2404. 17872. 15014.
 15740. 16375. 19142. 17418.  9700. 25628. 20548. 16148. 17826. 17962.
 20502. 25401. 15468. 20956. 20140. 23496.  2858. 17781. 20049. 23179.
  2449. 22770. 27352. 18915. 17373. 18325. 16738. 21183. 22362. 22861.
  3039. 19777. 18461. 25038. 18189.  3130. 29030. 14000. 11300. 24267.
 23133. 18008. 20276. 18869. 20684. 16400. 15694. 11400. 12200. 24000.
 22200. 13700. 16600. 18098. 27200. 27442. 23451. 19913.  2631. 24494.
 20321.  2313. 26535. 19822. 26308. 21682. 15400. 16919. 23904. 17735.
 21047. 22498. 11700.  3700. 27306. 20366. 25220. 23859. 19459. 18733.
 22135. 16200. 22453. 14600.  2300. 22317. 18779. 21273. 15200. 23360.
 19323. 20500. 22906. 24721.  9900.  2812. 23042. 17554. 20593. 17100.
  2676. 21228. 28032. 28168. 24857. 19500. 25855. 21500. 11600.  2800.
 12300. 18643. 22816. 17282. 11900. 21909. 21455. 27896. 18280. 13800.
 21727. 24630. 18900.]

------------------------------------
_BMI5 - unique values:
[2657. 2561. 2330. ... 1351. 2839. 4863.]

------------------------------------
_BMI5CAT - unique values:
[ 3.  2.  4. nan  1.]

------------------------------------
_RFBMI5 - unique values:
[2. 1. 9.]

------------------------------------
_SBONTI1 - unique values:
[nan  2.  3.  1.]

------------------------------------
_CRCREC2 - unique values:
[nan  2.  1.  3.]

------------------------------------
_RFSMOK3 - unique values:
[1. 2. 9.]

------------------------------------
_CURECI2 - unique values:
[1. 9. 2.]

------------------------------------
DRNKANY6 - unique values:
[2. 1. 9. 7.]

------------------------------------
DROCDY4_ - unique values:
[5.39760535e-79 1.00000000e+01 1.70000000e+01 3.00000000e+00
 7.00000000e+00 1.30000000e+01 9.00000000e+02 8.60000000e+01
 7.10000000e+01 2.90000000e+01 1.40000000e+01 3.30000000e+01
 1.00000000e+02 8.30000000e+01 9.70000000e+01 4.30000000e+01
 9.30000000e+01 5.70000000e+01 2.30000000e+01 2.70000000e+01
 2.00000000e+01 5.00000000e+01 6.70000000e+01 4.00000000e+01
 6.00000000e+01 5.30000000e+01 3.00000000e+01 4.70000000e+01
 7.00000000e+01 9.00000000e+01 8.00000000e+01 8.70000000e+01
 7.30000000e+01 7.70000000e+01 3.70000000e+01 6.30000000e+01
            nan]

------------------------------------
_RFBING6 - unique values:
[1. 9. 2.]

------------------------------------
_DRNKWK2 - unique values:
[5.39760535e-79 1.40000000e+02 2.33000000e+02 2.30000000e+01
 9.30000000e+01 1.17000000e+02 9.99000000e+04 2.80000000e+02
 7.00000000e+01 1.20000000e+03 4.70000000e+01 5.00000000e+02
 2.00000000e+02 7.00000000e+02 4.00000000e+02 1.00000000e+02
 1.40000000e+03 1.16700000e+03 1.87000000e+02 6.00000000e+02
 5.83000000e+02 1.35300000e+03 9.00000000e+02 2.10000000e+03
 1.30700000e+03 1.00000000e+03 4.67000000e+02 3.00000000e+02
 8.00000000e+02 2.80000000e+03 1.63000000e+02 5.60000000e+02
 2.10000000e+02 3.60000000e+03 3.50000000e+03 3.50000000e+02
 1.86700000e+03 4.20000000e+03 1.50000000e+03 9.33000000e+02
 3.27000000e+02 5.60000000e+03 4.20000000e+02 4.90000000e+02
 1.60000000e+03 1.80000000e+03 2.40000000e+03 2.33300000e+03
 7.47000000e+02 1.75000000e+03 1.26000000e+03 1.19000000e+03
 1.05000000e+03 8.12000000e+03 1.12000000e+03 3.73000000e+02
 4.06000000e+03 8.40000000e+03 1.96000000e+03 8.40000000e+02
 4.90000000e+03 2.00000000e+03 1.51700000e+03 1.68000000e+03
 2.70700000e+03 3.20000000e+03 3.03300000e+03 2.28700000e+03
 6.53000000e+02 4.57300000e+03 2.24000000e+03 1.05000000e+04
 6.30000000e+02 1.47000000e+03 7.00000000e+03 2.61300000e+03
 1.82000000e+03 1.40000000e+04 6.77000000e+02 9.80000000e+02
 4.66700000e+03 1.21300000e+03 5.13000000e+02 1.54000000e+03
 2.45000000e+04 3.26700000e+03 6.30000000e+03 3.00000000e+03
 2.42700000e+03 1.98300000e+03 2.38000000e+03 1.61000000e+03
 1.02700000e+03 1.63300000e+03 8.17000000e+02 4.80000000e+03
 1.89000000e+03 5.88000000e+03 1.68000000e+04 4.00000000e+03
 5.32000000e+04 6.07000000e+02 2.10000000e+04 2.52000000e+03
 7.20000000e+03 2.50000000e+03 2.91700000e+03 3.03000000e+02
 3.50000000e+04 2.12800000e+04 1.08270000e+04 4.08300000e+03
 2.03000000e+03 1.75000000e+04 3.36000000e+03 2.70000000e+03
 5.25000000e+03 1.49300000e+03 7.70000000e+02 3.30000000e+03
 6.44000000e+03 3.64000000e+03 5.37000000e+02 2.57000000e+02
 1.12000000e+04 1.02670000e+04 7.70000000e+03 1.00000000e+04
 3.08000000e+03 7.50000000e+03 2.33330000e+04 1.26000000e+04
 5.83300000e+03 4.83000000e+04 1.19000000e+04 6.53300000e+03
 6.00000000e+03 1.28300000e+03 3.97000000e+02 1.04530000e+04
 3.15000000e+03 5.22700000e+03 3.92000000e+03 1.04000000e+04
 4.41000000e+03 2.72000000e+04 1.35330000e+04 4.73700000e+03
 3.04000000e+04 2.45000000e+03 2.28000000e+04 1.20000000e+04
 4.50000000e+03 7.93000000e+02 9.10000000e+02 1.14300000e+03
 2.94000000e+03 8.00000000e+03 1.33000000e+03 2.56700000e+03
 1.10000000e+03 4.85300000e+03 1.07300000e+03 5.00000000e+03
 3.78000000e+03 1.01500000e+04 7.93300000e+03 7.56000000e+03
 9.33300000e+03 2.77700000e+03 4.29300000e+03 2.05300000e+03
 6.76700000e+03 3.73300000e+03 9.80000000e+03 2.00000000e+04
 9.47300000e+03 1.79700000e+03 8.87000000e+02 6.72000000e+03
 6.16000000e+03 1.58700000e+03 5.32000000e+03 5.64700000e+03
 2.24000000e+04 5.04000000e+03 3.40670000e+04 2.14700000e+03
 3.38300000e+03 7.84000000e+03 5.40000000e+03 1.98000000e+04
 6.60000000e+03 1.86670000e+04 8.96000000e+03 5.13300000e+03
 6.06700000e+03 4.43000000e+02 9.00000000e+03 2.60000000e+03
 7.35000000e+03 4.48000000e+03 8.16700000e+03 2.98700000e+03
 9.60000000e+03 3.85000000e+03 6.37000000e+03 9.10000000e+03
 1.14000000e+04 5.36700000e+03 2.50000000e+04 3.59300000e+03
 4.20000000e+04 3.57000000e+03 5.97300000e+03 1.17600000e+04
 2.80000000e+04 4.90000000e+04 3.48000000e+04 3.96700000e+03
 1.50000000e+04 1.54000000e+04 1.30000000e+03 8.05000000e+03
 1.77300000e+03 1.30670000e+04 3.54700000e+03 3.36000000e+04
 1.00800000e+04 2.68300000e+03 1.21330000e+04 2.12300000e+03
 3.85000000e+04 2.09070000e+04 3.22000000e+04 4.62000000e+03
 4.10700000e+03 1.47000000e+04 5.25000000e+04 7.09300000e+03
 2.20000000e+03 1.52000000e+04 4.76000000e+03 8.49300000e+03
 5.95000000e+03 4.43300000e+03 8.75000000e+03 4.24700000e+03
 2.43600000e+04 1.08000000e+04 3.17300000e+03 1.82000000e+04
 1.62400000e+04 2.30000000e+03 6.80000000e+03 3.43000000e+03
 5.41300000e+03 1.56800000e+04 2.10470000e+04 1.61000000e+04
 5.04000000e+04 4.55000000e+04 2.31000000e+03 5.50000000e+03
 7.28000000e+03 2.66000000e+03 2.38000000e+04 4.55000000e+03
 1.34170000e+04 3.15000000e+04 1.45830000e+04 3.22000000e+03
 6.09000000e+03 6.86000000e+03 2.25000000e+04 1.28000000e+04]

------------------------------------
_RFDRHV8 - unique values:
[1. 9. 2.]

------------------------------------

In [40]:
df_copy = df_clean.copy()
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397757 entries, 1 to 445131
Data columns (total 38 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   388920 non-null  float64
 1   HEIGHT3   388246 non-null  float64
 2   _METSTAT  388663 non-null  float64
 3   _URBSTAT  388663 non-null  float64
 4   _IMPRACE  397757 non-null  float64
 5   _RFHLTH   397757 non-null  float64
 6   _PHYS14D  397757 non-null  float64
 7   _MENT14D  397757 non-null  float64
 8   _HLTHPLN  397757 non-null  float64
 9   _TOTINDA  397757 non-null  float64
 10  _MICHD    393441 non-null  float64
 11  _ASTHMS1  397757 non-null  float64
 12  _DRDXAR2  395575 non-null  float64
 13  _PRACE2   397746 non-null  float64
 14  _MRACE2   397748 non-null  float64
 15  _HISPANC  397757 non-null  float64
 16  _RACE1    397756 non-null  float64
 17  _RACEG22  397756 non-null  float64
 18  _RACEGR4  397756 non-null  float64
 19  _RACEPR1  397757 non-null  float64
 20  _SEX      397757 non-null  float64
 21  _AGEG5YR  397757 non-null  float64
 22  _AGE_G    397757 non-null  float64
 23  HTIN4     384654 non-null  float64
 24  HTM4      388233 non-null  float64
 25  WTKG3     388898 non-null  float64
 26  _BMI5     385989 non-null  float64
 27  _BMI5CAT  385989 non-null  float64
 28  _RFBMI5   397757 non-null  float64
 29  _SBONTI1  218557 non-null  float64
 30  _CRCREC2  218557 non-null  float64
 31  _RFSMOK3  397757 non-null  float64
 32  _CURECI2  397757 non-null  float64
 33  DRNKANY6  397757 non-null  float64
 34  DROCDY4_  397753 non-null  float64
 35  _RFBING6  397757 non-null  float64
 36  _DRNKWK2  397757 non-null  float64
 37  _RFDRHV8  397757 non-null  float64
dtypes: float64(38)
memory usage: 118.4 MB

In [41]:
# dropped other placeholders for missing values in other columns
for col in df_copy.columns:
     df_copy = df_copy[df_copy[col] != 9.0]
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 287311 entries, 1 to 445130
Data columns (total 38 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   287311 non-null  float64
 1   HEIGHT3   287311 non-null  float64
 2   _METSTAT  280181 non-null  float64
 3   _URBSTAT  280181 non-null  float64
 4   _IMPRACE  287311 non-null  float64
 5   _RFHLTH   287311 non-null  float64
 6   _PHYS14D  287311 non-null  float64
 7   _MENT14D  287311 non-null  float64
 8   _HLTHPLN  287311 non-null  float64
 9   _TOTINDA  287311 non-null  float64
 10  _MICHD    284847 non-null  float64
 11  _ASTHMS1  287311 non-null  float64
 12  _DRDXAR2  286049 non-null  float64
 13  _PRACE2   287307 non-null  float64
 14  _MRACE2   287308 non-null  float64
 15  _HISPANC  287311 non-null  float64
 16  _RACE1    287311 non-null  float64
 17  _RACEG22  287311 non-null  float64
 18  _RACEGR4  287311 non-null  float64
 19  _RACEPR1  287311 non-null  float64
 20  _SEX      287311 non-null  float64
 21  _AGEG5YR  287311 non-null  float64
 22  _AGE_G    287311 non-null  float64
 23  HTIN4     284837 non-null  float64
 24  HTM4      287311 non-null  float64
 25  WTKG3     287311 non-null  float64
 26  _BMI5     287311 non-null  float64
 27  _BMI5CAT  287311 non-null  float64
 28  _RFBMI5   287311 non-null  float64
 29  _SBONTI1  147888 non-null  float64
 30  _CRCREC2  147888 non-null  float64
 31  _RFSMOK3  287311 non-null  float64
 32  _CURECI2  287311 non-null  float64
 33  DRNKANY6  287311 non-null  float64
 34  DROCDY4_  287311 non-null  float64
 35  _RFBING6  287311 non-null  float64
 36  _DRNKWK2  287311 non-null  float64
 37  _RFDRHV8  287311 non-null  float64
dtypes: float64(38)
memory usage: 85.5 MB

In [42]:
for col in df_copy:
    print(f"{col} - unique values: ")
    print(df_copy[col].unique(), "\n")
    print("------------------------------------")

WEIGHT2 - unique values:
[ 150.  140.  119.  187.  138.  162.  180.  165.  131.  188.  235.  157.
  135.  200.  145.  190.  236.  126.  232.  170.  125.  175.  142.  225.
  132.  230.  118.  136.   76.  220.  280.  174.  130.  203.  110.  185.
  260.  158.  227.  137.  184.  160.  208.  134.  258.  144.  195.  198.
  164.  152.  176.  199.  250.  123.  202.  104.  201.  105.  186.  320.
  207.  270.  210.  108.  163.  196.  178.  350.  215.  114.  179.  182.
  168.  151.  166.  120.  155.  139.  133.  255.  146.  191.  240.  204.
  300.   95.  129.  141.  205.  112.  284.  218.  100.  103.  128.  161.
  211.  289.  173.  149.  265.  194.  172.  121.  246.  115.  171.  209.
  273.  167.  248.  181.  234.  127.  156.  212.  148.  106.  360.  242.
  222.  315.  244.  245.  122.  224.  239.  206.  197.  266.   99.  189.
  291.  237.   80.  228.  192.  183.  124.  213.  153.  109.  269.  279.
  217.  169.  400.  116.  268.  143.  243.  107.  310.  257.  147.  214.
  193.  275.  216.  247.  221.  259.  159.  340.  154.  261.  295.  330.
  335.  285.  305.  290.   98.  231.  292.  238.  226.  256.   89.  223.
  302.  430.  219.  252.  117.  293.  274.  249.  253.  177.  101.  263.
  370.  113.  102.  272.   85.  316.  254.  368.  241.  299.  450.  286.
  233.  264.  262.  307.  278.  298.  229.  271.  328.  380.  281.  294.
  111.  267.  251.  296. 9080.   82.  358.   92.   78.  318.   83. 9086.
  325. 9281.  365.  359.  343.  304.  288.  455.  327.   93. 9090.  390.
  423.  550. 9067. 9095. 9082.   97.   90.  345. 9053.  308.  287. 9064.
   96.  297.  312.  276. 9075.   94.   75. 9250. 9058. 9073.  282. 9112.
 9074. 9200. 9054. 9066.  336. 9100.   91.  415. 9059. 9070.  375. 9046.
 9265.  372. 9145. 9190. 9055. 9060.  352. 9078.  408. 9104.  405.  357.
  277. 9068. 9134. 9130.   71. 9093.  317.  395. 9105.  465. 9065.   84.
  645. 9072. 9088.  385. 9050.  283.  420. 9062.   88. 9076. 9085.  344.
 9121. 9089.  324. 9098.  418.  378.  501.  419.  355.   79.  374.  500.
 9087.  306.  530.  349. 9061.  303.  321. 9056. 9052. 9063.   70. 9077.
 9096. 9115. 9041.  322. 9057.  332.  311. 9045. 9048. 9083. 9092.  435.
 9084. 9094. 9049. 9079.  348.  425. 9108. 9185. 9069.  490.  507. 9180.
 9081. 9071. 9107. 9101.  342. 9120.  460.  329. 9111. 9110.  333.  301.
 9165. 9210.  309.  323. 9102.  506. 9125.  334. 9038.   87.  389.  326.
 9170. 9124.   86.  424. 9118.  353. 9160.  376.  445.  319.  406.  412.
  314. 9169.  366.  398.  433.  339.  379.  432.   73.  338.  351.  485.
  475.  402.  313. 9047.  382.  470.  609.  440.  388.  480.  441.  509.
   74. 9103.  410.  337.  394.  354. 9091.  331.  347. 9150.  422.  384.
 9097.  363.  565.  453.  356.  393.  396.  452.  341.  444.  367.  386.
  518.   63.  392.  442.  511.  525.  502.  603.  417.  600.  362.  369.
  493.  364.  504.  436.  552.  404.  401.  640. 9113.  510.  397.  447.
 9164.  346.  416. 9114. 9122. 9240. 9222.  399.  409.  517.  439.  540.
  448.   81.   65.  383.  437. 9154.  373.  527.  456.  391. 9117. 9037.
  602.   56.  449. 9044.  526.  429.  413.  488. 9162. 9051.  495. 9146.
 9220.   77.  560.  414.  469.   68.  407. 9152.  361.  515.  426. 9205.
  505.  545. 9099.   62.  387.  580.  520.  468.  621.  570.   72. 9116.
  371. 9175. 9123.  411.  503.  381.  483.   50. 9135.  403. 9138.  479.
  543.   67.]

------------------------------------
HEIGHT3 - unique values:
[ 503.  502.  511.  505.  504.  506.  508.  501.  604.  602.  601.  509.
  500.  600.  507.  510.  603.  605.  411.  409.  408.  401.  410.  400.
  606.  608.  403.  607.  407.  405. 9165. 9182. 9167. 9176.  611. 9175.
 9183. 9171.  701.  705. 9152. 9174. 9151. 9153. 9169. 9156. 9184. 9190.
 9160. 9154. 9172. 9187. 9157. 9170. 9163. 9161. 9149. 9150. 9155. 9178.
 9164. 9158. 9188. 9162. 9179. 9168. 9145. 9146. 9189. 9180.  700.  300.
 9173.  702. 9177.  709.  406. 9125. 9166. 9185. 9186. 9195. 9147. 9159.
 9140. 9105.  610. 9148.  404. 9118.  609. 9138. 9181. 9144.  402.  311.
 9117. 9193.  306.  305. 9198. 9107. 9110. 9143. 9120. 9192.  704.  308.
 9103.  703.  302. 9130. 9142.  706. 9116. 9104. 9109. 9115. 9196.  711.
 9127. 9100.  310. 9108. 9114. 9135. 9102.  304. 9191. 9202. 9194. 9095.
 9106.  708. 9200.]

------------------------------------
_METSTAT - unique values:
[ 2.  1. nan]

------------------------------------
_URBSTAT - unique values:
[ 1.  2. nan]

------------------------------------
_IMPRACE - unique values:
[1. 2. 4. 6. 5. 3.]

------------------------------------
_RFHLTH - unique values:
[1. 2.]

------------------------------------
_PHYS14D - unique values:
[1. 2. 3.]

------------------------------------
_MENT14D - unique values:
[1. 2. 3.]

------------------------------------
_HLTHPLN - unique values:
[1. 2.]

------------------------------------
_TOTINDA - unique values:
[2. 1.]

------------------------------------
_MICHD - unique values:
[ 2.  1. nan]

------------------------------------
_ASTHMS1 - unique values:
[3. 1. 2.]

------------------------------------
_DRDXAR2 - unique values:
[ 2.  1. nan]

------------------------------------
_PRACE2 - unique values:
[ 1.  2.  3. 88.  5.  4. 77. 99.  7. nan]

------------------------------------
_MRACE2 - unique values:
[ 1.  2.  3.  6. 88.  5.  4. 77. 99. nan]

------------------------------------
_HISPANC - unique values:
[2. 1.]

------------------------------------
_RACE1 - unique values:
[1. 2. 3. 7. 8. 5. 4.]

------------------------------------
_RACEG22 - unique values:
[1. 2.]

------------------------------------
_RACEGR4 - unique values:
[1. 2. 3. 4. 5.]

------------------------------------
_RACEPR1 - unique values:
[1. 2. 3. 6. 7. 5. 4.]

------------------------------------
_SEX - unique values:
[2. 1.]

------------------------------------
_AGEG5YR - unique values:
[13.  8.  5. 11. 10. 14. 12.  7.  6.  4.  3.  2.  1.]

------------------------------------
_AGE_G - unique values:
[6. 5. 3. 4. 2. 1.]

------------------------------------
HTIN4 - unique values:
[63. 62. 71. 65. 64. 66. 68. 61. 76. 74. 73. 69. 60. 72. 67. 70. 75. 77.
 59. 57. 56. 49. 58. 48. 78. 80. 51. 79. 55. 53. nan 83. 85. 89. 84. 36.
 86. 93. 54. 82. 52. 81. 50. 47. 42. 41. 88. 44. 87. 38. 90. 95. 46. 40.
 92.]

------------------------------------
HTM4 - unique values:
[160. 157. 180. 165. 163. 168. 173. 155. 193. 188. 185. 175. 152. 183.
 170. 178. 191. 196. 150. 145. 142. 124. 147. 122. 198. 203. 130. 201.
 140. 135. 182. 167. 176. 211. 171. 216. 226. 174. 151. 153. 169. 156.
 184. 190. 154. 172. 187. 161. 149. 164. 158. 162. 179. 146. 189. 213.
  91. 218. 177. 236. 137. 125. 166. 186. 195. 159. 105. 208. 148. 132.
 118. 206. 138. 181. 144. 127. 119. 117. 107. 104. 110. 143. 120. 192.
 224. 112. 103. 221.  97. 229. 116. 109. 115. 241. 100. 108. 114. 102.
 202. 194.  95. 106. 234. 200.]

------------------------------------
WTKG3 - unique values:
[ 6804.  6350.  5398.  8482.  6260.  7348.  8165.  7484.  5942.  8528.
 10659.  7121.  6123.  9072.  6577.  8618. 10705.  5715. 10523.  7711.
  5670.  7938.  6441. 10206.  5987. 10433.  5352.  6169.  3447.  9979.
 12701.  7893.  5897.  9208.  4990.  8391. 11793.  7167. 10297.  6214.
  8346.  7257.  9435.  6078. 11703.  6532.  8845.  8981.  7439.  6895.
  7983.  9026. 11340.  5579.  9163.  4717.  9117.  4763.  8437. 14515.
  9389. 12247.  9525.  4899.  7394.  8890.  8074. 15876.  9752.  5171.
  8119.  8255.  7620.  6849.  7530.  5443.  7031.  6305.  6033. 11567.
  6622.  8664. 10886.  9253. 13608.  4309.  5851.  6396.  9299.  5080.
 12882.  9888.  4536.  4672.  5806.  7303.  9571. 13109.  7847.  6759.
 12020.  8800.  7802.  5488. 11158.  5216.  7756.  9480. 12383.  7575.
 11249.  8210. 10614.  5761.  7076.  9616.  6713.  4808. 16329. 10977.
 10070. 14288. 11068. 11113.  5534. 10160. 10841.  9344.  8936. 12066.
  4491.  8573. 13200. 10750.  3629. 10342.  8709.  8301.  5625.  9662.
  6940.  4944. 12202. 12655.  9843.  7666. 18144.  5262. 12156.  6486.
 11022.  4853. 14061. 11657.  6668.  9707.  8754. 12474.  9798. 11204.
 10024. 11748.  7212. 15422.  6985. 11839. 13381. 14969. 15195. 12927.
 13835. 13154.  4445. 10478. 13245. 10795. 10251. 11612.  4037. 10115.
 13698. 19504.  9934. 11431.  5307. 13290. 12428. 11294. 11476.  8029.
  4581. 11929. 16783.  5126.  4627. 12338.  3856. 14334. 11521. 16692.
 10932. 13562. 20412. 12973. 10569. 11975. 11884. 13925. 12610. 13517.
 10387. 12292. 14878. 17237. 12746. 13336.  5035. 12111. 11385. 13426.
  8000.  3719. 16239.  4173.  3538. 14424.  3765.  8600. 14742. 28100.
 16556. 16284. 15558. 13789. 13063. 20638. 14832.  4218.  9000. 17690.
 19187. 24948.  6700.  9500.  8200.  4400.  4082. 15649.  5300. 13971.
 13018.  6400.  4354. 13472. 14152. 12519.  7500.  4264.  3402. 25000.
  5800.  7300. 12791. 11200.  7400. 20000.  5400.  6600. 15241. 10000.
  4128. 18824.  5900.  7000. 17010.  4600. 26500. 16874. 14500. 19000.
  5500.  6000. 15966.  7800. 18507. 10400. 18370. 16193. 12565.  6800.
 13400. 13000.  3221.  9300. 14379. 17917. 10500. 21092.  6500.  3810.
 29257.  7200. 17463.  5000. 12837. 19051.  6200.  3992.  7600.  8500.
 15604. 12100.  8900. 14696.  9800. 18960. 17146. 22725. 19006. 16103.
  3583. 16964. 22680.  8700. 13880. 24040. 15830.  6100. 13744. 14560.
  5600.  5200.  6300.  3175.  7700.  9600. 11500.  4100. 14606.  5700.
 15059. 14107.  4500.  4800.  8300.  9200. 19731.  8400.  9400.  4900.
  7900. 15785. 19278. 10800. 18500.  6900. 22226. 22997. 18000.  8100.
  7100. 10700. 10100. 15513. 12000. 20865. 14923. 11100. 11000. 15105.
 13653. 16500. 21000. 14016. 14651. 10200. 22952. 12500. 15150.  3800.
  3946. 17645. 14787. 17000. 12400.  3901. 19232. 11800. 16012. 16000.
 17055. 20185. 14470. 18416. 18688. 14243. 16900. 16601. 18053. 19641.
 15377. 17191. 19595.  3311. 15331. 15921. 21999. 21546. 18234. 14197.
  4700. 17327. 21319. 27624. 19958. 17599. 21772. 20003. 23088.  3357.
 10300. 18597. 15286. 17872. 16057.  9100. 15014. 15740. 15000. 19142.
 17418.  9700. 16465. 25628. 20548. 16148. 17826. 17962. 20502. 15468.
 20140. 16647. 17509. 23496.  2858. 17781. 20049. 23179. 23814. 22770.
 27352. 18915. 27216. 16420. 16738. 22362. 16511. 22861. 19777. 25038.
 18325. 18189. 29030. 11300. 23133. 18008. 20276. 16400. 15694. 18869.
 11400. 12200. 24000. 22200. 18098. 18552. 23451. 19913. 24494. 20321.
  3674.  2948. 17373. 19822. 15400. 16919. 23904. 20684. 17735. 11700.
  3700. 27306.  2540. 20366. 23859. 19459. 18733. 22135. 16200.  5100.
 22453. 14600. 22000.  3493. 25401. 18779. 21273.  3084. 18461. 15200.
 16375. 23360. 19323. 20500. 22906. 24721.  9900.  2812. 17554. 26308.
 23587. 21228. 28168. 25855.  3266. 11600. 16828. 17500. 12300. 18643.
 22816. 17282. 21909.  2268. 13500. 18280. 13800. 21727. 24630.  3039.]

------------------------------------
_BMI5 - unique values:
[2657. 2561. 2177. ... 2839. 4863. 1735.]

------------------------------------
_BMI5CAT - unique values:
[3. 2. 4. 1.]

------------------------------------
_RFBMI5 - unique values:
[2. 1.]

------------------------------------
_SBONTI1 - unique values:
[nan  2.  3.  1.]

------------------------------------
_CRCREC2 - unique values:
[nan  2.  1.  3.]

------------------------------------
_RFSMOK3 - unique values:
[1. 2.]

------------------------------------
_CURECI2 - unique values:
[1. 2.]

------------------------------------
DRNKANY6 - unique values:
[2. 1.]

------------------------------------
DROCDY4_ - unique values:
[5.39760535e-79 1.00000000e+01 1.70000000e+01 3.00000000e+00
 7.00000000e+00 1.30000000e+01 8.60000000e+01 2.90000000e+01
 1.40000000e+01 3.30000000e+01 1.00000000e+02 8.30000000e+01
 9.70000000e+01 4.30000000e+01 9.30000000e+01 7.10000000e+01
 5.70000000e+01 2.70000000e+01 2.00000000e+01 5.00000000e+01
 6.70000000e+01 4.00000000e+01 2.30000000e+01 5.30000000e+01
 3.00000000e+01 4.70000000e+01 7.00000000e+01 6.00000000e+01
 9.00000000e+01 8.70000000e+01 7.30000000e+01 7.70000000e+01
 8.00000000e+01 3.70000000e+01 6.30000000e+01]

------------------------------------
_RFBING6 - unique values:
[1. 2.]

------------------------------------
_DRNKWK2 - unique values:
[5.39760535e-79 1.40000000e+02 2.33000000e+02 2.30000000e+01
 9.30000000e+01 1.17000000e+02 2.80000000e+02 7.00000000e+01
 1.20000000e+03 4.70000000e+01 2.00000000e+02 7.00000000e+02
 4.00000000e+02 1.00000000e+02 1.40000000e+03 1.16700000e+03
 1.87000000e+02 6.00000000e+02 5.83000000e+02 1.35300000e+03
 9.00000000e+02 2.10000000e+03 1.30700000e+03 1.00000000e+03
 4.67000000e+02 8.00000000e+02 2.80000000e+03 5.60000000e+02
 2.10000000e+02 3.60000000e+03 3.50000000e+02 1.86700000e+03
 3.00000000e+02 5.00000000e+02 4.20000000e+03 1.50000000e+03
 9.33000000e+02 3.27000000e+02 4.90000000e+02 1.60000000e+03
 1.63000000e+02 2.40000000e+03 2.33300000e+03 7.47000000e+02
 1.19000000e+03 5.60000000e+03 1.05000000e+03 1.12000000e+03
 3.73000000e+02 4.06000000e+03 3.50000000e+03 1.96000000e+03
 8.40000000e+02 4.90000000e+03 1.26000000e+03 2.00000000e+03
 4.20000000e+02 1.68000000e+03 2.70700000e+03 3.20000000e+03
 3.03300000e+03 2.28700000e+03 6.53000000e+02 8.40000000e+03
 4.57300000e+03 2.24000000e+03 6.30000000e+02 1.75000000e+03
 7.00000000e+03 1.80000000e+03 2.61300000e+03 1.82000000e+03
 1.40000000e+04 6.77000000e+02 9.80000000e+02 4.66700000e+03
 1.21300000e+03 5.13000000e+02 1.54000000e+03 2.45000000e+04
 3.26700000e+03 6.30000000e+03 2.42700000e+03 2.38000000e+03
 3.00000000e+03 1.61000000e+03 1.02700000e+03 1.63300000e+03
 8.17000000e+02 1.47000000e+03 1.89000000e+03 5.88000000e+03
 1.68000000e+04 4.00000000e+03 2.52000000e+03 7.20000000e+03
 2.91700000e+03 3.03000000e+02 6.07000000e+02 3.50000000e+04
 1.08270000e+04 4.08300000e+03 2.03000000e+03 3.36000000e+03
 2.70000000e+03 1.49300000e+03 1.05000000e+04 7.70000000e+02
 3.30000000e+03 3.64000000e+03 4.80000000e+03 2.10000000e+04
 2.57000000e+02 1.12000000e+04 1.02670000e+04 1.00000000e+04
 3.08000000e+03 7.50000000e+03 2.33330000e+04 1.26000000e+04
 5.83300000e+03 2.50000000e+03 7.70000000e+03 6.00000000e+03
 1.28300000e+03 3.97000000e+02 1.04530000e+04 3.15000000e+03
 5.22700000e+03 3.92000000e+03 4.41000000e+03 4.73700000e+03
 3.04000000e+04 2.45000000e+03 2.28000000e+04 7.93000000e+02
 5.25000000e+03 9.10000000e+02 8.00000000e+03 1.33000000e+03
 2.56700000e+03 1.10000000e+03 6.53300000e+03 4.85300000e+03
 1.07300000e+03 5.00000000e+03 3.78000000e+03 5.37000000e+02
 7.93300000e+03 9.33300000e+03 2.77700000e+03 2.05300000e+03
 6.76700000e+03 4.50000000e+03 3.73300000e+03 1.98300000e+03
 9.80000000e+03 1.14300000e+03 2.00000000e+04 9.47300000e+03
 5.32000000e+04 8.12000000e+03 8.87000000e+02 6.72000000e+03
 6.16000000e+03 1.58700000e+03 5.32000000e+03 5.64700000e+03
 5.04000000e+03 1.79700000e+03 3.40670000e+04 2.14700000e+03
 3.38300000e+03 7.84000000e+03 5.40000000e+03 1.98000000e+04
 1.19000000e+04 6.60000000e+03 1.86670000e+04 5.13300000e+03
 1.75000000e+04 6.06700000e+03 4.43000000e+02 9.00000000e+03
 2.60000000e+03 7.35000000e+03 4.48000000e+03 2.98700000e+03
 9.60000000e+03 3.85000000e+03 2.94000000e+03 6.37000000e+03
 1.14000000e+04 5.36700000e+03 2.50000000e+04 4.20000000e+04
 1.20000000e+04 3.57000000e+03 5.97300000e+03 9.10000000e+03
 1.17600000e+04 4.90000000e+04 3.48000000e+04 3.96700000e+03
 1.50000000e+04 1.51700000e+03 1.54000000e+04 1.30000000e+03
 8.05000000e+03 1.30670000e+04 3.54700000e+03 3.36000000e+04
 1.00800000e+04 2.68300000e+03 1.77300000e+03 2.12300000e+03
 3.85000000e+04 2.09070000e+04 3.22000000e+04 4.62000000e+03
 2.80000000e+04 1.47000000e+04 4.83000000e+04 7.09300000e+03
 2.20000000e+03 4.76000000e+03 8.49300000e+03 5.95000000e+03
 4.43300000e+03 4.24700000e+03 2.43600000e+04 1.08000000e+04
 3.17300000e+03 1.62400000e+04 7.56000000e+03 2.30000000e+03
 6.80000000e+03 3.43000000e+03 5.41300000e+03 1.56800000e+04
 1.61000000e+04 4.29300000e+03 5.04000000e+04 4.55000000e+04
 2.31000000e+03 5.50000000e+03 7.28000000e+03 4.55000000e+03
 1.34170000e+04 1.01500000e+04 3.15000000e+04 1.45830000e+04
 3.22000000e+03 6.09000000e+03 6.86000000e+03 2.25000000e+04
 1.28000000e+04]

------------------------------------
_RFDRHV8 - unique values:
[1. 2.]

------------------------------------

In [44]:
# dropped other placeholders for missing values in other columns
for col in df_copy.columns:
     df_copy = df_copy[df_copy[col] != "nan"]
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 287311 entries, 1 to 445130
Data columns (total 38 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   287311 non-null  float64
 1   HEIGHT3   287311 non-null  float64
 2   _METSTAT  280181 non-null  float64
 3   _URBSTAT  280181 non-null  float64
 4   _IMPRACE  287311 non-null  float64
 5   _RFHLTH   287311 non-null  float64
 6   _PHYS14D  287311 non-null  float64
 7   _MENT14D  287311 non-null  float64
 8   _HLTHPLN  287311 non-null  float64
 9   _TOTINDA  287311 non-null  float64
 10  _MICHD    284847 non-null  float64
 11  _ASTHMS1  287311 non-null  float64
 12  _DRDXAR2  286049 non-null  float64
 13  _PRACE2   287307 non-null  float64
 14  _MRACE2   287308 non-null  float64
 15  _HISPANC  287311 non-null  float64
 16  _RACE1    287311 non-null  float64
 17  _RACEG22  287311 non-null  float64
 18  _RACEGR4  287311 non-null  float64
 19  _RACEPR1  287311 non-null  float64
 20  _SEX      287311 non-null  float64
 21  _AGEG5YR  287311 non-null  float64
 22  _AGE_G    287311 non-null  float64
 23  HTIN4     284837 non-null  float64
 24  HTM4      287311 non-null  float64
 25  WTKG3     287311 non-null  float64
 26  _BMI5     287311 non-null  float64
 27  _BMI5CAT  287311 non-null  float64
 28  _RFBMI5   287311 non-null  float64
 29  _SBONTI1  147888 non-null  float64
 30  _CRCREC2  147888 non-null  float64
 31  _RFSMOK3  287311 non-null  float64
 32  _CURECI2  287311 non-null  float64
 33  DRNKANY6  287311 non-null  float64
 34  DROCDY4_  287311 non-null  float64
 35  _RFBING6  287311 non-null  float64
 36  _DRNKWK2  287311 non-null  float64
 37  _RFDRHV8  287311 non-null  float64
dtypes: float64(38)
memory usage: 85.5 MB

In [45]:
df_copy = df_copy[df_copy["DROCDY4_"] != 900.0]
df_copy= df_copy.drop(columns = ["_SBONTI1", "_CRCREC2"], axis = 1) 
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 287311 entries, 1 to 445130
Data columns (total 36 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   287311 non-null  float64
 1   HEIGHT3   287311 non-null  float64
 2   _METSTAT  280181 non-null  float64
 3   _URBSTAT  280181 non-null  float64
 4   _IMPRACE  287311 non-null  float64
 5   _RFHLTH   287311 non-null  float64
 6   _PHYS14D  287311 non-null  float64
 7   _MENT14D  287311 non-null  float64
 8   _HLTHPLN  287311 non-null  float64
 9   _TOTINDA  287311 non-null  float64
 10  _MICHD    284847 non-null  float64
 11  _ASTHMS1  287311 non-null  float64
 12  _DRDXAR2  286049 non-null  float64
 13  _PRACE2   287307 non-null  float64
 14  _MRACE2   287308 non-null  float64
 15  _HISPANC  287311 non-null  float64
 16  _RACE1    287311 non-null  float64
 17  _RACEG22  287311 non-null  float64
 18  _RACEGR4  287311 non-null  float64
 19  _RACEPR1  287311 non-null  float64
 20  _SEX      287311 non-null  float64
 21  _AGEG5YR  287311 non-null  float64
 22  _AGE_G    287311 non-null  float64
 23  HTIN4     284837 non-null  float64
 24  HTM4      287311 non-null  float64
 25  WTKG3     287311 non-null  float64
 26  _BMI5     287311 non-null  float64
 27  _BMI5CAT  287311 non-null  float64
 28  _RFBMI5   287311 non-null  float64
 29  _RFSMOK3  287311 non-null  float64
 30  _CURECI2  287311 non-null  float64
 31  DRNKANY6  287311 non-null  float64
 32  DROCDY4_  287311 non-null  float64
 33  _RFBING6  287311 non-null  float64
 34  _DRNKWK2  287311 non-null  float64
 35  _RFDRHV8  287311 non-null  float64
dtypes: float64(36)
memory usage: 81.1 MB

In [46]:
df_copy = df_copy[df_copy["_DRNKWK2"] != 99900.0]
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 287311 entries, 1 to 445130
Data columns (total 36 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   287311 non-null  float64
 1   HEIGHT3   287311 non-null  float64
 2   _METSTAT  280181 non-null  float64
 3   _URBSTAT  280181 non-null  float64
 4   _IMPRACE  287311 non-null  float64
 5   _RFHLTH   287311 non-null  float64
 6   _PHYS14D  287311 non-null  float64
 7   _MENT14D  287311 non-null  float64
 8   _HLTHPLN  287311 non-null  float64
 9   _TOTINDA  287311 non-null  float64
 10  _MICHD    284847 non-null  float64
 11  _ASTHMS1  287311 non-null  float64
 12  _DRDXAR2  286049 non-null  float64
 13  _PRACE2   287307 non-null  float64
 14  _MRACE2   287308 non-null  float64
 15  _HISPANC  287311 non-null  float64
 16  _RACE1    287311 non-null  float64
 17  _RACEG22  287311 non-null  float64
 18  _RACEGR4  287311 non-null  float64
 19  _RACEPR1  287311 non-null  float64
 20  _SEX      287311 non-null  float64
 21  _AGEG5YR  287311 non-null  float64
 22  _AGE_G    287311 non-null  float64
 23  HTIN4     284837 non-null  float64
 24  HTM4      287311 non-null  float64
 25  WTKG3     287311 non-null  float64
 26  _BMI5     287311 non-null  float64
 27  _BMI5CAT  287311 non-null  float64
 28  _RFBMI5   287311 non-null  float64
 29  _RFSMOK3  287311 non-null  float64
 30  _CURECI2  287311 non-null  float64
 31  DRNKANY6  287311 non-null  float64
 32  DROCDY4_  287311 non-null  float64
 33  _RFBING6  287311 non-null  float64
 34  _DRNKWK2  287311 non-null  float64
 35  _RFDRHV8  287311 non-null  float64
dtypes: float64(36)
memory usage: 81.1 MB

In [52]:
df_copy = df_copy[df_copy["_PRACE2"] != 99.0]
df_copy = df_copy[df_copy["_PRACE2"] != 88.0]
df_copy = df_copy[df_copy["_PRACE2"] != 77.0]
df_copy = df_copy[df_copy["_MRACE2"] != 99.0]
df_copy = df_copy[df_copy["_MRACE2"] != 88.0]
df_copy = df_copy[df_copy["_MRACE2"] != 77.0]
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 281647 entries, 1 to 445130
Data columns (total 36 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   281647 non-null  float64
 1   HEIGHT3   281647 non-null  float64
 2   _METSTAT  274729 non-null  float64
 3   _URBSTAT  274729 non-null  float64
 4   _IMPRACE  281647 non-null  float64
 5   _RFHLTH   281647 non-null  float64
 6   _PHYS14D  281647 non-null  float64
 7   _MENT14D  281647 non-null  float64
 8   _HLTHPLN  281647 non-null  float64
 9   _TOTINDA  281647 non-null  float64
 10  _MICHD    279245 non-null  float64
 11  _ASTHMS1  281647 non-null  float64
 12  _DRDXAR2  280421 non-null  float64
 13  _PRACE2   281643 non-null  float64
 14  _MRACE2   281644 non-null  float64
 15  _HISPANC  281647 non-null  float64
 16  _RACE1    281647 non-null  float64
 17  _RACEG22  281647 non-null  float64
 18  _RACEGR4  281647 non-null  float64
 19  _RACEPR1  281647 non-null  float64
 20  _SEX      281647 non-null  float64
 21  _AGEG5YR  281647 non-null  float64
 22  _AGE_G    281647 non-null  float64
 23  HTIN4     279916 non-null  float64
 24  HTM4      281647 non-null  float64
 25  WTKG3     281647 non-null  float64
 26  _BMI5     281647 non-null  float64
 27  _BMI5CAT  281647 non-null  float64
 28  _RFBMI5   281647 non-null  float64
 29  _RFSMOK3  281647 non-null  float64
 30  _CURECI2  281647 non-null  float64
 31  DRNKANY6  281647 non-null  float64
 32  DROCDY4_  281647 non-null  float64
 33  _RFBING6  281647 non-null  float64
 34  _DRNKWK2  281647 non-null  float64
 35  _RFDRHV8  281647 non-null  float64
dtypes: float64(36)
memory usage: 79.5 MB

In [53]:
for col in df_copy:
    print(f"{col} - unique values: ")
    print(df_copy[col].unique(), "\n")
    print("------------------------------------")

WEIGHT2 - unique values:
[ 150.  140.  119.  187.  138.  162.  180.  165.  131.  188.  235.  157.
  135.  200.  145.  190.  236.  126.  232.  170.  125.  175.  142.  225.
  132.  230.  118.  136.   76.  220.  280.  174.  130.  203.  110.  185.
  260.  158.  227.  137.  184.  160.  208.  134.  258.  144.  195.  198.
  164.  152.  176.  199.  250.  123.  202.  104.  201.  105.  186.  320.
  207.  270.  210.  108.  163.  196.  178.  350.  215.  114.  179.  182.
  168.  151.  166.  120.  155.  139.  133.  255.  146.  191.  240.  204.
  300.   95.  129.  141.  205.  112.  284.  218.  100.  103.  128.  161.
  211.  289.  173.  149.  265.  194.  172.  121.  246.  115.  171.  209.
  273.  167.  248.  181.  234.  127.  156.  212.  148.  106.  360.  242.
  222.  315.  244.  245.  122.  224.  239.  206.  197.  266.   99.  189.
  291.  237.   80.  228.  192.  183.  124.  213.  153.  109.  269.  279.
  217.  169.  400.  116.  268.  143.  243.  107.  310.  257.  147.  214.
  193.  275.  216.  247.  221.  259.  159.  340.  154.  261.  295.  330.
  335.  285.  305.  290.   98.  231.  292.  238.  226.  256.   89.  223.
  302.  430.  219.  252.  117.  293.  274.  249.  253.  177.  101.  263.
  370.  113.  102.  272.   85.  316.  254.  368.  241.  299.  450.  286.
  233.  264.  262.  307.  278.  298.  229.  271.  328.  380.  281.  294.
  111.  267.  251.  296. 9080.   82.  358.   92.   78.  318.   83. 9086.
  325. 9281.  365.  359.  343.  304.  288.  455.  327.   93. 9090.  390.
  423.  550. 9067. 9095. 9082.   97.   90.  345. 9053.  308.  287.   96.
  297.  312.  276. 9075.   94.   75. 9250. 9058. 9073.  282. 9112. 9074.
 9200.  336. 9100.   91.  415. 9059. 9070.  375. 9265.  372. 9145. 9055.
 9060.  352. 9078.  408. 9104.  405.  357.  277. 9134.   71. 9093.  317.
  395. 9105.  465. 9065.   84.  645. 9072. 9088.  283.  420. 9062.   88.
 9076.  344. 9121. 9050.  324. 9098.  418.  378.  501.  385.  419.  355.
   79.  374.  500. 9087. 9068.  306.  530.  349. 9061.  303.  321. 9064.
 9056. 9052. 9063. 9085. 9077. 9115. 9041.  322. 9057.  332.  311. 9045.
 9092.  435. 9084. 9049. 9079.  425. 9108. 9185. 9069.  490.  507. 9054.
 9180. 9081. 9083. 9071. 9048. 9107. 9101.  342. 9120.  460.  329. 9111.
 9110. 9094.  333.  301. 9165. 9210.  309.  323. 9102.  506. 9125.  334.
   87.  389.  326.   70. 9170. 9124.   86.  424. 9118.  353. 9160.  376.
  445.  319.  406.  412.  314. 9169.  366.  398.  433.  339.  379.  432.
   73.  348.  338.  351. 9066.  485.  475.  402.  313. 9089.  382.  470.
  609.  440.  388.  480.  441.  509.   74. 9103.  410.  337.  394.  354.
 9091.  331.  347. 9150.  422.  384. 9097.  363.  565.  453.  356.  393.
  396.  452.  341.  444.  367.  386.  518.   63.  392.  442.  511.  525.
  502.  603.  417.  600.  362.  369.  493.  364.  504.  436.  552.  404.
  401.  640. 9113.  510.  397.  447. 9047. 9164.  346.  416. 9114. 9122.
 9240. 9222.  399.  409.  517.  439.  540.  448. 9096.   81.   65.  383.
  437. 9154.  373.  527.  456.  391. 9117. 9037.  602.   56. 9130.  449.
 9044.  526.  429.  413. 9046.  488. 9051.  495. 9146. 9220.   77.  560.
  414.  469.   68.  407. 9152.  361.  515.  426. 9205.  505.  545. 9099.
   62.  387.  580.  520.  468.  621.  570.   72.  371. 9175. 9123.  411.
  503.  381.  483.   50. 9135.  403. 9138.  479.  543.   67.]

------------------------------------
HEIGHT3 - unique values:
[ 503.  502.  511.  505.  504.  506.  508.  501.  604.  602.  601.  509.
  500.  600.  507.  510.  603.  605.  411.  409.  408.  401.  410.  400.
  606.  608.  403.  607.  405. 9182. 9167. 9176.  611. 9175. 9183. 9171.
  701.  705. 9151. 9169. 9156. 9165. 9184. 9160. 9172. 9187. 9157. 9174.
 9170. 9161. 9190. 9152. 9164. 9188. 9149. 9162. 9150. 9168. 9145. 9155.
 9189. 9154.  407. 9180.  700. 9178.  300. 9163. 9173.  702. 9177.  709.
 9158. 9185. 9166. 9195. 9147. 9179. 9159. 9186. 9153.  406.  610. 9148.
  404.  609. 9140. 9105. 9181.  311. 9117. 9193.  306.  305. 9198.  402.
 9107. 9110. 9143. 9120. 9192.  704.  308. 9125.  703.  302. 9142.  706.
 9116. 9109. 9115. 9196.  711. 9127. 9100.  310. 9104. 9108. 9114. 9146.
  304. 9130. 9102. 9191. 9202. 9194. 9095. 9106.  708. 9200.]

------------------------------------
_METSTAT - unique values:
[ 2.  1. nan]

------------------------------------
_URBSTAT - unique values:
[ 1.  2. nan]

------------------------------------
_IMPRACE - unique values:
[1. 2. 4. 6. 5. 3.]

------------------------------------
_RFHLTH - unique values:
[1. 2.]

------------------------------------
_PHYS14D - unique values:
[1. 2. 3.]

------------------------------------
_MENT14D - unique values:
[1. 2. 3.]

------------------------------------
_HLTHPLN - unique values:
[1. 2.]

------------------------------------
_TOTINDA - unique values:
[2. 1.]

------------------------------------
_MICHD - unique values:
[ 2.  1. nan]

------------------------------------
_ASTHMS1 - unique values:
[3. 1. 2.]

------------------------------------
_DRDXAR2 - unique values:
[ 2.  1. nan]

------------------------------------
_PRACE2 - unique values:
[ 1.  2.  3.  5.  4.  7. nan]

------------------------------------
_MRACE2 - unique values:
[ 1.  2.  3.  6.  5.  4. nan]

------------------------------------
_HISPANC - unique values:
[2. 1.]

------------------------------------
_RACE1 - unique values:
[1. 2. 3. 7. 8. 5. 4.]

------------------------------------
_RACEG22 - unique values:
[1. 2.]

------------------------------------
_RACEGR4 - unique values:
[1. 2. 3. 4. 5.]

------------------------------------
_RACEPR1 - unique values:
[1. 2. 3. 6. 7. 5. 4.]

------------------------------------
_SEX - unique values:
[2. 1.]

------------------------------------
_AGEG5YR - unique values:
[13.  8.  5. 11. 10. 14. 12.  7.  6.  4.  3.  2.  1.]

------------------------------------
_AGE_G - unique values:
[6. 5. 3. 4. 2. 1.]

------------------------------------
HTIN4 - unique values:
[63. 62. 71. 65. 64. 66. 68. 61. 76. 74. 73. 69. 60. 72. 67. 70. 75. 77.
 59. 57. 56. 49. 58. 48. 78. 80. 51. 79. 53. nan 83. 85. 89. 55. 84. 36.
 86. 93. 54. 82. 52. 81. 47. 42. 41. 50. 88. 44. 87. 38. 90. 95. 46. 40.
 92.]

------------------------------------
HTM4 - unique values:
[160. 157. 180. 165. 163. 168. 173. 155. 193. 188. 185. 175. 152. 183.
 170. 178. 191. 196. 150. 145. 142. 124. 147. 122. 198. 203. 130. 201.
 135. 182. 167. 176. 211. 171. 216. 226. 151. 169. 156. 184. 172. 187.
 174. 161. 190. 164. 149. 162. 189. 154. 140. 213.  91. 218. 177. 236.
 158. 166. 195. 179. 159. 186. 153. 137. 208. 148. 132. 206. 105. 181.
 119. 117. 107. 104. 127. 110. 143. 120. 192. 224. 112. 125. 221.  97.
 229. 116. 109. 115. 241. 100. 108. 114. 146. 102. 202. 194.  95. 106.
 234. 200.]

------------------------------------
WTKG3 - unique values:
[ 6804.  6350.  5398.  8482.  6260.  7348.  8165.  7484.  5942.  8528.
 10659.  7121.  6123.  9072.  6577.  8618. 10705.  5715. 10523.  7711.
  5670.  7938.  6441. 10206.  5987. 10433.  5352.  6169.  3447.  9979.
 12701.  7893.  5897.  9208.  4990.  8391. 11793.  7167. 10297.  6214.
  8346.  7257.  9435.  6078. 11703.  6532.  8845.  8981.  7439.  6895.
  7983.  9026. 11340.  5579.  9163.  4717.  9117.  4763.  8437. 14515.
  9389. 12247.  9525.  4899.  7394.  8890.  8074. 15876.  9752.  5171.
  8119.  8255.  7620.  6849.  7530.  5443.  7031.  6305.  6033. 11567.
  6622.  8664. 10886.  9253. 13608.  4309.  5851.  6396.  9299.  5080.
 12882.  9888.  4536.  4672.  5806.  7303.  9571. 13109.  7847.  6759.
 12020.  8800.  7802.  5488. 11158.  5216.  7756.  9480. 12383.  7575.
 11249.  8210. 10614.  5761.  7076.  9616.  6713.  4808. 16329. 10977.
 10070. 14288. 11068. 11113.  5534. 10160. 10841.  9344.  8936. 12066.
  4491.  8573. 13200. 10750.  3629. 10342.  8709.  8301.  5625.  9662.
  6940.  4944. 12202. 12655.  9843.  7666. 18144.  5262. 12156.  6486.
 11022.  4853. 14061. 11657.  6668.  9707.  8754. 12474.  9798. 11204.
 10024. 11748.  7212. 15422.  6985. 11839. 13381. 14969. 15195. 12927.
 13835. 13154.  4445. 10478. 13245. 10795. 10251. 11612.  4037. 10115.
 13698. 19504.  9934. 11431.  5307. 13290. 12428. 11294. 11476.  8029.
  4581. 11929. 16783.  5126.  4627. 12338.  3856. 14334. 11521. 16692.
 10932. 13562. 20412. 12973. 10569. 11975. 11884. 13925. 12610. 13517.
 10387. 12292. 14878. 17237. 12746. 13336.  5035. 12111. 11385. 13426.
  8000.  3719. 16239.  4173.  3538. 14424.  3765.  8600. 14742. 28100.
 16556. 16284. 15558. 13789. 13063. 20638. 14832.  4218.  9000. 17690.
 19187. 24948.  6700.  9500.  8200.  4400.  4082. 15649.  5300. 13971.
 13018.  4354. 13472. 14152. 12519.  7500.  4264.  3402. 25000.  5800.
  7300. 12791. 11200.  7400. 20000. 15241. 10000.  4128. 18824.  5900.
  7000. 17010. 26500. 16874. 14500.  5500.  6000. 15966.  7800. 18507.
 10400. 18370. 16193. 12565. 13400.  3221.  9300. 14379. 17917. 10500.
 21092.  6500.  3810. 29257.  7200. 12837. 19051.  6200.  3992.  7600.
 15604. 12100.  5000. 14696.  9800. 18960. 17146. 22725. 17463. 19006.
 16103.  3583. 16964. 22680.  8700.  6800. 13880. 24040. 15830.  6100.
 13744. 14560.  6400.  5600.  5200.  6300.  8500.  7700. 11500.  4100.
 14606.  5700. 15059. 14107.  4500.  9200. 19731.  8400.  4900.  7900.
 19278. 10800. 18500.  6900. 22226. 22997.  5400. 18000.  8100.  8300.
  7100.  4800. 10700. 10100. 15513. 12000. 20865. 14923. 11100. 11000.
  9400. 15105. 13653. 16500. 21000. 14016. 14651. 10200. 22952. 12500.
 15150.  3946. 17645. 14787.  3175. 17000. 12400.  3901. 19232. 11800.
 16012. 16000. 17055. 20185. 14470. 18416. 18688. 14243. 16900. 16601.
 18053. 19641. 15377. 17191. 19595.  3311. 15785. 15331. 15921.  6600.
 21999. 21546. 18234. 14197.  8900. 17327. 21319. 27624. 19958. 17599.
 21772. 20003. 23088.  3357. 10300. 18597. 15286. 17872. 16057.  9100.
 15014. 15740. 15000. 19142. 17418.  9700. 16465. 25628. 20548. 16148.
 17826. 17962. 20502. 15468. 20140. 16647. 17509. 23496.  2858. 17781.
 20049. 23179. 23814. 22770. 27352. 18915. 27216. 16420. 16738. 22362.
 16511. 22861. 19777. 25038. 18325. 18189. 29030. 11300. 23133. 18008.
 20276.  4700. 16400. 15694. 18869. 11400. 12200. 24000. 22200. 18098.
 18552. 23451. 19913. 24494. 20321.  9600.  3674.  2948. 17373. 19822.
 15400. 16919. 23904. 20684. 17735. 11700.  3700. 27306.  2540. 13000.
 20366. 23859. 19459. 18733.  4600. 22135.  5100. 22453. 14600. 22000.
  3493. 25401. 18779. 21273.  3084. 18461. 15200. 16375. 23360. 19323.
 20500. 22906. 24721.  9900.  2812. 17554. 26308. 23587. 21228. 28168.
 25855.  3266. 16828. 17500. 12300. 18643. 22816. 17282. 21909.  2268.
 13500. 18280. 13800. 21727. 24630.  3039.]

------------------------------------
_BMI5 - unique values:
[2657. 2561. 2177. ... 2839. 4863. 1735.]

------------------------------------
_BMI5CAT - unique values:
[3. 2. 4. 1.]

------------------------------------
_RFBMI5 - unique values:
[2. 1.]

------------------------------------
_RFSMOK3 - unique values:
[1. 2.]

------------------------------------
_CURECI2 - unique values:
[1. 2.]

------------------------------------
DRNKANY6 - unique values:
[2. 1.]

------------------------------------
DROCDY4_ - unique values:
[5.39760535e-79 1.00000000e+01 1.70000000e+01 3.00000000e+00
 7.00000000e+00 1.30000000e+01 8.60000000e+01 2.90000000e+01
 1.40000000e+01 3.30000000e+01 1.00000000e+02 8.30000000e+01
 9.70000000e+01 4.30000000e+01 9.30000000e+01 7.10000000e+01
 5.70000000e+01 2.70000000e+01 2.00000000e+01 5.00000000e+01
 6.70000000e+01 4.00000000e+01 2.30000000e+01 5.30000000e+01
 3.00000000e+01 4.70000000e+01 7.00000000e+01 6.00000000e+01
 9.00000000e+01 8.70000000e+01 7.30000000e+01 7.70000000e+01
 8.00000000e+01 3.70000000e+01 6.30000000e+01]

------------------------------------
_RFBING6 - unique values:
[1. 2.]

------------------------------------
_DRNKWK2 - unique values:
[5.39760535e-79 1.40000000e+02 2.33000000e+02 2.30000000e+01
 9.30000000e+01 1.17000000e+02 2.80000000e+02 7.00000000e+01
 1.20000000e+03 4.70000000e+01 2.00000000e+02 7.00000000e+02
 4.00000000e+02 1.00000000e+02 1.40000000e+03 1.16700000e+03
 1.87000000e+02 6.00000000e+02 5.83000000e+02 1.35300000e+03
 9.00000000e+02 2.10000000e+03 1.30700000e+03 1.00000000e+03
 4.67000000e+02 8.00000000e+02 2.80000000e+03 5.60000000e+02
 2.10000000e+02 3.60000000e+03 3.50000000e+02 1.86700000e+03
 3.00000000e+02 5.00000000e+02 4.20000000e+03 1.50000000e+03
 9.33000000e+02 3.27000000e+02 4.90000000e+02 1.60000000e+03
 1.63000000e+02 2.40000000e+03 2.33300000e+03 7.47000000e+02
 1.19000000e+03 5.60000000e+03 1.05000000e+03 1.12000000e+03
 3.73000000e+02 4.06000000e+03 3.50000000e+03 1.96000000e+03
 8.40000000e+02 4.90000000e+03 1.26000000e+03 2.00000000e+03
 4.20000000e+02 1.68000000e+03 2.70700000e+03 3.20000000e+03
 3.03300000e+03 2.28700000e+03 6.53000000e+02 8.40000000e+03
 4.57300000e+03 2.24000000e+03 6.30000000e+02 1.75000000e+03
 7.00000000e+03 1.80000000e+03 2.61300000e+03 1.82000000e+03
 1.40000000e+04 6.77000000e+02 9.80000000e+02 4.66700000e+03
 1.21300000e+03 5.13000000e+02 1.54000000e+03 2.45000000e+04
 3.26700000e+03 6.30000000e+03 2.42700000e+03 2.38000000e+03
 3.00000000e+03 1.61000000e+03 1.02700000e+03 1.63300000e+03
 8.17000000e+02 1.47000000e+03 1.89000000e+03 5.88000000e+03
 1.68000000e+04 4.00000000e+03 2.52000000e+03 7.20000000e+03
 2.91700000e+03 3.03000000e+02 6.07000000e+02 3.50000000e+04
 1.08270000e+04 4.08300000e+03 2.03000000e+03 3.36000000e+03
 2.70000000e+03 1.49300000e+03 1.05000000e+04 7.70000000e+02
 3.30000000e+03 3.64000000e+03 4.80000000e+03 2.10000000e+04
 1.12000000e+04 1.02670000e+04 1.00000000e+04 3.08000000e+03
 2.33330000e+04 1.26000000e+04 5.83300000e+03 2.50000000e+03
 7.70000000e+03 6.00000000e+03 3.97000000e+02 1.04530000e+04
 3.15000000e+03 5.22700000e+03 3.92000000e+03 4.73700000e+03
 3.04000000e+04 2.45000000e+03 2.28000000e+04 7.93000000e+02
 5.25000000e+03 9.10000000e+02 1.33000000e+03 2.56700000e+03
 1.10000000e+03 6.53300000e+03 4.85300000e+03 1.07300000e+03
 5.00000000e+03 3.78000000e+03 5.37000000e+02 7.93300000e+03
 9.33300000e+03 2.77700000e+03 2.05300000e+03 6.76700000e+03
 4.50000000e+03 3.73300000e+03 2.57000000e+02 1.98300000e+03
 9.80000000e+03 1.14300000e+03 2.00000000e+04 9.47300000e+03
 5.32000000e+04 8.12000000e+03 8.87000000e+02 6.72000000e+03
 6.16000000e+03 1.58700000e+03 5.32000000e+03 5.64700000e+03
 5.04000000e+03 1.79700000e+03 3.40670000e+04 2.14700000e+03
 3.38300000e+03 7.84000000e+03 5.40000000e+03 1.98000000e+04
 1.19000000e+04 6.60000000e+03 1.86670000e+04 4.41000000e+03
 5.13300000e+03 1.75000000e+04 6.06700000e+03 4.43000000e+02
 9.00000000e+03 7.50000000e+03 2.60000000e+03 7.35000000e+03
 4.48000000e+03 9.60000000e+03 3.85000000e+03 2.94000000e+03
 6.37000000e+03 1.14000000e+04 5.36700000e+03 2.50000000e+04
 4.20000000e+04 8.00000000e+03 1.20000000e+04 3.57000000e+03
 5.97300000e+03 9.10000000e+03 1.17600000e+04 4.90000000e+04
 3.48000000e+04 3.96700000e+03 1.50000000e+04 1.51700000e+03
 1.54000000e+04 8.05000000e+03 1.30670000e+04 3.54700000e+03
 3.36000000e+04 1.00800000e+04 2.68300000e+03 1.77300000e+03
 2.12300000e+03 3.85000000e+04 2.09070000e+04 1.28300000e+03
 3.22000000e+04 4.62000000e+03 2.80000000e+04 1.47000000e+04
 4.83000000e+04 7.09300000e+03 4.76000000e+03 8.49300000e+03
 5.95000000e+03 4.43300000e+03 4.24700000e+03 2.43600000e+04
 1.08000000e+04 1.30000000e+03 3.17300000e+03 7.56000000e+03
 2.30000000e+03 6.80000000e+03 3.43000000e+03 5.41300000e+03
 2.20000000e+03 1.56800000e+04 2.98700000e+03 1.61000000e+04
 4.29300000e+03 5.04000000e+04 4.55000000e+04 2.31000000e+03
 5.50000000e+03 7.28000000e+03 4.55000000e+03 1.34170000e+04
 1.01500000e+04 3.15000000e+04 1.45830000e+04 3.22000000e+03
 6.09000000e+03 6.86000000e+03 2.25000000e+04 1.28000000e+04]

------------------------------------
_RFDRHV8 - unique values:
[1. 2.]

------------------------------------

In [54]:
#Dropping na's from df
na_cleaned_df = df_copy.dropna()
na_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 269534 entries, 1 to 435824
Data columns (total 36 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   269534 non-null  float64
 1   HEIGHT3   269534 non-null  float64
 2   _METSTAT  269534 non-null  float64
 3   _URBSTAT  269534 non-null  float64
 4   _IMPRACE  269534 non-null  float64
 5   _RFHLTH   269534 non-null  float64
 6   _PHYS14D  269534 non-null  float64
 7   _MENT14D  269534 non-null  float64
 8   _HLTHPLN  269534 non-null  float64
 9   _TOTINDA  269534 non-null  float64
 10  _MICHD    269534 non-null  float64
 11  _ASTHMS1  269534 non-null  float64
 12  _DRDXAR2  269534 non-null  float64
 13  _PRACE2   269534 non-null  float64
 14  _MRACE2   269534 non-null  float64
 15  _HISPANC  269534 non-null  float64
 16  _RACE1    269534 non-null  float64
 17  _RACEG22  269534 non-null  float64
 18  _RACEGR4  269534 non-null  float64
 19  _RACEPR1  269534 non-null  float64
 20  _SEX      269534 non-null  float64
 21  _AGEG5YR  269534 non-null  float64
 22  _AGE_G    269534 non-null  float64
 23  HTIN4     269534 non-null  float64
 24  HTM4      269534 non-null  float64
 25  WTKG3     269534 non-null  float64
 26  _BMI5     269534 non-null  float64
 27  _BMI5CAT  269534 non-null  float64
 28  _RFBMI5   269534 non-null  float64
 29  _RFSMOK3  269534 non-null  float64
 30  _CURECI2  269534 non-null  float64
 31  DRNKANY6  269534 non-null  float64
 32  DROCDY4_  269534 non-null  float64
 33  _RFBING6  269534 non-null  float64
 34  _DRNKWK2  269534 non-null  float64
 35  _RFDRHV8  269534 non-null  float64
dtypes: float64(36)
memory usage: 76.1 MB

In [55]:
na_cleaned_df.head(10)

,WEIGHT2,HEIGHT3,_METSTAT,_URBSTAT,_IMPRACE,_RFHLTH,_PHYS14D,_MENT14D,_HLTHPLN,_TOTINDA,_MICHD,_ASTHMS1,_DRDXAR2,_PRACE2,_MRACE2,_HISPANC,_RACE1,_RACEG22,_RACEGR4,_RACEPR1,_SEX,_AGEG5YR,_AGE_G,HTIN4,HTM4,WTKG3,_BMI5,_BMI5CAT,_RFBMI5,_RFSMOK3,_CURECI2,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8
1,150.0,503.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,13.0,6.0,63.0,160.0,6804.0,2657.0,3.0,2.0,1.0,1.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0
2,140.0,502.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,8.0,5.0,62.0,157.0,6350.0,2561.0,3.0,2.0,1.0,1.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0
4,119.0,502.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,5.0,3.0,62.0,157.0,5398.0,2177.0,2.0,1.0,1.0,1.0,1.0,1.000000e+01,1.0,1.400000e+02,1.0
5,187.0,511.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,1.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,13.0,6.0,71.0,180.0,8482.0,2608.0,3.0,2.0,1.0,1.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0
6,138.0,505.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,13.0,6.0,65.0,165.0,6260.0,2296.0,2.0,1.0,1.0,1.0,1.0,1.700000e+01,1.0,2.330000e+02,1.0
7,162.0,504.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,13.0,6.0,64.0,163.0,7348.0,2781.0,3.0,2.0,1.0,1.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0
9,180.0,506.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,11.0,6.0,66.0,168.0,8165.0,2905.0,3.0,2.0,1.0,1.0,1.0,3.000000e+00,1.0,2.300000e+01,1.0
10,165.0,503.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,13.0,6.0,63.0,160.0,7484.0,2923.0,3.0,2.0,1.0,1.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0
11,131.0,503.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,13.0,6.0,63.0,160.0,5942.0,2321.0,2.0,1.0,1.0,1.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0
12,188.0,508.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,8.0,5.0,68.0,173.0,8528.0,2859.0,3.0,2.0,1.0,1.0,1.0,7.000000e+00,1.0,9.300000e+01,1.0

In [56]:
df_final = na_cleaned_df.copy()
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 269534 entries, 1 to 435824
Data columns (total 36 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   WEIGHT2   269534 non-null  float64
 1   HEIGHT3   269534 non-null  float64
 2   _METSTAT  269534 non-null  float64
 3   _URBSTAT  269534 non-null  float64
 4   _IMPRACE  269534 non-null  float64
 5   _RFHLTH   269534 non-null  float64
 6   _PHYS14D  269534 non-null  float64
 7   _MENT14D  269534 non-null  float64
 8   _HLTHPLN  269534 non-null  float64
 9   _TOTINDA  269534 non-null  float64
 10  _MICHD    269534 non-null  float64
 11  _ASTHMS1  269534 non-null  float64
 12  _DRDXAR2  269534 non-null  float64
 13  _PRACE2   269534 non-null  float64
 14  _MRACE2   269534 non-null  float64
 15  _HISPANC  269534 non-null  float64
 16  _RACE1    269534 non-null  float64
 17  _RACEG22  269534 non-null  float64
 18  _RACEGR4  269534 non-null  float64
 19  _RACEPR1  269534 non-null  float64
 20  _SEX      269534 non-null  float64
 21  _AGEG5YR  269534 non-null  float64
 22  _AGE_G    269534 non-null  float64
 23  HTIN4     269534 non-null  float64
 24  HTM4      269534 non-null  float64
 25  WTKG3     269534 non-null  float64
 26  _BMI5     269534 non-null  float64
 27  _BMI5CAT  269534 non-null  float64
 28  _RFBMI5   269534 non-null  float64
 29  _RFSMOK3  269534 non-null  float64
 30  _CURECI2  269534 non-null  float64
 31  DRNKANY6  269534 non-null  float64
 32  DROCDY4_  269534 non-null  float64
 33  _RFBING6  269534 non-null  float64
 34  _DRNKWK2  269534 non-null  float64
 35  _RFDRHV8  269534 non-null  float64
dtypes: float64(36)
memory usage: 76.1 MB

In [57]:
# checkin unique values in final clean df

for col in df_final:
    print(f"{col} - unique values: ")
    print(df_final[col].unique(), "\n")
    print("------------------------------------")

WEIGHT2 - unique values:
[ 150.  140.  119.  187.  138.  162.  180.  165.  131.  188.  235.  157.
  135.  200.  145.  190.  236.  126.  232.  170.  125.  175.  142.  225.
  132.  230.  118.  136.   76.  220.  280.  174.  130.  203.  110.  185.
  260.  158.  227.  137.  184.  160.  208.  134.  258.  144.  195.  198.
  164.  152.  176.  199.  250.  123.  202.  104.  201.  105.  186.  320.
  207.  210.  108.  163.  196.  178.  350.  215.  114.  179.  182.  168.
  151.  166.  120.  155.  139.  133.  255.  146.  191.  240.  204.  300.
   95.  129.  141.  205.  112.  284.  218.  100.  103.  128.  161.  211.
  289.  173.  149.  265.  194.  172.  270.  121.  246.  115.  171.  209.
  273.  167.  248.  181.  234.  127.  156.  212.  148.  106.  360.  242.
  222.  315.  244.  245.  122.  224.  239.  206.  197.  266.   99.  189.
  291.  237.   80.  228.  192.  183.  124.  213.  153.  109.  269.  279.
  217.  169.  400.  116.  268.  143.  243.  107.  310.  257.  147.  214.
  193.  275.  216.  247.  221.  259.  159.  340.  154.  261.  295.  330.
  335.  285.  305.  290.   98.  231.  292.  238.  226.  256.   89.  223.
  302.  430.  219.  252.  117.  293.  274.  249.  253.  177.  101.  263.
  370.  113.  102.  272.  316.  254.  368.  241.  299.  450.  286.  233.
  264.  262.  307.  278.   85.  298.  229.  271.  328.  380.  281.  294.
  111.  267.  251.  296.   82.  358.   92.   78.  318.   83. 9086.  325.
 9281.  365.  359.  343.  304.  288.  455.  327.   93. 9090.  390.  423.
  550. 9067. 9095.   97.   90.  345. 9053.  308.  287.   96.  297.  312.
  276.   94.   75. 9250. 9058. 9073.  282. 9112. 9074. 9200. 9082.  336.
   91.  415.  375. 9265.  372. 9055.  352.  408.  405.  357.  277. 9134.
   71. 9093.  317.  395.  465.   84.  645.  283.  420.   88.  344. 9121.
  324. 9098.  418.  378.  501.  385.  419.  355.   79.  374.  500. 9087.
 9068.  306.  530.  349.  303.  321. 9056. 9080. 9050. 9078. 9063. 9070.
 9075. 9077. 9085. 9076. 9041.  322. 9065. 9057.  332.  311. 9045.  435.
 9060. 9049.  425. 9185. 9061. 9084.  490.  507. 9054. 9062. 9101.  342.
  460.  329. 9072.  333. 9059. 9064.  301.  309.  323. 9092. 9102.  506.
  334.   87. 9071.  389.  326. 9069.   70. 9170. 9124.   86.  424. 9118.
  353.  376.  445.  319.  406.  412.  314.  366.  398.  433.  339. 9081.
  379.  432.   73.  348.  338.  351.  485.  475. 9079.  402.  313. 9089.
  382. 9066.  470. 9115.  609.  440.  388. 9048.  480.  441.  509.   74.
 9052.  410. 9100. 9110.  337.  394.  354. 9091.  331.  347. 9145. 9150.
  422.  384. 9088.  363.  565.  453.  356.  393.  396.  452.  341.  444.
  367.  386.  518.   63.  392.  442.  511.  525.  502.  603.  417.  600.
  362.  369.  493.  364.  504.  436. 9108. 9083.  552.  404.  401. 9094.
  640.  510.  397.  447. 9047. 9180.  346.  416. 9114. 9122. 9240. 9222.
  399. 9107.  409.  517.  439.  540.  448.   81.   65.  383.  437. 9120.
 9154.  373.  527.  456.  391.  602.   56. 9130.  449.  526.  429. 9113.
  413.  488.  495. 9146.   77.  560.  414.  469.   68.  407. 9152.  361.
  515.  426. 9205.  505.  545.   62.  387.  580.  520.  468.  621.   72.
  371. 9175. 9123.  411.  503.  381.  483.   50. 9097. 9103.  403. 9138.
  479. 9160.  543.]

------------------------------------
HEIGHT3 - unique values:
[503. 502. 511. 505. 504. 506. 508. 501. 604. 602. 601. 509. 500. 600.
 507. 510. 603. 605. 411. 409. 408. 401. 410. 400. 606. 608. 403. 607.
 405. 611. 705. 701. 407. 700. 300. 702. 709. 406. 610. 404. 609. 311.
 306. 305. 402. 704. 308. 703. 302. 706. 711. 310. 304. 708.]

------------------------------------
_METSTAT - unique values:
[2. 1.]

------------------------------------
_URBSTAT - unique values:
[1. 2.]

------------------------------------
_IMPRACE - unique values:
[1. 2. 4. 6. 5. 3.]

------------------------------------
_RFHLTH - unique values:
[1. 2.]

------------------------------------
_PHYS14D - unique values:
[1. 2. 3.]

------------------------------------
_MENT14D - unique values:
[1. 2. 3.]

------------------------------------
_HLTHPLN - unique values:
[1. 2.]

------------------------------------
_TOTINDA - unique values:
[2. 1.]

------------------------------------
_MICHD - unique values:
[2. 1.]

------------------------------------
_ASTHMS1 - unique values:
[3. 1. 2.]

------------------------------------
_DRDXAR2 - unique values:
[2. 1.]

------------------------------------
_PRACE2 - unique values:
[1. 2. 3. 5. 4. 7.]

------------------------------------
_MRACE2 - unique values:
[1. 2. 3. 6. 5. 4.]

------------------------------------
_HISPANC - unique values:
[2. 1.]

------------------------------------
_RACE1 - unique values:
[1. 2. 3. 7. 8. 5. 4.]

------------------------------------
_RACEG22 - unique values:
[1. 2.]

------------------------------------
_RACEGR4 - unique values:
[1. 2. 3. 4. 5.]

------------------------------------
_RACEPR1 - unique values:
[1. 2. 3. 6. 7. 5. 4.]

------------------------------------
_SEX - unique values:
[2. 1.]

------------------------------------
_AGEG5YR - unique values:
[13.  8.  5. 11. 10. 14. 12.  7.  6.  4.  3.  2.  1.]

------------------------------------
_AGE_G - unique values:
[6. 5. 3. 4. 2. 1.]

------------------------------------
HTIN4 - unique values:
[63. 62. 71. 65. 64. 66. 68. 61. 76. 74. 73. 69. 60. 72. 67. 70. 75. 77.
 59. 57. 56. 49. 58. 48. 78. 80. 51. 79. 53. 83. 89. 85. 55. 84. 36. 86.
 93. 54. 82. 52. 81. 47. 42. 41. 50. 88. 44. 87. 38. 90. 95. 46. 40. 92.]

------------------------------------
HTM4 - unique values:
[160. 157. 180. 165. 163. 168. 173. 155. 193. 188. 185. 175. 152. 183.
 170. 178. 191. 196. 150. 145. 142. 124. 147. 122. 198. 203. 130. 201.
 135. 211. 226. 216. 140. 213.  91. 218. 236. 137. 208. 132. 206. 119.
 107. 104. 127. 224. 112. 221.  97. 229. 241. 117. 102. 234.]

------------------------------------
WTKG3 - unique values:
[ 6804.  6350.  5398.  8482.  6260.  7348.  8165.  7484.  5942.  8528.
 10659.  7121.  6123.  9072.  6577.  8618. 10705.  5715. 10523.  7711.
  5670.  7938.  6441. 10206.  5987. 10433.  5352.  6169.  3447.  9979.
 12701.  7893.  5897.  9208.  4990.  8391. 11793.  7167. 10297.  6214.
  8346.  7257.  9435.  6078. 11703.  6532.  8845.  8981.  7439.  6895.
  7983.  9026. 11340.  5579.  9163.  4717.  9117.  4763.  8437. 14515.
  9389.  9525.  4899.  7394.  8890.  8074. 15876.  9752.  5171.  8119.
  8255.  7620.  6849.  7530.  5443.  7031.  6305.  6033. 11567.  6622.
  8664. 10886.  9253. 13608.  4309.  5851.  6396.  9299.  5080. 12882.
  9888.  4536.  4672.  5806.  7303.  9571. 13109.  7847.  6759. 12020.
  8800.  7802. 12247.  5488. 11158.  5216.  7756.  9480. 12383.  7575.
 11249.  8210. 10614.  5761.  7076.  9616.  6713.  4808. 16329. 10977.
 10070. 14288. 11068. 11113.  5534. 10160. 10841.  9344.  8936. 12066.
  4491.  8573. 13200. 10750.  3629. 10342.  8709.  8301.  5625.  9662.
  6940.  4944. 12202. 12655.  9843.  7666. 18144.  5262. 12156.  6486.
 11022.  4853. 14061. 11657.  6668.  9707.  8754. 12474.  9798. 11204.
 10024. 11748.  7212. 15422.  6985. 11839. 13381. 14969. 15195. 12927.
 13835. 13154.  4445. 10478. 13245. 10795. 10251. 11612.  4037. 10115.
 13698. 19504.  9934. 11431.  5307. 13290. 12428. 11294. 11476.  8029.
  4581. 11929. 16783.  5126.  4627. 12338. 14334. 11521. 16692. 10932.
 13562. 20412. 12973. 10569. 11975. 11884. 13925. 12610.  3856. 13517.
 10387. 12292. 14878. 17237. 12746. 13336.  5035. 12111. 11385. 13426.
  3719. 16239.  4173.  3538. 14424.  3765.  8600. 14742. 28100. 16556.
 16284. 15558. 13789. 13063. 20638. 14832.  4218.  9000. 17690. 19187.
 24948.  6700.  9500.  4400.  4082. 15649.  5300. 13971. 13018.  4354.
 13472. 14152. 12519.  4264.  3402. 25000.  5800.  7300. 12791. 11200.
  7400. 20000.  8200. 15241.  4128. 18824. 17010. 26500. 16874.  5500.
 15966. 18507. 18370. 16193. 12565. 13400.  3221.  9300. 14379. 17917.
 21092.  3810. 29257. 12837. 19051.  3992. 15604. 12100. 14696.  9800.
 18960. 17146. 22725. 17463. 19006. 16103.  3583. 16964. 22680.  8700.
  6800. 13880. 24040. 15830. 13744. 14560.  5600.  8000.  5000.  7800.
  6300.  7000.  7500.  7700.  8500.  7600.  4100. 14606.  6500.  5700.
 15059. 14107.  4500. 19731.  6000.  4900. 19278. 18500.  6100.  8400.
 22226. 22997.  5400.  6200. 10100. 15513. 20865. 14923.  7200. 15105.
  5900.  6400. 13653. 14016. 14651.  9200. 10200. 22952. 15150.  3946.
  7100. 17645. 14787.  6900.  3175. 17000. 12400.  3901. 19232. 11800.
 16012. 17055. 20185. 14470. 18416. 18688. 14243. 16601. 18053. 19641.
 15377.  8100. 17191. 19595.  3311. 15785. 15331. 15921. 21999. 21546.
  7900. 18234. 14197.  8900. 17327.  6600. 21319. 11500. 27624. 19958.
 17599.  4800. 21772. 20003. 23088.  3357.  5200. 18597. 10000. 11000.
 15286. 17872. 16057.  9100. 15014. 15740. 14500. 15000. 19142. 17418.
 16465. 25628. 20548. 16148. 17826. 17962. 20502. 15468. 20140. 16647.
 17509. 23496.  2858. 17781. 20049. 23179. 23814. 22770. 27352. 18915.
 27216. 16420. 16738. 22362. 16511. 22861. 19777. 10800.  8300. 25038.
 18325. 18189.  9400. 29030. 23133. 18008. 20276.  4700. 18000. 15694.
 18869. 11400. 12200. 24000. 22200. 18098. 10700. 18552. 23451. 19913.
 24494. 20321.  3674.  2948. 17373. 19822. 12000. 15400. 16919. 23904.
 20684. 17735. 27306.  2540. 13000. 20366. 23859. 19459. 11300. 18733.
 22135. 22453. 14600.  3493. 25401. 18779. 21273.  3084. 18461. 15200.
 16375. 23360. 19323. 20500. 22906. 24721.  2812. 17554. 26308. 23587.
 21228. 28168.  3266. 16828. 17500. 12300. 18643. 22816. 17282. 21909.
  2268.  9700. 10300. 18280. 13800. 21727. 16000. 24630.]

------------------------------------
_BMI5 - unique values:
[2657. 2561. 2177. ... 3385. 4804. 6288.]

------------------------------------
_BMI5CAT - unique values:
[3. 2. 4. 1.]

------------------------------------
_RFBMI5 - unique values:
[2. 1.]

------------------------------------
_RFSMOK3 - unique values:
[1. 2.]

------------------------------------
_CURECI2 - unique values:
[1. 2.]

------------------------------------
DRNKANY6 - unique values:
[2. 1.]

------------------------------------
DROCDY4_ - unique values:
[5.39760535e-79 1.00000000e+01 1.70000000e+01 3.00000000e+00
 7.00000000e+00 1.30000000e+01 8.60000000e+01 2.90000000e+01
 1.40000000e+01 3.30000000e+01 1.00000000e+02 8.30000000e+01
 9.70000000e+01 4.30000000e+01 9.30000000e+01 7.10000000e+01
 5.70000000e+01 2.70000000e+01 2.00000000e+01 5.00000000e+01
 6.70000000e+01 4.00000000e+01 2.30000000e+01 5.30000000e+01
 3.00000000e+01 4.70000000e+01 7.00000000e+01 6.00000000e+01
 9.00000000e+01 8.70000000e+01 7.30000000e+01 7.70000000e+01
 8.00000000e+01 3.70000000e+01 6.30000000e+01]

------------------------------------
_RFBING6 - unique values:
[1. 2.]

------------------------------------
_DRNKWK2 - unique values:
[5.39760535e-79 1.40000000e+02 2.33000000e+02 2.30000000e+01
 9.30000000e+01 1.17000000e+02 2.80000000e+02 7.00000000e+01
 1.20000000e+03 4.70000000e+01 2.00000000e+02 7.00000000e+02
 4.00000000e+02 1.00000000e+02 1.40000000e+03 1.16700000e+03
 1.87000000e+02 6.00000000e+02 5.83000000e+02 1.35300000e+03
 9.00000000e+02 2.10000000e+03 1.30700000e+03 1.00000000e+03
 4.67000000e+02 8.00000000e+02 2.80000000e+03 5.60000000e+02
 2.10000000e+02 3.60000000e+03 3.50000000e+02 1.86700000e+03
 3.00000000e+02 5.00000000e+02 4.20000000e+03 1.50000000e+03
 9.33000000e+02 3.27000000e+02 4.90000000e+02 1.60000000e+03
 1.63000000e+02 2.40000000e+03 2.33300000e+03 7.47000000e+02
 1.19000000e+03 5.60000000e+03 1.05000000e+03 1.12000000e+03
 3.73000000e+02 4.06000000e+03 3.50000000e+03 1.96000000e+03
 8.40000000e+02 4.90000000e+03 1.26000000e+03 2.00000000e+03
 4.20000000e+02 1.68000000e+03 2.70700000e+03 3.20000000e+03
 3.03300000e+03 2.28700000e+03 6.53000000e+02 8.40000000e+03
 4.57300000e+03 2.24000000e+03 6.30000000e+02 1.75000000e+03
 7.00000000e+03 1.80000000e+03 2.61300000e+03 1.82000000e+03
 1.40000000e+04 6.77000000e+02 9.80000000e+02 4.66700000e+03
 1.21300000e+03 5.13000000e+02 1.54000000e+03 2.45000000e+04
 3.26700000e+03 2.42700000e+03 2.38000000e+03 3.00000000e+03
 1.61000000e+03 1.02700000e+03 1.63300000e+03 8.17000000e+02
 1.47000000e+03 1.89000000e+03 5.88000000e+03 1.68000000e+04
 4.00000000e+03 2.52000000e+03 7.20000000e+03 2.91700000e+03
 3.03000000e+02 6.07000000e+02 3.50000000e+04 1.08270000e+04
 4.08300000e+03 2.03000000e+03 3.36000000e+03 2.70000000e+03
 1.49300000e+03 1.05000000e+04 7.70000000e+02 3.30000000e+03
 3.64000000e+03 4.80000000e+03 2.10000000e+04 1.12000000e+04
 1.02670000e+04 1.00000000e+04 3.08000000e+03 2.33330000e+04
 1.26000000e+04 5.83300000e+03 2.50000000e+03 7.70000000e+03
 6.00000000e+03 3.97000000e+02 1.04530000e+04 3.15000000e+03
 5.22700000e+03 3.92000000e+03 4.73700000e+03 3.04000000e+04
 2.45000000e+03 2.28000000e+04 7.93000000e+02 9.10000000e+02
 1.33000000e+03 2.56700000e+03 1.10000000e+03 6.53300000e+03
 4.85300000e+03 1.07300000e+03 5.00000000e+03 3.78000000e+03
 5.37000000e+02 7.93300000e+03 9.33300000e+03 2.77700000e+03
 5.25000000e+03 2.05300000e+03 6.76700000e+03 4.50000000e+03
 1.98300000e+03 9.80000000e+03 1.14300000e+03 2.00000000e+04
 9.47300000e+03 2.57000000e+02 5.32000000e+04 8.12000000e+03
 8.87000000e+02 3.73300000e+03 6.72000000e+03 6.16000000e+03
 1.58700000e+03 5.32000000e+03 5.64700000e+03 5.04000000e+03
 1.79700000e+03 3.40670000e+04 6.30000000e+03 2.14700000e+03
 3.38300000e+03 7.84000000e+03 5.40000000e+03 1.98000000e+04
 1.19000000e+04 6.60000000e+03 1.86670000e+04 4.41000000e+03
 5.13300000e+03 1.75000000e+04 6.06700000e+03 4.43000000e+02
 9.00000000e+03 7.50000000e+03 2.60000000e+03 7.35000000e+03
 4.48000000e+03 9.60000000e+03 3.85000000e+03 2.94000000e+03
 6.37000000e+03 1.14000000e+04 5.36700000e+03 2.50000000e+04
 4.20000000e+04 8.00000000e+03 1.20000000e+04 3.57000000e+03
 5.97300000e+03 9.10000000e+03 1.17600000e+04 4.90000000e+04
 3.48000000e+04 3.96700000e+03 1.50000000e+04 1.51700000e+03
 1.54000000e+04 8.05000000e+03 1.30670000e+04 3.54700000e+03
 3.36000000e+04 1.00800000e+04 2.68300000e+03 1.77300000e+03
 2.12300000e+03 3.85000000e+04 2.09070000e+04 1.28300000e+03
 3.22000000e+04 4.62000000e+03 2.80000000e+04 1.47000000e+04
 4.83000000e+04 7.09300000e+03 4.76000000e+03 8.49300000e+03
 5.95000000e+03 4.43300000e+03 4.24700000e+03 2.43600000e+04
 1.08000000e+04 1.30000000e+03 3.17300000e+03 7.56000000e+03
 2.30000000e+03 6.80000000e+03 3.43000000e+03 5.41300000e+03
 2.20000000e+03 1.56800000e+04 2.98700000e+03 1.61000000e+04
 4.29300000e+03 5.04000000e+04 4.55000000e+04 2.31000000e+03
 5.50000000e+03 7.28000000e+03 4.55000000e+03 1.34170000e+04
 1.01500000e+04 3.15000000e+04 1.45830000e+04 3.22000000e+03]

------------------------------------
_RFDRHV8 - unique values:
[1. 2.]

------------------------------------

# Visualization

- Before starting visuals, need to look back over weights and heights to potentially standarize to metric or standard measurements

- also relook at _AGEG5YR

# Plotting Distributions for BMI

import matplotlib.pyplot as plt

column_name = '_BMI5'

# Plot histogram
plt.figure(figsize=(10, 10))
plt.hist((df_final[column_name] % 100), bins=10, color='skyblue', edgecolor='black')
plt.title('Histogram of ' + column_name)
plt.xlabel(column_name)
plt.ylabel('Frequency')
plt.grid(True)
plt.show()

Upon observation of the distribution, there seems to be an even spread of data across which I find odd for the dataset. What seems out of place is the high amount entries with extremely high BMI's. I plan to look closer into the data to see why this might be.

column_name = '_BMI5'

# Plot box plot
plt.figure(figsize=(8, 6))
plt.boxplot(df[column_name])
plt.title('Box Plot of ' + column_name)
plt.ylabel(column_name)
plt.grid(True)
plt.show()

#_BMI5CAT

column_name = '_RFBMI5'


# Plot histogram
plt.figure(figsize=(8, 6))
plt.hist(df_clean[column_name], bins=20, color='skyblue', edgecolor='black')
plt.title('Histogram of ' + column_name)
plt.xlabel(column_name)
plt.ylabel('Frequency')
plt.grid(True)
plt.show()

In [ ]:
# checking weights categories for any abnormal values